Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

bug fixes
  backend/typescript/graphql/resolvers/authResolvers.ts
  backend/typescript/graphql/types/userType.ts
  backend/typescript/services/implementations/__tests__/userService.test.ts
  frontend/src/types/AuthTypes.ts
Due: felint, belint

bug fixes
  backend/typescript/services/implementations/__tests__/userService.test.ts
Due: belint

adding vault post-merge hook
  hooks/post-merge
Due: none

Update README.md
  README.md
Due: none

Create initial README (#9)
  README.md
Due: none

Updating Vault post-merge hook to use project path (#10)
  hooks/post-merge
Due: none

Fix Bug In Firebase Hosting YAML Files (#4)
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

Fix Reference To Teacher
  backend/typescript/models/school.model.ts
Due: belint

Address Feedback From PR Review
  backend/typescript/models/testSession.model.ts
Due: belint

Address Feedback From PR Review
  backend/typescript/models/test.model.ts
Due: belint

Setup code coverage reporting tools (#7)
  backend/typescript/jest.config.ts
Due: belint

Address Feedback From PR Revoew
  backend/typescript/models/testSession.model.ts
Due: belint

Add School Document Model (#1)
  backend/typescript/models/school.model.ts
Due: belint

Add Test Document Model (#3)
  backend/typescript/models/test.model.ts
Due: belint

Add Test Session Document Model (#5)
  backend/typescript/models/testSession.model.ts
Due: belint

update references to backend/typescript
  .github/workflows/heroku-deploy-dev-ts.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
  backend/graphql/index.ts
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/resolvers/entityResolvers.ts
  backend/graphql/resolvers/simpleEntityResolvers.ts
  backend/graphql/resolvers/userResolvers.ts
  docker-compose.yml
Due: belint

Update linting commands
  README.md
Due: none

move new models to backend folder
  backend/models/school.model.ts
  backend/models/test.model.ts
  backend/models/testSession.model.ts
Due: belint

chore: lint
  backend/models/entity.model.ts
  backend/server.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/testUtils/testDb.ts
Due: belint

Fix: Move new models to backend folder (#13)
  backend/models/entity.model.ts
  backend/models/school.model.ts
  backend/models/test.model.ts
  backend/models/testSession.model.ts
  backend/server.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/testUtils/testDb.ts
Due: belint

Trivial: Update linting commands (#12)
  README.md
Due: none

add chakra provider
  frontend/src/App.tsx
Due: felint

added chakra ui dependency
  frontend/package.json
  frontend/yarn.lock
Due: none

add createTestSession function
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/middlewares/validators/testSessionValidators.ts
  backend/models/testSession.model.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/types.ts
Due: belint

add unit test
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/testUtils/testSession.ts
  backend/types.ts
Due: belint

add validators and resolvers
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/middlewares/validators/testSessionValidators.ts
  backend/middlewares/validators/util.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/testUtils/testSession.ts
  backend/types.ts
Due: belint

remove brackets from import
  backend/services/implementations/__tests__/testSessionService.test.ts
Due: belint

set up linting
  .gitignore
  .pre-commit-config.yaml
  backend/package-lock.json
  backend/testUtils/testDb.ts
  docker-compose.yml
  package-lock.json
  scripts/launch_dev.sh
  scripts/lint.sh
  utils.sh
Due: belint

update user model
  backend/graphql/index.ts
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/types/userType.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/testUtils/testDb.ts
  frontend/src/types/AuthTypes.ts
Due: felint, belint

update package.json
  frontend/package.json
Due: none

bug fixes
  backend/graphql/index.ts
  backend/models/user.model.ts
  backend/services/implementations/authService.ts
  backend/types.ts
Due: belint

Update Vault command in README
  README.md
Due: none

Update Vault command in README (#17)
  README.md
Due: none

Create School Service And Add Method For Creating New School
  backend/services/implementations/schoolService.ts
  backend/services/implementations/userService.ts
  backend/services/interfaces/schoolService.ts
  backend/services/interfaces/userService.ts
Due: belint

Add Test Cases For School Service
  backend/services/implementations/__tests__/schoolService.test.ts
Due: belint

Fix Teset Description
  backend/services/implementations/__tests__/schoolService.test.ts
Due: belint

results field as not required
  backend/models/school.model.ts
  backend/models/test.model.ts
  backend/models/testSession.model.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
Due: belint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
