Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

Revert "chore(deps): bump qs from 6.5.2 to 6.5.3 in /frontend (#246)"
  frontend/yarn.lock
Due: none

fix: randomize with new function (#249)
  frontend/src/components/user-management/admin/AddAdminModal.tsx
  frontend/src/utils/GeneralUtils.ts
Due: felint

feat: Create dependabot.yml (#248)
  .github/dependabot.yml
Due: none

change naming
  backend/models/test.model.ts
  backend/services/implementations/imageUploadService.ts
  backend/services/interfaces/imageUploadService.ts
  backend/testUtils/imageUpload.ts
  frontend/src/APIClients/types/TestClientTypes.ts
Due: felint, belint

feat: update image service (#235)
  backend/models/test.model.ts
  backend/services/implementations/__tests__/imageUploadService.test.ts
  backend/services/implementations/imageUploadService.ts
  backend/services/interfaces/imageUploadService.ts
  backend/testUtils/imageStorage.ts
  backend/testUtils/imageUpload.ts
  frontend/src/APIClients/types/TestClientTypes.ts
Due: felint, belint

fix naming
  frontend/src/components/assessments/assessment-creation/CreateAssessmentButton.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
Due: felint

fix kindergarten search
  frontend/src/utils/AssessmentUtils.ts
Due: felint

feat: add dynamic filter options (#237)
  frontend/src/components/assessments/assessment-creation/BasicInformation.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessmentButton.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/constants/CreateAssessmentConstants.ts
  frontend/src/types/SelectInputTypes.ts
  frontend/src/utils/AssessmentUtils.ts
  frontend/src/utils/GeneralUtils.ts
  frontend/src/utils/UserUtils.ts
Due: felint

refactor tag
  frontend/src/assets/icons.tsx
  frontend/src/components/assessments/assessment-creation/QuestionTag.tsx
  frontend/src/components/assessments/assessment-status/StatusTag.tsx
  frontend/src/components/pages/teacher/classroom/ClassroomCard.tsx
  frontend/src/themes/components/tag.ts
  frontend/src/themes/index.ts
Due: felint

feat: create classroom list component (#250)
  frontend/src/assets/icons.tsx
  frontend/src/components/assessments/assessment-creation/AddQuestionButton.tsx
  frontend/src/components/assessments/assessment-creation/QuestionTag.tsx
  frontend/src/components/assessments/assessment-status/StatusTag.tsx
  frontend/src/components/common/FormRadio.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/teacher/classroom/ClassroomCard.tsx
  frontend/src/themes/components/tag.ts
  frontend/src/themes/index.ts
Due: felint

fix update for partial request
  backend/services/implementations/classService.ts
  backend/services/implementations/testSessionService.ts
Due: belint

fix unit tests
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/classService.ts
  backend/services/implementations/testSessionService.ts
  backend/testUtils/testSession.ts
Due: belint

refactor param
  backend/services/implementations/classService.ts
  backend/services/implementations/testSessionService.ts
Due: belint

refactor another param
  backend/services/implementations/testSessionService.ts
Due: belint

feat: Update backend to support Student Submissions (#230)
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/classService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
Due: belint

test
  .github/workflows/deploy-preview.yml
Due: none

test only target
  .github/workflows/deploy-preview.yml
Due: none

revert remove
  .github/workflows/deploy-preview.yml
Due: none

fix syntax
  .github/workflows/deploy-preview.yml
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

testing...
  .github/workflows/deploy-preview.yml
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

upgrade node
  .github/workflows/lint.yml
  backend/Dockerfile
  backend/package.json
Due: none

fix debian
  backend/Dockerfile
Due: none

fix: Refactor test backend to support images (#206)
  backend/graphql/index.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/middlewares/validators/testValidators.ts
  backend/models/test.model.ts
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/imageUploadService.ts
  backend/services/implementations/testService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/imageUploadService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/imageUpload.ts
  backend/testUtils/tests.ts
  backend/types/index.ts
  backend/types/questionMetadataTypes.ts
  backend/types/questionTypes.ts
  frontend/src/APIClients/mutations/TestMutations.ts
Due: felint, belint

rename
  backend/testUtils/testSession.ts
Due: belint

rename
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/components/question-creation/QuestionElementItem.tsx
  frontend/src/components/question-creation/question-elements/ImageElement.tsx
  frontend/src/components/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/types/QuestionMetadataTypes.ts
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

feat: Add image to Question Editor (#221)
  backend/types/questionMetadataTypes.ts
  backend/types/questionTypes.ts
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/assets/icons.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/question-creation/QuestionElementItem.tsx
  frontend/src/components/question-creation/QuestionSidebarItem.tsx
  frontend/src/components/question-creation/question-elements/ImageElement.tsx
  frontend/src/components/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/types/QuestionMetadataTypes.ts
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint, belint

reorder types
  frontend/src/APIClients/types/TestClientTypes.ts
Due: felint

fix typo
  frontend/src/components/assessments/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
Due: felint

fix security vulnerability
  backend/services/implementations/imageUploadService.ts
Due: belint

feat: edit assessment (#224)
  backend/services/implementations/imageUploadService.ts
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/components/assessments/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/assessments/assessment-creation/BasicInformation.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessmentButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/EditButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusPopover.tsx
  frontend/src/components/common/table/EmptyTableState.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
  frontend/src/constants/Routes.ts
  frontend/src/types/QuestionMetadataTypes.ts
  frontend/src/utils/GeneralUtils.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint, belint

upgrade to 14.0.1
  backend/package.json
  backend/yarn.lock
Due: none

fix
  frontend/src/types/AuthTypes.ts
Due: felint

fix student dashboard
  frontend/src/App.tsx
Due: felint

updated auth typing
  frontend/src/App.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/contexts/AuthContext.ts
  frontend/src/types/AuthTypes.ts
Due: felint

finish auth context logic
  frontend/src/components/pages/student/NameSelectionPage.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/types/AuthTypes.ts
Due: felint

cleanup
  frontend/src/components/auth/PrivateRoute.tsx
Due: felint

initial commit
  frontend/src/App.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/pages/student/NameSelectionPage.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/contexts/AuthContext.ts
  frontend/src/types/AuthTypes.ts
Due: felint

add frontend query
  backend/services/interfaces/classService.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
Due: felint, belint

uncomment test cases
  backend/services/implementations/__tests__/classService.test.ts
Due: belint

create context object
  frontend/src/components/auth/student-login/NameSelection.tsx
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
