Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

feat: render initial ui components
  frontend/src/components/common/info/messages/EmptyDistributeClassroomsMessage.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
Due: felint

fix: minor spacing
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
Due: felint

feat: disable classroom card menu
  frontend/src/components/teacher/session-creation/steps/ChooseAssessment.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
  frontend/src/components/teacher/student-management/classrooms/ClassroomCard.tsx
Due: felint

feat: add select classroom card functionality
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
  frontend/src/components/teacher/student-management/classrooms/ClassroomCard.tsx
Due: felint

feat: render ui components
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/session-creation/steps/AddInformation.tsx
Due: felint

fix: page height
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
Due: felint

fix: parent height
  frontend/src/components/pages/teacher/TeacherRouting.tsx
Due: felint

feat: add date validation
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/session-creation/steps/AddInformation.tsx
Due: felint

fix: classroom card spacing (#460)
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
Due: felint

address pr comments
  frontend/src/components/admin/question-creation/question-elements/QuestionTextElement.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsByStudentPage.tsx
  frontend/src/components/student/questions/Question.tsx
  frontend/src/components/student/questions/question-elements/QuestionText.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/CorrectedQuestion.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/QuestionList.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/index.tsx
  frontend/src/utils/GeneralUtils.ts
  frontend/src/utils/StudentUtils.ts
Due: felint

move RedirectTo to auth folder
  frontend/src/components/pages/RedirectTo.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/index.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
Due: felint

edit text for consistency
  frontend/src/components/teacher/student-management/classroom-summary/AddOrEditClassroomModal.tsx
Due: felint

address pr comments
  backend/graphql/index.ts
  backend/models/class.model.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/interfaces/classService.ts
Due: belint

refactor
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/testUtils/class.ts
  backend/testUtils/classAssertions.ts
Due: belint

remove line
  backend/services/implementations/__tests__/classService.test.ts
Due: belint

backend: Archive Classroom (#276)
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  backend/models/class.model.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/classAssertions.ts
Due: belint

(3) feat: view students in class (#424)
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/assets/illustrations/display-students.svg
  frontend/src/assets/illustrations/mobile-redirect.svg
  frontend/src/components/admin/view-assessments/AssessmentsTab.tsx
  frontend/src/components/auth/RedirectTo.tsx
  frontend/src/components/common/info/messages/EmptyStudentsMessage.tsx
  frontend/src/components/common/info/messages/MobileRedirectMessage.tsx
  frontend/src/components/common/navigation/RouterTabs.tsx
  frontend/src/components/common/table/SearchableTablePage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/index.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomStudentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/teacher/student-management/classroom-summary/AddClassroomModal.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomCard.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
  frontend/src/components/teacher/student-management/classroom-summary/SelectFormInputClassroom.tsx
  frontend/src/components/teacher/student-management/view-students/AddClassroomOrStudentPopover.tsx
  frontend/src/components/teacher/student-management/view-students/EditStudentPopover.tsx
  frontend/src/components/teacher/student-management/view-students/StudentsTable.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
  frontend/src/constants/Routes.ts
  frontend/src/utils/ClassroomUtils.ts
Due: felint

(0) feat: show individual question results (#399)
  frontend/src/components/admin/question-creation/question-elements/QuestionTextElement.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsByStudentPage.tsx
  frontend/src/components/student/questions/Question.tsx
  frontend/src/components/student/questions/question-elements/QuestionText.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/CorrectedQuestion.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/QuestionList.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/QuestionTitle.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/index.tsx
  frontend/src/utils/GeneralUtils.ts
  frontend/src/utils/StudentUtils.ts
Due: felint

fix sorting for choose assessment
  frontend/src/components/teacher/session-creation/steps/ChooseAssessment.tsx
Due: felint

(4) feat: display test sessions in classroom (#426)
  frontend/package.json
  frontend/src/components/admin/user-management/admin/AdminTab.tsx
  frontend/src/components/common/info/MessageContainer.tsx
  frontend/src/components/common/info/messages/EmptySessionsMessage.tsx
  frontend/src/components/common/table/SearchableTablePage.tsx
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/common/table/useSortProperty.tsx
  frontend/src/components/pages/RedirectTo.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomStudentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseAssessment.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
  frontend/src/utils/GeneralUtils.ts
  frontend/src/utils/TestSessionUtils.ts
  frontend/yarn.lock
Due: felint

(5) feat: fetch classroom drilldown data (#427)
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomStudentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/teacher/student-management/AddStudentModal.tsx
  frontend/src/utils/GeneralUtils.ts
Due: felint, belint

(6) feat: edit classroom from drilldown (#428)
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/teacher/student-management/classroom-summary/AddOrEditClassroomModal.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomCard.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint, belint

review fixes
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
Due: felint, belint

add component
  frontend/src/components/data-visualization/question-elements/ShortAnswerResult.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

pr comments: move past date check to utils
  frontend/src/components/teacher/session-creation/steps/AddInformation.tsx
  frontend/src/components/teacher/student-management/classrooms/AddClassroomModal.tsx
  frontend/src/utils/GeneralUtils.ts
Due: felint

pr comments: renaming prop from disabledOptions to clickDisabled
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
  frontend/src/components/teacher/student-management/classrooms/ClassroomCard.tsx
Due: felint

pr comments: creating distribute assessment wrapper
  frontend/src/components/admin/assessment-creation/QuestionSummary.tsx
  frontend/src/components/common/HeaderWrapper.tsx
  frontend/src/components/common/modal/Modal.tsx
  frontend/src/components/teacher/session-creation/DistributeAsessmentWrapper.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseAssessment.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
Due: felint

fix: remove unused imports
  frontend/src/components/teacher/session-creation/steps/ChooseAssessment.tsx
Due: felint

pr comments: center component theming
  frontend/src/components/common/info/messages/EmptyClassroomsMessage.tsx
  frontend/src/components/common/info/messages/EmptyDistributeClassroomsMessage.tsx
  frontend/src/components/common/info/messages/EmptySessionsMessage.tsx
  frontend/src/components/common/info/messages/EmptyTestsMessage.tsx
  frontend/src/themes/components/center.ts
  frontend/src/themes/index.ts
Due: felint

refactor: use new distribute assessment wrapper component
  frontend/src/components/teacher/session-creation/DistributeAsessmentWrapper.tsx
  frontend/src/components/teacher/session-creation/steps/AddInformation.tsx
Due: felint

review changes 3
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
Due: felint, belint

getBottomFiveStudents implemenatation
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
Due: felint, belint

fixing query
  backend/graphql/types/testSessionType.ts
Due: belint

fix name 2
  backend/services/implementations/__tests__/testSessionService.test.ts
Due: belint

name fix 3
  backend/graphql/resolvers/testSessionResolvers.ts
Due: belint

Update backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
Due: belint

pr comments: file name spelling and incorrect boolean
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentWrapper.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseAssessment.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
Due: felint

lint fix
  backend/services/implementations/__tests__/testSessionService.test.ts
Due: belint

feat: Compute Top Performing Students (#446)
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
Due: felint, belint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
