Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

pr comments
  frontend/src/components/assessments/assessment-status/EditStatusModals/ArchiveModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DeleteModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DuplicateModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/PublishModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/UnarchiveModal.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-option/MultiOptionModal.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
  frontend/src/components/user-management/RemoveUserPopover.tsx
Due: felint

undo comment out
  .pre-commit-config.yaml
Due: none

linter run
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

feat: teacher dashboard routing (#266)
  frontend/src/App.tsx
  frontend/src/components/classrooms/ClassroomCard.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/pages/teacher/TeacherDashboardPage.tsx
  frontend/src/components/pages/teacher/TeacherPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/constants/Routes.ts
Due: felint

feat: begin test modal (#265)
  frontend/src/components/assessments/assessment-status/EditStatusModals/ArchiveModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DeleteModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DuplicateModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/PublishModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/UnarchiveModal.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-option/MultiOptionModal.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
  frontend/src/components/user-management/RemoveUserPopover.tsx
Due: felint

feat: wrapping up student login (adding date authentication & showing teacher notes & removing extraneous fields) (#231)
  backend/graphql/types/testSessionType.ts
  backend/models/testSession.model.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/assessments/student-experience/QuestionTypeImages.tsx
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/constants/StudentAssessmentConstants.ts
  frontend/src/contexts/StudentContext.ts
  frontend/src/utils/GeneralUtils.ts
Due: felint, belint

feat: unsaved changes modal (#264)
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
  frontend/src/components/question-creation/QuestionSidebar.tsx
  frontend/src/constants/GeneralConstants.ts
Due: felint

init
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
Due: felint

remove scalar type for answers
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
Due: belint

make score non-null
  backend/graphql/types/testSessionType.ts
Due: belint

reorder functions
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
Due: belint

make public functions
  backend/services/implementations/testSessionService.ts
Due: belint

reorder popover options
  frontend/src/components/assessments/assessment-creation/AssessmentEditorHeader.tsx
Due: felint

handle deletion
  frontend/src/components/assessments/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
Due: felint

reorder modals
  frontend/src/components/assessments/assessment-creation/AssessmentEditorHeader.tsx
Due: felint

fix: remove unneeded fields from result schema (#272)
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/models/testSession.model.ts
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
  backend/utilities/pipelineQueryUtils.ts
Due: belint

rename function
  frontend/src/components/assessments/assessment-creation/AssessmentEditorHeader.tsx
Due: felint

feat: add status menu in edit assessment (#273)
  frontend/src/components/assessments/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/ArchiveButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/ArchiveModal.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
Due: felint

add new keyword
  backend/utilities/pipelineQueryUtils.ts
Due: belint

try peer dependency install
  backend/.eslintrc.js
  backend/package.json
  backend/yarn.lock
Due: belint

delete yarn
  backend/yarn.lock
Due: none

Revert "delete yarn"
  backend/yarn.lock
Due: none

bump eslint-plugins
  backend/package.json
  backend/testUtils/imageUpload.ts
  backend/yarn.lock
Due: belint

fix linter errors
  backend/services/implementations/authService.ts
  backend/services/implementations/schoolService.ts
  backend/services/implementations/simpleEntityService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/tests.ts
  backend/types/questionMetadataTypes.ts
  backend/types/questionTypes.ts
  backend/utilities/firebaseRestClient.ts
Due: belint

bump ts-node version
  backend/package.json
  backend/yarn.lock
Due: none

fix logic for deletion
  backend/services/implementations/testService.ts
Due: belint

feat: rollback image upload on test creation failure (#271)
  backend/services/implementations/__tests__/imageUploadService.test.ts
  backend/services/implementations/imageUploadService.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/imageUploadService.ts
Due: belint

first draft
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/types/authType.ts
  backend/services/implementations/authService.ts
  backend/services/implementations/schoolService.ts
  backend/services/implementations/simpleEntityService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/tests.ts
  backend/types/questionMetadataTypes.ts
  backend/types/questionTypes.ts
  backend/utilities/firebaseRestClient.ts
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/UnverifiedUsers.tsx
Due: felint, belint

v1.22.19
  backend/package.json
Due: none

suppress conflicts
  backend/.eslintrc.js
  backend/package.json
  backend/yarn.lock
Due: belint

try again
  backend/.eslintrc.js
  backend/package.json
  backend/services/implementations/authService.ts
  backend/services/implementations/schoolService.ts
  backend/services/implementations/simpleEntityService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/tests.ts
  backend/types/questionMetadataTypes.ts
  backend/types/questionTypes.ts
  backend/utilities/firebaseRestClient.ts
Due: belint

revert yarn lock
  backend/yarn.lock
Due: none

set tab index
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/types/AuthTypes.ts
Due: felint

added grid, pagination
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
Due: felint

Added isActive field
  backend/models/class.model.ts
Due: belint

Added archiveClass function
  backend/services/implementations/classService.ts
Due: belint

Disable the built-in dark mode in the frontend
  frontend/src/themes/index.ts
Due: felint

Expose `updatedAt` field of test model
  backend/graphql/index.ts
  backend/graphql/types/commonType.ts
  backend/graphql/types/testSessionType.ts
  backend/graphql/types/testType.ts
  backend/models/test.model.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/testService.ts
Due: belint

Disable the built-in dark mode in the frontend (#277)
  frontend/src/themes/index.ts
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
