Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: felint
        name: Lint frontend files
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh felint
    -   id: belint
        name: Lint backend files
        files: ^backend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh belint

update tests
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/middlewares/validators/util.ts
  backend/models/test.model.ts
  backend/services/implementations/__tests__/assets/test.png
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/services/implementations/imageStorageService.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/imageStorageService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/tests.ts
Due: belint

moved setStates to validate
  frontend/src/components/user-management/student/AddClassroomModal.tsx
Due: felint

fixed bug
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/components/auth/Login.tsx
Due: felint

update logic
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/middlewares/validators/testValidators.ts
  backend/models/test.model.ts
  backend/services/implementations/__tests__/imageStorageService.test.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/imageStorageService.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/assets/test.png
  backend/testUtils/imageStorage.ts
  backend/testUtils/tests.ts
Due: belint

update docs
  backend/services/interfaces/imageStorageService.ts
Due: belint

remove comments
  backend/services/interfaces/testService.ts
Due: belint

made changes
  frontend/src/components/auth/Login.tsx
Due: felint

remove unused imports
  backend/services/implementations/__tests__/imageStorageService.test.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/imageUploadService.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/imageUploadService.ts
Due: belint

passing in state
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/components/user-management/student/SelectFormInputClassroom.tsx
Due: felint

removed comment
  frontend/src/components/user-management/student/SelectFormInputClassroom.tsx
Due: felint

removed comment
  backend/graphql/index.ts
Due: belint

add missing image hydration
  backend/services/implementations/testService.ts
Due: belint

feat: Image Upload Backend (#195)
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/middlewares/validators/testValidators.ts
  backend/middlewares/validators/util.ts
  backend/models/test.model.ts
  backend/services/implementations/__tests__/imageStorageService.test.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/services/implementations/imageUploadService.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/imageUploadService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/assets/test.png
  backend/testUtils/imageStorage.ts
  backend/testUtils/tests.ts
Due: belint

final changes
  frontend/src/components/auth/Login.tsx
Due: felint

initial commit
  frontend/src/assets/icons.tsx
  frontend/src/components/assessments/assessment-creation/QuestionNumber.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/types/QuestionNumberTypes.tsx
Due: felint

fix bug
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupFour.tsx
Due: felint

add error states
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testType.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/testService.ts
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/assets/icons.tsx
  frontend/src/components/question-creation/QuestionElementItem.tsx
  frontend/src/components/question-creation/QuestionSidebarItem.tsx
  frontend/src/components/question-creation/question-elements/ImageElement.tsx
  frontend/src/components/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/types/QuestionMetadataTypes.ts
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint, belint

fixed bug
  frontend/src/components/common/HomeButton.tsx
Due: felint

remove console log
  frontend/src/components/question-creation/question-elements/SaveQuestionEditorButton.tsx
Due: felint

changes
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupFour.tsx
Due: felint

Fix logo resizing (#200)
  frontend/src/components/common/HomeButton.tsx
Due: felint

fix test
  backend/services/implementations/__tests__/testSessionService.test.ts
Due: belint

addressed pr comments
  frontend/src/components/assessments/assessment-creation/QuestionNumber.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

update edit flows
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/App.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessementButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/EditButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/PublishButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DeleteModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DuplicateModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/PublishModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/UnarchiveModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusPopover.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/components/pages/admin/AssessmentPage.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/constants/Routes.ts
  frontend/src/types/AssessmentTypes.ts
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint, belint

initial commit
  frontend/src/components/assessments/AssessmentsTab.tsx
  frontend/src/components/common/table/NoResultsTableState.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
Due: felint

feat: Question Number Component (#197)
  frontend/src/assets/icons.tsx
  frontend/src/components/assessments/assessment-creation/QuestionNumber.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/types/QuestionNumberTypes.tsx
Due: felint

address comments
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/models/test.model.ts
  backend/services/implementations/testService.ts
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/question-creation/question-elements/ImageElement.tsx
  frontend/src/types/QuestionMetadataTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint, belint

fix disappearing confirmation modal
  frontend/src/components/user-management/RemoveUserModal.tsx
Due: felint

add archive
  frontend/src/components/assessments/assessment-status/EditStatusButtons/ArchiveButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/UnarchiveButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/ArchiveModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/UnarchiveModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusPopover.tsx
Due: felint

undo accidental commit
  frontend/src/components/user-management/RemoveUserModal.tsx
Due: felint

added frontend
  frontend/src/assets/illustrations/display-assessments.svg
  frontend/src/components/common/table/NoResultsTableState.tsx
Due: felint

addressing pr comments
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
Due: felint

rename handler
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
Due: felint

show publish modal
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/PublishButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/PublishModal.tsx
Due: felint

add publish
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
Due: felint

fixed image problem
  frontend/src/components/common/table/NoResultsTableState.tsx
Due: felint

made changes
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupFour.tsx
Due: felint

addressed pr comments
  frontend/src/components/assessments/AssessmentsTab.tsx
  frontend/src/components/common/table/EmptyTableState.tsx
  frontend/src/components/common/table/NoResultsTableState.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/user-management/admin/AdminTab.tsx
Due: felint

initial commmit
  frontend/src/components/user-management/admin/AdminUserTable.tsx
Due: felint
