Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

add field validation and generalize form components
  frontend/src/components/common/AddAdminModal.tsx
  frontend/src/components/common/Form/EmailInput.tsx
  frontend/src/components/common/Form/InputLabel.tsx
  frontend/src/components/common/Form/TextInput.tsx
Due: felint

fix radio styling
  frontend/src/themes/components/radio.ts
  frontend/src/themes/index.ts
Due: felint

add comment to icons.tsx with link to svg paths
  frontend/src/components/common/icons.tsx
Due: felint

feat: add admin modal component (#63)
  frontend/src/components/common/AddAdminModal.tsx
  frontend/src/components/common/Form/EmailInput.tsx
  frontend/src/components/common/Form/InputLabel.tsx
  frontend/src/components/common/Form/TextInput.tsx
  frontend/src/components/common/ModalFooterButtons.tsx
  frontend/src/components/common/icons.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/themes/components/radio.ts
  frontend/src/themes/index.ts
Due: felint

update error messages in add admin modal to match designs
  frontend/src/components/common/AddAdminModal.tsx
  frontend/src/components/common/Form/EmailInput.tsx
  frontend/src/components/common/Form/InputError.tsx
  frontend/src/components/common/Form/InputLabel.tsx
  frontend/src/components/common/Form/TextInput.tsx
  frontend/src/components/common/icons.tsx
Due: felint

rsolve question type handler
  backend/graphql/index.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/services/interfaces/testService.ts
Due: belint

rrevert comment
  backend/graphql/index.ts
Due: belint

fix: update error messages in add admin modal to match designs (#71)
  frontend/src/components/common/AddAdminModal.tsx
  frontend/src/components/common/Form/EmailInput.tsx
  frontend/src/components/common/Form/InputError.tsx
  frontend/src/components/common/Form/InputLabel.tsx
  frontend/src/components/common/Form/TextInput.tsx
  frontend/src/components/common/icons.tsx
Due: felint

adding icon functionality
  frontend/src/components/common/SidebarItem.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/types/PageTypes.ts
Due: felint

first draft of sidebar
  frontend/src/App.tsx
  frontend/src/components/common/AddAdminModal.tsx
  frontend/src/components/common/QuestionCreation/CreateQuestionPage.tsx
  frontend/src/components/common/QuestionCreation/CreateQuestionSidebar.tsx
  frontend/src/components/common/icons.tsx
  frontend/src/constants/Routes.ts
Due: felint

fix linting warning
  frontend/src/APIClients/queries/GetUsersByRole.ts
  frontend/src/App.tsx
  frontend/src/assets/warning-icon.png
  frontend/src/components/common/Admin/RemoveUserModal.tsx
  frontend/src/components/pages/AdminTablePage.tsx
  frontend/src/components/pages/TeacherPage.tsx
  frontend/src/constants/Routes.ts
Due: felint

Sidebar Adding Icon Functionality (#72)
  frontend/src/components/common/SidebarItem.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/types/PageTypes.ts
Due: felint

feat: admin page
  frontend/src/components/common/icons.tsx
  frontend/src/components/pages/AdminPage.tsx
Due: felint

feat: admin page (#75)
  frontend/src/components/common/icons.tsx
  frontend/src/components/pages/AdminPage.tsx
Due: felint

fix linting errors
  frontend/src/App.tsx
  frontend/src/components/common/AddAdminModal.tsx
  frontend/src/components/common/icons.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/pages/AdminTablePage.tsx
  frontend/src/constants/Routes.ts
Due: felint

remove warning icon
  frontend/src/assets/warning-icon.png
Due: none

Admin Users Query (#68)
  frontend/src/APIClients/queries/GetUsersByRole.ts
  frontend/src/components/common/AddAdminModal.tsx
  frontend/src/components/common/Admin/RemoveUserModal.tsx
  frontend/src/components/common/icons.tsx
  frontend/src/components/pages/AdminPage.tsx
Due: felint

implement error states for saving with unpopulated fields
  frontend/src/components/common/AddAdminModal.tsx
  frontend/src/components/common/Form/EmailInput.tsx
  frontend/src/components/common/Form/TextInput.tsx
  frontend/src/components/common/ModalFooterButtons.tsx
Due: felint

delete import base client
  frontend/src/APIClients/EntityAPIClient.ts
Due: felint

update icons
  frontend/src/components/common/QuestionCreation/CreateQuestionSidebar.tsx
  frontend/src/components/common/icons.tsx
  frontend/src/themes/typography.ts
Due: felint

add back button functionality
  frontend/src/components/common/QuestionCreation/CreateQuestionPage.tsx
  frontend/src/components/common/QuestionCreation/CreateQuestionSidebar.tsx
Due: felint

feat: test resolvers (#66)
  backend/graphql/index.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/services/interfaces/testService.ts
Due: belint

feat: create school resolver and mutation
  backend/graphql/index.ts
  backend/graphql/resolvers/schoolResolvers.ts
  backend/graphql/types/schoolType.ts
Due: belint

feat: question creation sidebar (#74)
  frontend/src/App.tsx
  frontend/src/components/common/QuestionCreation/CreateQuestionPage.tsx
  frontend/src/components/common/QuestionCreation/CreateQuestionSidebar.tsx
  frontend/src/components/common/icons.tsx
  frontend/src/constants/Routes.ts
  frontend/src/themes/typography.ts
Due: felint

feat: create school resolver and mutation (#77)
  backend/graphql/index.ts
  backend/graphql/resolvers/schoolResolvers.ts
  backend/graphql/types/schoolType.ts
Due: belint

feat: implement error states for add admin modal (#73)
  frontend/src/components/common/AddAdminModal.tsx
  frontend/src/components/common/Form/EmailInput.tsx
  frontend/src/components/common/Form/TextInput.tsx
  frontend/src/components/common/ModalFooterButtons.tsx
Due: felint

refactor api clients (#69)
  frontend/src/APIClients/BaseAPIClient.ts
  frontend/src/APIClients/EntityAPIClient.ts
  frontend/src/APIClients/SimpleEntityAPIClient.ts
Due: felint

add search bar feature
  frontend/src/components/common/AdminUserTable.tsx
  frontend/src/components/common/Sidebar.tsx
  frontend/src/components/common/icons.tsx
  frontend/src/components/pages/AdminPage.tsx
Due: felint

fix error and loading screens
  frontend/src/components/common/icons.tsx
  frontend/src/components/pages/AdminPage.tsx
Due: felint

feat: create school resolver and mutation
  backend/graphql/resolvers/schoolResolvers.ts
  backend/graphql/types/schoolType.ts
Due: belint

feat: add teacher to school resolver (#79)
  backend/graphql/resolvers/schoolResolvers.ts
  backend/graphql/types/schoolType.ts
Due: belint

beggining sort implementation
  frontend/src/APIClients/EntityAPIClient.ts
  frontend/src/APIClients/SimpleEntityAPIClient.ts
  frontend/src/components/common/Admin/SortTablePopover.tsx
  frontend/src/components/common/AdminUserTable.tsx
  frontend/src/components/common/icons.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

refactor admin mapping data and fix UI
  frontend/src/components/common/AdminUserTable.tsx
  frontend/src/components/common/icons.tsx
  frontend/src/components/pages/AdminPage.tsx
Due: felint

fix email
  backend/services/implementations/authService.ts
Due: belint

Revert "fix email"
  backend/services/implementations/authService.ts
Due: belint

feat: search admin users (#78)
  frontend/src/components/common/AdminUserTable.tsx
  frontend/src/components/common/Sidebar.tsx
  frontend/src/components/common/icons.tsx
  frontend/src/components/pages/AdminPage.tsx
Due: felint

name space
  frontend/src/components/common/AdminUserTable.tsx
Due: felint

icon formatting fix
  frontend/package-lock.json
  frontend/src/APIClients/EntityAPIClient.ts
  frontend/src/APIClients/SimpleEntityAPIClient.ts
  frontend/src/components/common/Admin/RemoveUserPopover.tsx
  frontend/src/components/common/AdminUserTable.tsx
  frontend/src/components/common/icons.tsx
Due: felint

fixing button spacing
  frontend/src/components/common/Admin/RemoveUserPopover.tsx
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
