Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

PR feedback: use correct page name
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/constants/Routes.ts
Due: felint

PR feedback: display assessment button while loading/error
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
Due: felint

PR feedback: extract test session utils
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/utils/TestSessionUtils.ts
Due: felint

PR feedback: insert space into access codes
  frontend/src/components/assessments/TestSessionListItem.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
Due: felint

PR feedback: refactor paginated data
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
Due: felint

PR feedback: extract empty table message component
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/sessions/EmptySessionsTableState.tsx
  frontend/src/components/sessions/TestSessionListItem.tsx
Due: felint

feat: test sessions page (#285)
  frontend/src/assets/illustrations/distribute-assessments.svg
  frontend/src/components/common/MessageContainer.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/components/sessions/EmptySessionsTableState.tsx
  frontend/src/components/sessions/TestSessionListItem.tsx
  frontend/src/constants/Routes.ts
  frontend/src/types/TestSessionTypes.ts
  frontend/src/utils/TestSessionUtils.ts
Due: felint

Add header-with-button component
  frontend/src/components/common/HeaderWithButton.tsx
Due: felint

Use new component on existing pages
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/user-management/UsersPageHeader.tsx
  frontend/src/components/user-management/admin/AddAdminModal.tsx
Due: felint

Add hook exporting common logic for paginated data
  frontend/src/components/common/table/usePaginatedData.ts
Due: felint

Use common-logic hook in table and pseudo-table components
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
Due: felint

fix: extract page header component (#292)
  frontend/src/components/common/HeaderWithButton.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/user-management/UsersPageHeader.tsx
  frontend/src/components/user-management/admin/AddAdminModal.tsx
Due: felint

PR feedback: linter
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/common/table/usePaginatedData.ts
Due: felint

fix: autocomplete typo
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
Due: felint

fix: extract pagination logic (#293)
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/common/table/usePaginatedData.ts
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
Due: felint

Fetch data from backend
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/common/table/usePaginatedData.ts
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/utils/TestSessionUtils.ts
Due: felint

Fetch className from backend
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/models/testSession.model.ts
  backend/services/implementations/classService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/classService.ts
  backend/services/interfaces/testSessionService.ts
  frontend/src/APIClients/mutations/TestSessionMutations.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
Due: felint, belint

Fix linter script on Mac OS
  scripts/lint.sh
Due: none

Fix failing tests
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/testUtils/class.ts
  backend/testUtils/classAssertions.ts
  backend/testUtils/testSession.ts
Due: belint

a janky working implementation
  frontend/src/components/assessments/student-experience/question-components/ShortAnswer.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/contexts/StudentContext.ts
  frontend/src/types/AnswerTypes.ts
Due: felint

Remove console usage
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/user-management/admin/AddAdminModal.tsx
Due: felint

Remove unused values
  frontend/src/components/question-creation/question-elements/MultiOptionElement.tsx
  frontend/src/components/user-management/admin/AddAdminModal.tsx
  frontend/src/components/user-management/student/AddStudentModal.tsx
  frontend/src/contexts/AssessmentContext.ts
  frontend/src/contexts/QuestionEditorContext.ts
  frontend/src/contexts/StudentContext.ts
Due: felint

fix question numbers
  frontend/src/components/assessments/student-experience/QuestionNumbers.tsx
  frontend/src/components/assessments/student-experience/question-components/ShortAnswer.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/types/AnswerTypes.ts
Due: felint

Fix missing dependencies
  frontend/src/components/auth/AdminSignupConfirmation.tsx
  frontend/src/components/auth/email-action/ResetPasswordHandler.tsx
  frontend/src/components/auth/email-action/VerifyEmailHandler.tsx
  frontend/src/components/question-creation/question-elements/ImageElement.tsx
Due: felint

Remove `any` types
  backend/services/implementations/statisticService.ts
  backend/utilities/pipelineQueryUtils.ts
  frontend/src/components/assessments/assessment-creation/BasicInformation.tsx
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
  frontend/src/components/question-creation/QuestionElementItem.tsx
Due: felint, belint

Add missing return types
  frontend/package.json
  frontend/src/components/user-management/UsersPageHeader.tsx
  frontend/src/themes/components/alert.ts
  frontend/yarn.lock
Due: felint

Remove non-null assertions
  backend/services/implementations/__tests__/testSessionService.test.ts
  frontend/src/components/user-management/teacher/TeacherUserTable.tsx
Due: felint, belint

fix: linter warnings (#295)
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/statisticService.ts
  backend/utilities/pipelineQueryUtils.ts
  frontend/package.json
  frontend/src/components/assessments/assessment-creation/BasicInformation.tsx
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/auth/AdminSignupConfirmation.tsx
  frontend/src/components/auth/email-action/ResetPasswordHandler.tsx
  frontend/src/components/auth/email-action/VerifyEmailHandler.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/question-creation/QuestionElementItem.tsx
  frontend/src/components/question-creation/question-elements/ImageElement.tsx
  frontend/src/components/question-creation/question-elements/MultiOptionElement.tsx
  frontend/src/components/user-management/UsersPageHeader.tsx
  frontend/src/components/user-management/admin/AddAdminModal.tsx
  frontend/src/components/user-management/student/AddStudentModal.tsx
  frontend/src/components/user-management/teacher/TeacherUserTable.tsx
  frontend/src/contexts/AssessmentContext.ts
  frontend/src/contexts/QuestionEditorContext.ts
  frontend/src/contexts/StudentContext.ts
  frontend/src/themes/components/alert.ts
  frontend/yarn.lock
Due: felint, belint

some cleanup
  frontend/src/components/assessments/student-experience/NavButtons.tsx
  frontend/src/components/assessments/student-experience/Question.tsx
  frontend/src/components/assessments/student-experience/QuestionNumbers.tsx
  frontend/src/components/assessments/student-experience/QuestionTitle.tsx
  frontend/src/components/assessments/student-experience/question-components/ShortAnswer.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/student/AssessmentExperiencePage.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/utils/StudentUtils.ts
Due: felint

Upgrade react-scripts
  frontend/package.json
  frontend/yarn.lock
Due: none

Update typescript-related dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

Switch to non-crypto jwt library
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/types/AuthTypes.ts
  frontend/src/utils/AuthUtils.ts
  frontend/yarn.lock
Due: felint

Fix eslint config
  frontend/.eslintrc.js
  frontend/package.json
  frontend/yarn.lock
Due: felint

Upgrade chakra version to try to fix ts error
  frontend/package.json
  frontend/yarn.lock
Due: none

Pin package causing noise to latest version
  frontend/package.json
  frontend/yarn.lock
Due: none

PR feedback: linter script link
  scripts/lint.sh
Due: none

PR feedback: import type
  backend/services/interfaces/classService.ts
Due: belint

PR feedback: type variable name
  frontend/src/components/common/table/usePaginatedData.ts
Due: felint

backend: delete images on delete test (#278)
  backend/services/implementations/testService.ts
Due: belint

fix answer index
  frontend/src/components/assessments/student-experience/Question.tsx
  frontend/src/components/assessments/student-experience/QuestionNumbers.tsx
  frontend/src/components/assessments/student-experience/QuestionTitle.tsx
  frontend/src/components/assessments/student-experience/question-components/ShortAnswer.tsx
  frontend/src/utils/StudentUtils.ts
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
