Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

feat: delete test sessions on class deletion (3) (#561)
  backend/models/class.model.ts
  backend/models/user.model.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/services/implementations/testService.ts
Due: belint

update modal text
  backend/services/implementations/classService.ts
  frontend/src/components/common/modal/Modal.tsx
  frontend/src/components/common/modal/ModalText.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
Due: felint, belint

feat: render fraction, multiple choice & multi-select ui components
  frontend/src/components/admin/preview-question/QuestionPreview.tsx
Due: felint

feat: add short answer ui
  frontend/src/components/admin/preview-question/QuestionPreview.tsx
  frontend/src/components/common/question-elements/short-answer/ShortAnswerInput.tsx
  frontend/src/components/student/questions/question-elements/ShortAnswer.tsx
Due: felint

fix: handle test session references on class archive (4) (#564)
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/components/common/modal/Modal.tsx
  frontend/src/components/common/modal/ModalText.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
Due: felint, belint

add ability to edit test sessions
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  frontend/src/APIClients/mutations/TestSessionMutations.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/common/DatePicker.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
  frontend/src/components/teacher/session-creation/AssessmentsTable.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentButton.tsx
  frontend/src/components/teacher/session-creation/ReviewItem.tsx
  frontend/src/components/teacher/session-creation/steps/AddInformation.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseAssessment.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
  frontend/src/components/teacher/session-creation/steps/Review.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
  frontend/src/components/teacher/view-sessions/useAssessmentDataQuery.ts
Due: felint, belint

refactor: separate WriteAssessmentPage body
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
  frontend/src/components/student/AssessmentExperience.tsx
  frontend/src/components/student/NavButtons.tsx
  frontend/src/components/student/QuestionNumbers.tsx
  frontend/src/components/student/SubmitButton.tsx
  frontend/src/components/student/questions/QuestionTitle.tsx
  frontend/src/components/student/questions/question-elements/useAnswerState.ts
  frontend/src/contexts/AssessmentExperienceContext.ts
  frontend/src/contexts/WriteAssessmentContext.ts
Due: felint

refactor: student experience to use QuestionElement type
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
  frontend/src/components/student/AssessmentExperience.tsx
  frontend/src/components/student/questions/Question.tsx
  frontend/src/components/student/questions/question-elements/MultiSelect.tsx
  frontend/src/components/student/questions/question-elements/MultipleChoice.tsx
  frontend/src/utils/StudentUtils.ts
Due: felint

feat: create preview question modal
  frontend/src/components/admin/question-creation/PreviewQuestionModal.tsx
  frontend/src/components/admin/question-creation/QuestionEditor.tsx
  frontend/src/components/admin/question-creation/QuestionSidebar.tsx
  frontend/src/components/student/AssessmentExperience.tsx
  frontend/src/components/student/StudentDashboardHeader.tsx
  frontend/src/contexts/QuestionEditorContext.ts
Due: felint

fix: nav buttons, question numbers, title
  frontend/src/components/admin/question-creation/PreviewQuestionModal.tsx
  frontend/src/components/student/AssessmentExperience.tsx
  frontend/src/components/student/NavButtons.tsx
  frontend/src/components/student/QuestionNumbers.tsx
  frontend/src/components/student/SubmitButton.tsx
  frontend/src/components/student/questions/QuestionTitle.tsx
  frontend/src/contexts/AssessmentExperienceContext.ts
Due: felint

cleanup: remove extraneous function
  frontend/src/components/student/questions/QuestionTitle.tsx
  frontend/src/utils/StudentUtils.ts
Due: felint

feat: preview assessment
  frontend/src/components/admin/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/admin/assessment-creation/PreviewAssessmentModal.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
  frontend/src/contexts/AssessmentContext.ts
Due: felint

feat: create initial button component
  frontend/src/components/admin/assessment-status/EditStatusButtons/PreviewButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusPopover.tsx
Due: felint

PR feedback: boolean naming
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/index.tsx
Due: felint

PR feedback: no make
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/index.tsx
Due: felint

fix: hide data visualization behind a ff (#560)
  frontend/src/checkFeatureFlag.ts
  frontend/src/components/admin/view-assessments/AssessmentsTable.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/index.tsx
Due: felint

PR feedback: remove duplication in setting titles
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
Due: felint

PR feedback: remove need for complex overriding logic
  frontend/src/App.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/auth/RedirectTo.tsx
  frontend/src/components/auth/usePageTitle.ts
  frontend/src/components/pages/RedirectTo.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
Due: felint

PR feedback: "Database"
  frontend/src/components/pages/admin/AdminRouting.tsx
Due: felint

pass class info within class
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/common/info/messages/EmptyClassSessionsMessage.tsx
  frontend/src/components/common/info/messages/EmptySessionsMessage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
Due: felint

remove error
  frontend/src/APIClients/types/ClassClientTypes.ts
Due: felint

add validation
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
Due: belint

PR feedback: use correct title on creation
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
Due: felint

Add logging to backend to help with future debugging
  backend/services/implementations/authService.ts
Due: belint

Add basic refresh-else-signout logic to failed requests
  frontend/src/index.tsx
Due: felint

PR feedback: don't update title while user is editing
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
Due: felint

pr comment: set disabled row and use getQueryName
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/teacher/session-creation/AssessmentsTable.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentButton.tsx
Due: felint

PR feedback: `forEach` -> `some`
  frontend/src/index.tsx
Due: felint

PR feedback: remove unnecessary check
  frontend/src/components/auth/PrivateRoute.tsx
Due: felint

PR feedback: add title to 404 component
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/pages/NotFound.tsx
Due: felint

fix: expired refresh token issues (#571)
  backend/services/implementations/authService.ts
  frontend/src/index.tsx
Due: felint, belint

pr comment: remove extraneous reload prompt
  frontend/src/components/student/AssessmentExperience.tsx
Due: felint

pr comments: center header content
  frontend/src/components/student/StudentDashboardHeader.tsx
Due: felint

refactor types
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
Due: felint

clean up code
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/common/info/messages/EmptyClassSessionsMessage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
Due: felint

pr comment: extract date and add validation for past test sessions
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
Due: belint

delete student results on student deletion
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
Due: belint

fix width
  frontend/src/components/student/QuestionNumber.tsx
Due: felint

fix: add contextually-appropriate titles to all pages (#495)
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/auth/RedirectTo.tsx
  frontend/src/components/auth/usePageTitle.ts
  frontend/src/components/pages/Landing.tsx
  frontend/src/components/pages/NotFound.tsx
  frontend/src/components/pages/RedirectTo.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
Due: felint

(1) feat: edit test sessions (#568)
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  frontend/src/APIClients/mutations/TestSessionMutations.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/common/DatePicker.tsx
  frontend/src/components/common/info/messages/EmptyClassSessionsMessage.tsx
  frontend/src/components/common/info/messages/EmptySessionsMessage.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
  frontend/src/components/teacher/session-creation/AssessmentsTable.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentButton.tsx
  frontend/src/components/teacher/session-creation/ReviewItem.tsx
  frontend/src/components/teacher/session-creation/steps/AddInformation.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseAssessment.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
  frontend/src/components/teacher/session-creation/steps/Review.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
  frontend/src/components/teacher/view-sessions/useAssessmentDataQuery.ts
Due: felint, belint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
