Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

Feat: Refactor test session service (#44)
  backend/services/implementations/__tests__/schoolService.test.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/school.ts
  backend/testUtils/testSession.ts
  backend/testUtils/tests.ts
  backend/testUtils/users.ts
Due: belint

fix import again
  backend/services/implementations/__tests__/testService.test.ts
Due: belint

add icons to buttons
  frontend/src/components/common/icons.tsx
  frontend/src/components/pages/Default.tsx
  frontend/src/themes/components/button.ts
Due: felint

add new service
  backend/services/implementations/statisticsService.ts
  backend/services/interfaces/statisticsService.ts
Due: belint

add new logic
  backend/services/implementations/__tests__/statisticsService.test.ts
  backend/services/implementations/statisticsService.ts
  backend/services/interfaces/statisticsService.ts
  backend/testUtils/school.ts
  backend/testUtils/statistics.ts
  backend/testUtils/testSession.ts
Due: belint

add computation for score by questions
  backend/services/implementations/statisticsService.ts
  backend/services/interfaces/statisticsService.ts
  backend/testUtils/statistics.ts
Due: belint

Feat: Add buttons theme (#45)
  frontend/src/components/common/icons.tsx
  frontend/src/components/pages/Default.tsx
  frontend/src/themes/components/button.ts
  frontend/src/themes/index.ts
Due: felint

renaming and refactoring magic nunbers
  backend/services/implementations/__tests__/statisticsService.test.ts
  backend/services/implementations/statisticsService.ts
  backend/services/interfaces/statisticsService.ts
  backend/testUtils/statistics.ts
Due: belint

update test service with new image fields
  backend/models/test.model.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testService.ts
Due: belint

Implement Method For Getting Country Stats
  backend/services/implementations/statisticService.ts
  backend/services/interfaces/statisticService.ts
Due: belint

Switch Array To Map
  backend/services/implementations/statisticService.ts
  backend/services/interfaces/statisticService.ts
Due: belint

Add Documentation For Interface
  backend/services/interfaces/statisticService.ts
Due: belint

Cast testId To ObjectId For Querying
  backend/services/implementations/statisticService.ts
Due: belint

Filter Out Ungraded Results
  backend/services/implementations/statisticService.ts
Due: belint

Update Comments
  backend/services/implementations/statisticService.ts
Due: belint

Add Test Case For New Service
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/testUtils/school.ts
  backend/testUtils/testSession.ts
Due: belint

Fix Typo
  backend/services/implementations/statisticService.ts
Due: belint

[draft] add typography
  frontend/.eslintcache
  frontend/package-lock.json
  frontend/src/components/pages/Default.tsx
  frontend/src/themes/index.ts
  frontend/src/themes/typography.ts
Due: felint

add typography
  frontend/src/components/pages/Default.tsx
  frontend/src/themes/index.ts
Due: felint

Implement Method For Getting Country Stats (#49)
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/services/interfaces/statisticService.ts
  backend/testUtils/school.ts
  backend/testUtils/testSession.ts
Due: belint

add get all tests function (#39)
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/tests.ts
Due: belint

add new function and tests
  backend/models/testSession.model.ts
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/services/interfaces/statisticService.ts
  backend/testUtils/school.ts
  backend/testUtils/statistics.ts
  backend/testUtils/testSession.ts
Due: belint

updating yml files
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

yaml fix
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

refactoring fe code
  frontend/src/App.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/Default.tsx
  frontend/src/components/pages/EditTeamPage.tsx
  frontend/src/components/pages/SimpleEntityCreatePage.tsx
  frontend/src/components/pages/SimpleEntityDisplayPage.tsx
  frontend/src/components/pages/SimpleEntityUpdatePage.tsx
  frontend/src/components/pages/StudentPage.tsx
  frontend/src/components/pages/TeacherPage.tsx
  frontend/src/constants/Routes.ts
Due: felint

removing test
  frontend/src/components/pages/__tests__/Default.test.tsx
Due: felint

refactoring fe code (#53)
  frontend/src/App.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/Default.tsx
  frontend/src/components/pages/EditTeamPage.tsx
  frontend/src/components/pages/SimpleEntityCreatePage.tsx
  frontend/src/components/pages/SimpleEntityDisplayPage.tsx
  frontend/src/components/pages/SimpleEntityUpdatePage.tsx
  frontend/src/components/pages/StudentPage.tsx
  frontend/src/components/pages/TeacherPage.tsx
  frontend/src/components/pages/__tests__/Default.test.tsx
  frontend/src/constants/Routes.ts
Due: felint

Implement functionality to query for school averages (#51)
  backend/models/testSession.model.ts
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/services/interfaces/statisticService.ts
  backend/testUtils/school.ts
  backend/testUtils/statistics.ts
  backend/testUtils/testSession.ts
Due: belint

add success test
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/testUtils/tests.ts
Due: belint

add success test
  backend/services/interfaces/testService.ts
  backend/services/interfaces/testSessionService.ts
Due: belint

resolve import error
  backend/services/implementations/__tests__/testSessionService.test.ts
Due: belint

feat: get users by role and tests
  backend/graphql/index.ts
  backend/graphql/resolvers/userResolvers.ts
  backend/graphql/types/userType.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/services/implementations/statisticService.ts
  backend/services/implementations/userService.ts
  backend/services/interfaces/userService.ts
Due: belint

add new component
  frontend/src/App.tsx
  frontend/src/components/common/icons.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/Default.tsx
  frontend/src/constants/Routes.ts
  frontend/src/themes/colors.ts
  frontend/src/themes/components/button.ts
  frontend/src/themes/index.ts
Due: felint

add new component
  frontend/src/components/common/ConfirmationMessage.tsx
Due: felint

update comments
  backend/models/testSession.model.ts
  backend/services/interfaces/testSessionService.ts
Due: belint

feat: get users by role and tests (#54)
  backend/graphql/index.ts
  backend/graphql/resolvers/userResolvers.ts
  backend/graphql/types/userType.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/services/implementations/userService.ts
  backend/services/interfaces/userService.ts
Due: belint

Feat: Update test session (#46)
  backend/models/testSession.model.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/tests.ts
Due: belint

Delete package-lock.json
  frontend/package-lock.json
Due: none

add illustration and formatting
  frontend/src/assets/illustrations/envelope-paper.svg
  frontend/src/components/common/ConfirmationMessage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

refactor code
  frontend/src/components/common/ConfirmationMessage.tsx
  frontend/src/components/common/MessageContainer.tsx
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
