Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: felint
        name: Lint frontend files
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh felint
    -   id: belint
        name: Lint backend files
        files: ^backend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh belint

fix: change teacher dashboard tab design to standard tabs (#580)
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
  frontend/src/components/teacher/view-sessions/TestSessionTabs.tsx
  frontend/src/components/teacher/view-sessions/useAssessmentDataQuery.ts
Due: felint

PR feedback: nits
  frontend/src/components/admin/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/common/navigation/useReloadPrompt.ts
Due: felint

Update CI in preparation for production deployment
  .github/actions/firebase-deploy/action.yml
  .github/actions/heroku-deploy/action.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/heroku-deploy-dev-ts.yml
  .github/workflows/preview-firebase-deploy.yml
  .github/workflows/staging-firebase-deploy.yml
  .github/workflows/staging-heroku-deploy.yml
Due: none

Add production deploy actions
  .github/workflows/prod-firebase-deploy.yml
  .github/workflows/prod-heroku-deploy.yml
Due: none

Fix CI environment variables
  .github/workflows/prod-heroku-deploy.yml
  .github/workflows/staging-heroku-deploy.yml
Due: none

Make production deploys update on any change
  .github/workflows/prod-firebase-deploy.yml
  .github/workflows/prod-heroku-deploy.yml
Due: none

Update firebase config to handle both staging and prod
  frontend/.firebaserc
  frontend/firebase.json
Due: none

(1) feat: make generic component for error and load state (#593)
  frontend/src/components/common/QueryStateHandler.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomStudentsPage.tsx
  frontend/src/components/pages/teacher/TeacherDashboardPage.tsx
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
  frontend/src/components/teacher/dashboard/ClassroomsSection.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentWrapper.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseAssessment.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
  frontend/src/components/teacher/view-sessions/useAssessmentDataQuery.ts
Due: felint

feat: better assessment editor loading state (#585)
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/components/admin/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/common/form/ActionButton.tsx
  frontend/src/components/common/modal/useActionFormHandler.tsx
  frontend/src/components/common/navigation/useReloadPrompt.ts
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
  frontend/src/components/teacher/student-management/AddOrEditStudentModal.tsx
  frontend/src/components/teacher/student-management/classroom-summary/AddOrEditClassroomModal.tsx
Due: felint

nit code style
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentWrapper.tsx
Due: felint

Update CI: fix site name
  frontend/.firebaserc
Due: none

Fix CORS policy
  backend/server.ts
Due: belint

Show empty state on assessment tabs
  frontend/src/components/common/info/messages/EmptySessionsMessage.tsx
  frontend/src/components/common/info/messages/EmptySessionsTabMessage.tsx
  frontend/src/components/teacher/view-sessions/TestSessionTabs.tsx
Due: felint

Hide view all when there is no data to view
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
  frontend/src/components/teacher/dashboard/ClassroomsSection.tsx
  frontend/src/components/teacher/dashboard/useViewAllLimitedData.ts
Due: felint

Add per-tab routes to assessments page
  frontend/src/components/common/navigation/useRouteMatchParams.ts
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
  frontend/src/components/teacher/view-sessions/TestSessionTabContents.tsx
  frontend/src/components/teacher/view-sessions/TestSessionTabs.tsx
  frontend/src/constants/Routes.ts
Due: felint

Link to correct tab
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
Due: felint

Tweak wording
  frontend/src/components/common/info/messages/EmptySessionsTabMessage.tsx
Due: felint

Add test session counts to tabs
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/utilities/testSessionUtils.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
  frontend/src/components/teacher/view-sessions/useAssessmentDataQuery.ts
Due: felint, belint

standardize spacing
  frontend/src/components/auth/email-action/EmailActionHandler.tsx
  frontend/src/components/common/QueryStateHandler.tsx
  frontend/src/components/common/info/ErrorState.tsx
  frontend/src/components/common/info/LoadingState.tsx
  frontend/src/components/common/info/MessageContainer.tsx
  frontend/src/components/common/info/messages/EmptyClassSessionsMessage.tsx
  frontend/src/components/common/info/messages/EmptyClassStudentsMessage.tsx
  frontend/src/components/common/info/messages/EmptyClassroomsGoToPage.tsx
  frontend/src/components/common/info/messages/EmptyClassroomsMessage.tsx
  frontend/src/components/common/info/messages/EmptySessionsMessage.tsx
  frontend/src/components/common/info/messages/EmptyStudentsMessage.tsx
  frontend/src/components/common/info/messages/EmptyTestsMessage.tsx
  frontend/src/components/common/navigation/RouterTabs.tsx
  frontend/src/components/common/table/SearchableTablePage.tsx
  frontend/src/components/pages/Landing.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/index.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/pages/teacher/TeacherDashboardPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentWrapper.tsx
  frontend/src/themes/components/center.ts
Due: felint

add margin top to empty messages
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
Due: felint

Add dynamic routes to assessment editor page
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/admin/assessment-creation/CreateAssessmentButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/EditButton.tsx
  frontend/src/components/common/info/messages/EmptyTestsMessage.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage/AssessmentEditor.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage/index.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/constants/Routes.ts
Due: felint

Update back button in editor to always return to the correct page
  frontend/src/components/admin/assessment-creation/AssessmentEditorHeader.tsx
Due: felint

fix landing page spacing
  frontend/src/components/pages/Landing.tsx
Due: felint

fix error for assessment results
  frontend/src/components/pages/Landing.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsByStudentPage.tsx
Due: felint

remove extra padding
  frontend/src/components/common/table/SearchableTablePage.tsx
Due: felint

(2) feat: make generic component for error and load state (#598)
  frontend/src/components/auth/email-action/EmailActionHandler.tsx
  frontend/src/components/common/QueryStateHandler.tsx
  frontend/src/components/common/info/ErrorState.tsx
  frontend/src/components/common/info/LoadingState.tsx
  frontend/src/components/common/info/MessageContainer.tsx
  frontend/src/components/common/info/messages/EmptyClassSessionsMessage.tsx
  frontend/src/components/common/info/messages/EmptyClassStudentsMessage.tsx
  frontend/src/components/common/info/messages/EmptyClassroomsGoToPage.tsx
  frontend/src/components/common/info/messages/EmptyClassroomsMessage.tsx
  frontend/src/components/common/info/messages/EmptySessionsMessage.tsx
  frontend/src/components/common/info/messages/EmptyStudentsMessage.tsx
  frontend/src/components/common/info/messages/EmptyTestsMessage.tsx
  frontend/src/components/common/navigation/RouterTabs.tsx
  frontend/src/components/common/table/SearchableTablePage.tsx
  frontend/src/components/pages/Landing.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsByStudentPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/index.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/pages/teacher/TeacherDashboardPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentWrapper.tsx
  frontend/src/themes/components/center.ts
Due: felint

fixup assessment editor dynamic routes
  frontend/src/components/admin/assessment-status/EditStatusButtons/EditButton.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage/AssessmentEditor.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage/index.tsx
  frontend/src/constants/Routes.ts
Due: felint

Add basic routes to question editor page
  frontend/src/components/admin/assessment-creation/AddQuestionButton.tsx
  frontend/src/components/admin/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/admin/assessment-creation/QuestionCard.tsx
  frontend/src/components/admin/question-creation/QuestionEditor.tsx
  frontend/src/components/admin/question-creation/QuestionSidebar.tsx
  frontend/src/components/admin/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage/AssessmentEditor.tsx
  frontend/src/constants/Routes.ts
  frontend/src/contexts/AssessmentContext.ts
Due: felint

Fix reload prompt behaviour in question editor
  frontend/src/components/admin/assessment-creation/AddQuestionButton.tsx
  frontend/src/components/admin/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/admin/assessment-creation/QuestionCard.tsx
  frontend/src/components/admin/question-creation/QuestionEditor.tsx
  frontend/src/components/admin/question-creation/QuestionSidebar.tsx
  frontend/src/components/common/navigation/useRedirectableNavigatePrompt.ts
  frontend/src/components/pages/admin/AssessmentEditorPage/AssessmentEditor.tsx
  frontend/src/contexts/AssessmentContext.ts
Due: felint

Add preview-assessment page routes
  frontend/src/components/admin/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/admin/assessment-creation/AssessmentPreview.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage/AssessmentEditor.tsx
  frontend/src/constants/Routes.ts
  frontend/src/contexts/AssessmentContext.ts
Due: felint

Add empty state for individual classrooms page tabs (#596)
  frontend/src/components/common/info/messages/EmptyArchivedClassroomsMessage.tsx
  frontend/src/components/common/info/messages/EmptyClassroomsMessage.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
Due: felint

Fix preview page behaviour when data is missing
  frontend/src/components/admin/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/admin/assessment-creation/AssessmentPreview.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage/AssessmentEditor.tsx
Due: felint

Fix styling after merge
  frontend/src/components/common/info/messages/EmptySessionsTabMessage.tsx
  frontend/src/components/teacher/view-sessions/TestSessionTabContents.tsx
Due: felint

Update route format to be easier to read
  frontend/src/components/admin/assessment-creation/AddQuestionButton.tsx
  frontend/src/components/admin/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/admin/assessment-creation/AssessmentPreview.tsx
  frontend/src/components/admin/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/admin/assessment-creation/CreateAssessmentButton.tsx
  frontend/src/components/admin/assessment-creation/QuestionCard.tsx
  frontend/src/components/admin/question-creation/QuestionSidebar.tsx
  frontend/src/components/common/info/messages/EmptyTestsMessage.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage/AssessmentEditor.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/constants/Routes.ts
Due: felint

Add preview-question page routes
  frontend/src/components/admin/assessment-creation/AssessmentPreview.tsx
  frontend/src/components/admin/question-creation/QuestionEditor.tsx
  frontend/src/components/admin/question-creation/QuestionPreview.tsx
  frontend/src/components/admin/question-creation/QuestionSidebar.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage/AssessmentEditor.tsx
  frontend/src/constants/Routes.ts
  frontend/src/contexts/QuestionEditorContext.ts
Due: felint

enable delete for active sessions
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  frontend/src/components/common/info/messages/EmptyStudentsMessage.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
Due: felint, belint

PR feedback: update docs
  backend/middlewares/auth.ts
Due: belint

Change tag colour to green
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomCard.tsx
Due: felint

fix: classroom card appearance (#595)
  backend/graphql/index.ts
  backend/middlewares/auth.ts
  frontend/src/components/auth/Login.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomCard.tsx
Due: felint, belint

add image upload validation
  frontend/src/components/admin/question-creation/QuestionEditor.tsx
  frontend/src/components/admin/question-creation/QuestionSidebarItem.tsx
  frontend/src/components/admin/question-creation/QuestionWorkspace.tsx
  frontend/src/components/admin/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/components/common/form/ActionButton.tsx
  frontend/src/constants/QuestionConstants.ts
  frontend/src/contexts/QuestionEditorContext.ts
Due: felint
