Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

final changes
  frontend/src/constants/StudentAssessmentConstants.ts
  frontend/yarn.lock
Due: felint

feat: Assessment Question Summary Page (#131)
  frontend/src/App.tsx
  frontend/src/assets/images.ts
  frontend/src/components/common/QuestionTypeImages.tsx
  frontend/src/components/pages/StudentAssessment.tsx
  frontend/src/constants/Routes.ts
  frontend/src/constants/StudentAssessmentConstants.ts
Due: felint

created class.model.ts
  backend/models/class.model.ts
Due: belint

filter menu
  frontend/src/components/assessment-creation/FilterMenu.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
Due: felint

remove admin
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/models/test.model.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/tests.ts
Due: belint

update service
  backend/services/implementations/__tests__/userService.test.ts
  backend/services/implementations/userService.ts
Due: belint

update service
  backend/services/implementations/__tests__/userService.test.ts
Due: belint

use middleware
  backend/models/user.model.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/services/implementations/authService.ts
  backend/services/implementations/userService.ts
Due: belint

add resolver
  backend/graphql/resolvers/testResolvers.ts
Due: belint

review changes
  frontend/src/components/assessment-creation/FilterMenu.tsx
  frontend/src/components/auth/TeacherSignup/SelectFormInput.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/types/AssessmentTypes.ts
  frontend/src/types/SelectInputTypes.ts
Due: felint

refactor tests
  backend/services/implementations/__tests__/userService.test.ts
Due: belint

add fail test
  backend/services/implementations/__tests__/userService.test.ts
Due: belint

review changes 2
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/types/AssessmentTypes.ts
Due: felint

changes
  backend/graphql/resolvers/testResolvers.ts
Due: belint

Create resolver to Publish Assessment (#146)
  backend/graphql/resolvers/testResolvers.ts
Due: belint

pr comments
  frontend/src/components/question-creation/QuestionElementItem.tsx
  frontend/src/components/question-creation/question-elements/ShortAnswerElement.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/AddShortAnswerModal.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/EditShortAnswerModal.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

add new function
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/tests.ts
Due: belint

bug fix
  frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
Due: felint

resolve conflicts
  backend/graphql/resolvers/testResolvers.ts
Due: belint

fix: Remove Admin Field from Test Service (#143)
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/models/test.model.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/tests.ts
Due: belint

init
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
Due: belint

added user field to class model
  backend/models/class.model.ts
Due: belint

made changes according to pr comments
  backend/models/class.model.ts
Due: belint

comments!
  backend/models/class.model.ts
Due: belint

feat: Update backend to Duplicate Assessment (#147)
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/tests.ts
Due: belint

mutation
  frontend/src/APIClients/mutations/TestMutations.ts
Due: felint

fixed a spelling mistake whoops
  backend/models/class.model.ts
Due: belint

fix staging conflict
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/testService.ts
Due: belint

backend: Created Class Model (#136)
  backend/models/class.model.ts
Due: belint

addressed pr comments
  frontend/src/assets/icons.tsx
  frontend/src/components/assessment-creation/CreateAssessementButton.tsx
  frontend/src/components/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/themes/components/button.ts
Due: felint

Removed button import
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
Due: felint

review changes 3
  frontend/src/components/assessment-creation/FilterMenu.tsx
  frontend/src/components/assessment-creation/FilterRow.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/types/AssessmentTypes.ts
Due: felint

changes
  backend/graphql/index.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  frontend/src/APIClients/mutations/TestMutations.ts
Due: felint, belint

line changes
  backend/graphql/index.ts
  backend/graphql/types/testType.ts
Due: belint

fix: add missing type for publishTest resolver (#149)
  backend/graphql/index.ts
  backend/graphql/types/testType.ts
Due: belint

Addressed more pr comments
  frontend/src/components/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/themes/components/form.ts
Due: felint

feat: Create Assessment Header (#137)
  frontend/src/assets/icons.tsx
  frontend/src/components/assessment-creation/CreateAssessementButton.tsx
  frontend/src/components/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/themes/components/form.ts
  frontend/src/themes/typography.ts
Due: felint

Update frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
Due: felint

fix float issue
  frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
Due: felint

initial commit
  backend/graphql/index.ts
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
Due: felint, belint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
