Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

feat: short answer element for question editor (#141)
  frontend/src/components/pages/admin/QuestionPage.tsx
  frontend/src/components/question-creation/QuestionElementItem.tsx
  frontend/src/components/question-creation/QuestionSidebarItem.tsx
  frontend/src/components/question-creation/question-elements/QuestionTextElement.tsx
  frontend/src/components/question-creation/question-elements/ShortAnswerElement.tsx
  frontend/src/components/question-creation/question-elements/TextElement.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/AddShortAnswerModal.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/EditShortAnswerModal.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/contexts/QuestionEditorContext.ts
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

reorder in priority
  backend/models/user.model.ts
Due: belint

fix: Delete dependent documents on deleteTeacher (#145)
  backend/models/user.model.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/services/implementations/authService.ts
Due: belint

add new function to test service
  backend/models/test.model.ts
  backend/models/user.model.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/testService.ts
Due: belint

add todo
  backend/services/implementations/__tests__/testService.test.ts
Due: belint

add resolvers and mutations
  backend/graphql/index.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  frontend/src/APIClients/mutations/TestMutations.ts
Due: felint, belint

update status to draft
  backend/models/test.model.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/testService.ts
Due: belint

feat: create resolver + mutation to duplicate test (#152)
  backend/graphql/index.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/models/test.model.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/testService.ts
  frontend/src/APIClients/mutations/TestMutations.ts
Due: felint, belint

Update backend/services/implementations/testService.ts
  backend/services/implementations/testService.ts
Due: belint

create multiple choice modal
  frontend/src/components/question-creation/question-elements/modals/ResponseTypeModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/AddShortAnswerModal.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
Due: felint

refactor into general modal
  frontend/src/components/question-creation/question-elements/modals/ResponseTypeModal.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/themes/components/select.ts
Due: felint

edit funcionality
  frontend/src/components/question-creation/question-elements/modals/ShortAnswerElementModal.tsx
Due: felint

handle select count
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/AddMultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceOption.tsx
  frontend/src/types/QuestionTypes.ts
Due: felint

cherry-picked
  frontend/src/components/question-creation/question-elements/ShortAnswerElementModal.tsx
Due: felint

multiple choice option component
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceOption.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/AddShortAnswerModal.tsx
  frontend/src/themes/components/checkbox.ts
  frontend/src/themes/index.ts
Due: felint

add edit icon
  frontend/src/components/question-creation/question-elements/modals/ShortAnswerElementModal.tsx
Due: felint

multiple choice typing
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
  frontend/src/types/QuestionTypes.ts
Due: felint

multiple choice modal flow
  frontend/src/components/pages/admin/QuestionPage.tsx
  frontend/src/components/question-creation/QuestionElementItem.tsx
  frontend/src/components/question-creation/QuestionSidebarItem.tsx
  frontend/src/components/question-creation/question-elements/MultipleChoiceElement.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/AddMultipleChoiceModal.tsx
  frontend/src/contexts/QuestionEditorContext.ts
Due: felint

fixing reset data bug
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/AddShortAnswerModal.tsx
  frontend/src/themes/index.ts
Due: felint

feat: Update backend to Unarchive Assessment (#151)
  backend/models/user.model.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/testService.ts
Due: belint

delete option
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceOption.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
Due: felint

update frontend to display admin logout
  frontend/src/components/auth/Logout.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/common/NavbarItem.tsx
Due: felint

add radio elements
  frontend/src/components/question-creation/QuestionElementItem.tsx
  frontend/src/components/question-creation/question-elements/MultipleChoiceElement.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
Due: felint

create delete assessment resolver
  backend/graphql/index.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/models/test.model.ts
  backend/testUtils/tests.ts
  graphqlTestExample.txt
Due: belint

create edit test resolver
  backend/graphql/index.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
Due: belint

addressed pr comments and added mutator method createTestSession
  backend/graphql/index.ts
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
Due: belint

final changes
  backend/graphql/index.ts
  backend/models/test.model.ts
  frontend/src/APIClients/mutations/TestMutations.ts
Due: felint, belint

separate selection logic into a separate component
  frontend/src/components/question-creation/question-elements/modals/ResponseTypeModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceOption.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/SelectOptionCount.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

no correct answer error logic
  frontend/src/components/common/ErrorToast.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/SelectOptionCount.tsx
  frontend/src/types/QuestionTypes.ts
Due: felint

error handling
  frontend/src/components/question-creation/question-elements/MultipleChoiceElement.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceOption.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/SelectOptionCount.tsx
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

add edit functionality
  frontend/src/components/question-creation/question-elements/MultipleChoiceElement.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/EditMultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceOption.tsx
  frontend/src/utils/QuestionUtils.ts
Due: felint

mc styling
  frontend/src/components/question-creation/question-elements/MultipleChoiceElement.tsx
Due: felint

code cleanup
  frontend/src/components/question-creation/question-elements/MultipleChoiceElement.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceOption.tsx
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

changes
  backend/graphql/index.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/models/test.model.ts
  frontend/src/APIClients/mutations/TestMutations.ts
Due: felint, belint

fix file
  backend/graphql/index.ts
Due: belint

move delete logic to service
  backend/graphql/index.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/models/test.model.ts
  backend/services/implementations/testService.ts
  graphqlTestExample.txt
Due: belint

fix unit tests
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/testService.ts
Due: belint

backend: create delete assessment resolver (#155)
  backend/models/test.model.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/testService.ts
  backend/testUtils/tests.ts
Due: belint

create delete test mutation
  frontend/src/APIClients/mutations/TestMutations.ts
Due: felint

pr comments
  frontend/src/components/question-creation/question-elements/MultipleChoiceElement.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceOption.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/SelectOptionCount.tsx
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
