Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: felint
        name: Lint frontend files
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh felint
    -   id: belint
        name: Lint backend files
        files: ^backend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh belint

PR feedback: forwardRef context
  frontend/src/components/common/form/Select.tsx
Due: felint

PR feedback: make all selects searchable by default
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupTwo.tsx
  frontend/src/components/teacher/student-management/classroom-summary/AddOrEditClassroomModal.tsx
Due: felint

PR feedback: single-vs-multi-select errors
  frontend/src/components/common/form/Select.tsx
Due: felint

Remove "[COPY]" from unarchived test names
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/testService.ts
Due: belint

Add comment explaining duplicate-on-unarchive logic
  backend/services/implementations/testService.ts
Due: belint

Remove the ability to archive drafts
  backend/services/implementations/testService.ts
  frontend/src/components/admin/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/admin/assessment-status/EditStatusPopover.tsx
Due: felint, belint

[WIP, rebase on Joyce's changes] Disable editing non-draft tests
  backend/services/implementations/testService.ts
  frontend/src/components/pages/admin/AssessmentEditorPage/index.tsx
Due: felint, belint

add logic for reference counting
  backend/jest.config.ts
  backend/models/imageCount.model.ts
  backend/services/implementations/__tests__/imageCountService.test.ts
  backend/services/implementations/__tests__/imageUploadService.test.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/imageCountService.ts
  backend/services/implementations/imageUploadService.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/imageCountService.ts
  backend/services/interfaces/imageUploadService.ts
  backend/testUtils/imageUpload.ts
Due: belint

pr comment: rename searchLength to resultsLength
  frontend/src/components/admin/user-management/admin/AdminTab.tsx
  frontend/src/components/common/table/SearchableTablePage.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomStudentsPage.tsx
Due: felint

fix: show search filters unconditionally (#606)
  frontend/src/components/admin/user-management/admin/AdminTab.tsx
  frontend/src/components/common/table/SearchableTablePage.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomStudentsPage.tsx
Due: felint

miscellaneous table fixes
  frontend/src/components/admin/user-management/admin/AdminTab.tsx
  frontend/src/components/admin/user-management/admin/AdminUserTable.tsx
  frontend/src/components/admin/user-management/teacher/TeacherUserTable.tsx
  frontend/src/components/common/info/messages/EmptyUsersMessage.tsx
  frontend/src/components/common/table/Pagination.tsx
  frontend/src/components/common/table/SearchBar.tsx
  frontend/src/components/common/table/SearchableTablePage.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomStudentsPage.tsx
  frontend/src/components/teacher/results/StudentList/StudentList.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseAssessment.tsx
Due: felint

fix increment logic
  backend/services/implementations/__tests__/imageUploadService.test.ts
  backend/services/implementations/testService.ts
Due: belint

Fix inaccuracy in email copy
  backend/services/implementations/authService.ts
Due: belint

Fix capitalization of 'JUMP Math' to match their website/emails
  backend/services/implementations/authService.ts
  frontend/public/index.html
  frontend/src/components/admin/user-management/admin/AddAdminModal/FormModal.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupTwo.tsx
  frontend/src/components/auth/usePageTitle.ts
  frontend/src/components/common/info/messages/AddAdminConfirmationMessage.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
Due: felint, belint

Fix failing tests
  backend/services/implementations/__tests__/testService.test.ts
Due: belint

Use correct defaults
  frontend/src/components/common/form/Select.tsx
Due: felint

Remove duplicate form error messages
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/FractionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
Due: felint

update order of operations
  backend/services/implementations/testService.ts
Due: belint

fix: refactor common selects (#603)
  frontend/src/components/admin/assessment-creation/BasicInformation.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/FractionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/multi-option/MultiOptionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/multi-option/SelectOptionCount.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/auth/teacher-signup/SelectFormInput.tsx
  frontend/src/components/auth/teacher-signup/index.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/form/ControlledSelect.tsx
  frontend/src/components/common/form/Select.tsx
  frontend/src/components/common/table/FilterRow.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage/AssessmentEditor.tsx
  frontend/src/components/teacher/student-management/classroom-summary/AddOrEditClassroomModal.tsx
  frontend/src/types/SelectInputTypes.ts
Due: felint

fix: copy (#611)
  backend/services/implementations/authService.ts
  frontend/public/index.html
  frontend/src/components/admin/user-management/admin/AddAdminModal/FormModal.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupTwo.tsx
  frontend/src/components/auth/usePageTitle.ts
  frontend/src/components/common/info/messages/AddAdminConfirmationMessage.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
Due: felint, belint

Add `TimePicker` component
  backend/services/implementations/testSessionService.ts
  frontend/src/components/common/form/DatePicker.tsx
  frontend/src/components/common/form/DateTimePicker.tsx
  frontend/src/components/common/form/TimePicker.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/session-creation/steps/AddInformation.tsx
  frontend/src/components/teacher/session-creation/steps/Review.tsx
  frontend/src/utils/DateUtils.ts
  frontend/src/utils/GeneralUtils.ts
Due: felint, belint

fix: remove testing change
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
Due: felint

PR feedback: remove attachment direction
  frontend/src/components/common/form/TimePicker.tsx
Due: felint

PR feedback: reduce dropdown width
  frontend/src/components/common/form/TimePicker.tsx
Due: felint

PR feedback: improve comment, plus fix click bug
  frontend/src/components/common/form/DateTimePicker.tsx
  frontend/src/components/common/form/TimePicker.tsx
Due: felint

feat: add times to assessment date pickers (#607)
  backend/services/implementations/testSessionService.ts
  frontend/src/components/common/form/DatePicker.tsx
  frontend/src/components/common/form/DateTimePicker.tsx
  frontend/src/components/common/form/TimePicker.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/teacher/session-creation/steps/AddInformation.tsx
  frontend/src/components/teacher/session-creation/steps/Review.tsx
  frontend/src/utils/DateUtils.ts
  frontend/src/utils/GeneralUtils.ts
Due: felint, belint

Create `ControlledDateTimePicker` and remove unused component
  frontend/src/components/common/form/ControlledDateTimePicker.tsx
  frontend/src/components/teacher/student-management/classroom-summary/AddOrEditClassroomModal.tsx
Due: felint

Standardize placeholder format
  frontend/src/components/teacher/session-creation/steps/AddInformation.tsx
  frontend/src/components/teacher/student-management/classroom-summary/AddOrEditClassroomModal.tsx
Due: felint

Fix disabled style for `TimePicker` component
  frontend/src/components/common/form/TimePicker.tsx
Due: felint

Update placeholder to fit in smaller field size
  frontend/src/components/common/form/DatePicker.tsx
Due: felint

Fix modal spacing
  frontend/src/components/teacher/student-management/classroom-summary/AddOrEditClassroomModal.tsx
Due: felint

Add classroom timepicker (#612)
  frontend/src/components/common/form/ControlledDateTimePicker.tsx
  frontend/src/components/common/form/DatePicker.tsx
  frontend/src/components/common/form/TimePicker.tsx
  frontend/src/components/teacher/session-creation/steps/AddInformation.tsx
  frontend/src/components/teacher/student-management/classroom-summary/AddOrEditClassroomModal.tsx
Due: felint

fix: make school metadata optional
  backend/graphql/types/authType.ts
Due: belint

pr comments: default tab name + remove async
  frontend/src/components/admin/assessment-status/EditStatusButtons/PreviewButton.tsx
  frontend/src/components/pages/admin/AssessmentPreviewPage.tsx
Due: felint
