Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: felint
        name: Lint frontend files
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh felint
    -   id: belint
        name: Lint backend files
        files: ^backend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh belint

final merge changes
  frontend/src/components/assessment-creation/EditStatusPopover.tsx
Due: felint

feat: Display Assessments Page (#115)
  frontend/src/assets/icons.tsx
  frontend/src/components/assessment-creation/AssessmentsTable.tsx
  frontend/src/components/assessment-creation/CreateAssessementButton.tsx
  frontend/src/components/assessment-creation/EditStatusButton.tsx
  frontend/src/components/assessment-creation/EditStatusPopover.tsx
  frontend/src/components/assessment-creation/FilterMenu.tsx
  frontend/src/components/assessment-creation/StatusTag.tsx
  frontend/src/components/common/Table.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/types/AssessmentTypes.ts
Due: felint

DONE
  frontend/package.json
  frontend/src/components/common/Pagination.tsx
  frontend/src/themes/components/button.ts
Due: felint

error fixed
  frontend/src/components/pages/admin/UsersPage.tsx
Due: felint

changed itemsperpage
  frontend/src/components/common/Table.tsx
Due: felint

made seperate file for components
  frontend/src/components/common/Pagination.tsx
  frontend/src/themes/components/pagination.ts
Due: felint

changes
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/common/Table.tsx
  frontend/src/themes/components/pagination.ts
  frontend/src/themes/index.ts
Due: felint

finished pagination
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/common/Table.tsx
  frontend/src/themes/components/button.ts
  frontend/src/themes/components/pagination.ts
  frontend/src/themes/index.ts
Due: felint

adding PaginationStyle to themes
  frontend/src/themes/index.ts
Due: felint

delete paginationts
  frontend/src/components/common/Table.tsx
  frontend/src/themes/components/pagination.ts
  frontend/src/themes/index.ts
Due: felint

removed prop-types
  frontend/package.json
Due: none

pagination
  frontend/src/components/common/Pagination.tsx
  frontend/src/themes/components/button.ts
Due: felint

update deploy targets
  .github/workflows/firebase-hosting-merge-prod.yml
  .github/workflows/firebase-hosting-merge-staging.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  frontend/.firebaserc
  frontend/firebase.json
Due: none

update node
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

update public folder
  .github/workflows/firebase-hosting-merge-prod.yml
  frontend/firebase.json
Due: none

test
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

another test
  frontend/.firebaserc
  frontend/.gitignore
  frontend/firebase.json
Due: none

revert node version
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

add back targets
  frontend/firebase.json
Due: none

update package.json
  frontend/package.json
Due: none

revert node version
  frontend/package.json
Due: none

only have staging
  .github/workflows/firebase-hosting-merge-prod.yml
  .github/workflows/firebase-hosting-merge-staging.yml
Due: none

setup frontend deploy
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  frontend/.firebaserc
  frontend/.gitignore
  frontend/firebase.json
Due: none

remove cached folders
  frontend/.firebaserc
Due: none

update package.json to fix openssl error
  frontend/.firebaserc
  frontend/package.json
Due: none

update react scripts
  frontend/package.json
  frontend/yarn.lock
Due: none

add back change to openssl
  frontend/package.json
Due: none

yarn add util
  frontend/package.json
  frontend/yarn.lock
Due: none

revert version bumps
  frontend/package.json
  frontend/yarn.lock
Due: none

deploy backend for staging
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

testing workflow
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

fix syntax error
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

rrun job
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

update secret variables
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

test without errors
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

add back secrets
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

update path
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

refactor setting heroku secrets
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

update node-env
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  backend/graphql/resolvers/authResolvers.ts
  backend/utilities/logger.ts
Due: belint

make it better
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none
