Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

add corrected fraction
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/question-elements/CorrectedFraction.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/question-elements/CorrectedShortAnswer.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/question-elements/CorrectedTextField.tsx
Due: felint

update fraction tag color
  frontend/src/components/admin/assessment-creation/QuestionTag.tsx
Due: felint

refactor fraction components
  frontend/src/components/admin/question-creation/question-elements/FractionElement.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/FractionModal.tsx
  frontend/src/components/student/questions/question-elements/Fraction.tsx
Due: felint

add new wrapper
  frontend/src/components/common/FractionWrapper.tsx
Due: felint

refactor code
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/FractionModal.tsx
  frontend/src/components/student/questions/question-elements/Fraction.tsx
Due: felint

refactor images to icons
  frontend/src/assets/images.ts
  frontend/src/components/admin/question-creation/QuestionSidebar.tsx
  frontend/src/constants/StudentAssessmentConstants.ts
Due: felint

Update frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
Due: felint

Update backend/graphql/types/testSessionType.ts
  backend/graphql/types/testSessionType.ts
Due: belint

feat: getStudentLeaderBoard (#496)
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
Due: felint, belint

feat: edit classroom button on classroom cards (#497)
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
Due: felint

pr comment: remove redundant onClose
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/AddFractionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/EditFractionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/multi-option/AddMultiOptionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/multi-option/EditMultiOptionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/short-answer/AddShortAnswerModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/short-answer/EditShortAnswerModal.tsx
Due: felint

pr comment: destructure student answer
  frontend/src/components/teacher/results/StudentAnswersSection/question-elements/CorrectedFraction.tsx
Due: felint

pr comment: copy changes to response types
  frontend/src/constants/QuestionConstants.ts
  frontend/src/constants/StudentAssessmentConstants.ts
Due: felint

pr comment: refactor fraction field into separate component
  frontend/src/components/admin/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/ArchiveButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/DeleteButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/DuplicateButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/EditButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/PublishButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/UnarchiveButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusPopover.tsx
  frontend/src/components/admin/question-creation/question-elements/FractionElement.tsx
  frontend/src/components/admin/question-creation/question-elements/ImageElement.tsx
  frontend/src/components/admin/question-creation/question-elements/MultiOptionElement.tsx
  frontend/src/components/admin/question-creation/question-elements/ShortAnswerElement.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/EditFractionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/FractionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/multi-option/EditMultiOptionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/short-answer/EditShortAnswerModal.tsx
  frontend/src/components/common/fraction/FractionFieldInput.tsx
  frontend/src/components/common/fraction/FractionInput.tsx
  frontend/src/components/student/SubmitButton.tsx
  frontend/src/components/student/questions/question-elements/Fraction.tsx
Due: felint

refactor input width logic
  frontend/src/components/common/fraction/FractionFieldInput.tsx
  frontend/src/components/common/fraction/FractionInput.tsx
  frontend/src/components/student/questions/question-elements/Fraction.tsx
Due: felint

use icon button component
  frontend/src/components/admin/question-creation/question-elements/FractionElement.tsx
Due: felint

remove unused imports
  frontend/src/components/admin/question-creation/question-elements/FractionElement.tsx
Due: felint

minor ui fixes
  frontend/src/assets/icons.tsx
  frontend/src/components/student/QuestionTypeImages.tsx
Due: felint

remove alt messages
  frontend/src/constants/StudentAssessmentConstants.ts
Due: felint

add new function
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/services/interfaces/statisticService.ts
Due: belint

refactor logic
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/services/implementations/testSessionService.ts
  backend/utilities/dataVisualizationUtils.ts
Due: belint

remove unused import
  frontend/src/components/admin/question-creation/QuestionSidebar.tsx
Due: felint

nit changes
  backend/services/implementations/statisticService.ts
Due: belint

fix: Refactor response images to icons (#518)
  frontend/src/assets/icons.tsx
  frontend/src/assets/images.ts
  frontend/src/components/admin/question-creation/QuestionSidebar.tsx
  frontend/src/components/student/QuestionTypeImages.tsx
  frontend/src/constants/StudentAssessmentConstants.ts
Due: felint

feat: Compute Mark Distribution for Assessment (#519)
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/statisticService.ts
  backend/utilities/dataVisualizationUtils.ts
Due: belint

add frontend components
  backend/graphql/types/testType.ts
  backend/middlewares/validators/testValidators.ts
  backend/models/testSession.model.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/tests.ts
  backend/types/questionMetadataTypes.ts
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/components/admin/question-creation/question-elements/FractionElement.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/AddFractionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/ChooseFractionTypeModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/EditFractionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/FractionModal.tsx
  frontend/src/components/common/fraction/FractionInput.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/student/questions/Question.tsx
  frontend/src/components/student/questions/question-elements/Fraction.tsx
  frontend/src/components/student/questions/question-elements/MixedFraction.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/CorrectedQuestion.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/question-elements/CorrectedMixedFraction.tsx
  frontend/src/components/teacher/student-management/view-students/EditStudentPopover.tsx
  frontend/src/types/QuestionMetadataTypes.ts
  frontend/src/types/QuestionTypes.ts
Due: felint, belint

fix ui components for zero value
  backend/services/implementations/testSessionService.ts
  frontend/src/components/student/questions/Question.tsx
  frontend/src/components/student/questions/question-elements/MixedFraction.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/CorrectedQuestion.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/question-elements/CorrectedMixedFraction.tsx
Due: felint, belint

refactor: cleanup button naming
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentButton.tsx
Due: felint

feat: add working mutation
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentButton.tsx
Due: felint

feat: add success toast & random # generation
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentButton.tsx
  frontend/src/utils/TestSessionUtils.ts
Due: felint

fix: adjust tooltip padding to match question editor
  frontend/src/components/student/QuestionTypeImages.tsx
Due: felint

fix: update submission modal text from confirm to submit
  frontend/src/components/student/SubmitButton.tsx
Due: felint

fix: prioritize completed question numbers over current
  frontend/src/utils/StudentUtils.ts
Due: felint

feat: add arrows to test navigation buttons
  frontend/src/components/student/NavButtons.tsx
Due: felint

fix: extra spacing
  frontend/src/components/student/questions/Question.tsx
Due: felint

fix tests
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/testUtils/statistics.ts
  backend/testUtils/testSession.ts
Due: belint

refactor code
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/ChooseFractionTypeModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/EditFractionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/FractionModal.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/CorrectedQuestion.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/question-elements/CorrectedFraction.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/question-elements/CorrectedMixedFraction.tsx
Due: felint

add back navigation to modal
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/AddFractionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/FractionModal.tsx
  frontend/src/components/common/modal/Modal.tsx
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
