Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

add unit test
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
Due: belint

feat: update teacher frontend type to store school id
  frontend/src/components/admin/user-management/admin/AdminUserTable.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/teacher-signup/index.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/types/AuthTypes.ts
Due: felint

feat: backend functionality to get school by teacher id
  backend/graphql/resolvers/schoolResolvers.ts
  backend/graphql/types/schoolType.ts
  backend/services/implementations/schoolService.ts
  backend/services/interfaces/schoolService.ts
  frontend/src/APIClients/queries/SchoolQueries.ts
Due: felint, belint

rename function for purpose
  backend/graphql/resolvers/classResolvers.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/classAssertions.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
Due: felint, belint

disable version updates by dependabot
  .github/dependabot.yml
Due: none

fix query
  frontend/src/APIClients/queries/ClassQueries.ts
Due: felint

update graphql types
  backend/graphql/types/classType.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
Due: felint, belint

update fractions icon
  frontend/src/assets/icons.tsx
Due: felint

pr comment: fix css for fraction input
  frontend/src/components/admin/question-creation/question-elements/FractionElement.tsx
  frontend/src/components/common/fraction/FractionFieldInput.tsx
  frontend/src/components/common/fraction/FractionInput.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/question-elements/CorrectedFraction.tsx
Due: felint

pr comment: convert string input to int instead of float
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/FractionModal.tsx
  frontend/src/components/student/questions/question-elements/Fraction.tsx
  frontend/src/components/student/questions/question-elements/MultiSelect.tsx
  frontend/src/components/student/questions/question-elements/MultipleChoice.tsx
  frontend/src/components/student/questions/question-elements/ShortAnswer.tsx
  frontend/src/utils/GeneralUtils.ts
  frontend/src/utils/StudentUtils.ts
Due: felint

pr comment: rename model actions
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/AddFractionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/ChooseFractionTypeModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/FractionModal.tsx
Due: felint

pr comment: fix css for fraction in editor workspace
  frontend/src/components/admin/question-creation/question-elements/FractionElement.tsx
Due: felint

fix logic for completed count
  frontend/src/components/student/questions/question-elements/Fraction.tsx
  frontend/src/components/student/questions/question-elements/MixedFraction.tsx
  frontend/src/components/student/questions/question-elements/useAnswerState.ts
  frontend/src/types/AnswerTypes.ts
  frontend/src/utils/StudentUtils.ts
Due: felint

chore: disable version updates by dependabot (#545)
  .github/dependabot.yml
Due: none

prevent non numeric keys from input
  frontend/src/components/admin/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/components/common/fraction/FractionFieldInput.tsx
  frontend/src/utils/GeneralUtils.ts
Due: felint

feat: filter out completed students from name selection (#533)
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/classType.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/classService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/classAssertions.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
Due: felint, belint

Fetch missing `startDate` field
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
Due: felint

Fix classroom page constantly rerendering
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
Due: felint

Refetch correct queries upon class update
  frontend/src/components/teacher/student-management/classroom-summary/AddOrEditClassroomModal.tsx
  frontend/src/utils/GeneralUtils.ts
Due: felint

Reset form data to default values rather than empty state
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/teacher/student-management/classroom-summary/AddOrEditClassroomModal.tsx
Due: felint

Add comment explaining why `reset` is necessary
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
Due: felint

Hydrate default values on classrooms page
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomCard.tsx
Due: felint

update short answer border to be consistent
  frontend/src/components/admin/question-creation/question-elements/ShortAnswerElement.tsx
Due: felint

Add test session status to some test session endpoints
  backend/graphql/types/scalarType.ts
  backend/graphql/types/testSessionType.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/utilities/testSessionUtils.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
  frontend/src/components/teacher/student-management/classroom-summary/useClassDataQuery.ts
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
  frontend/src/components/teacher/view-sessions/useAssessmentDataQuery.ts
  frontend/src/types/TestSessionTypes.ts
  frontend/src/utils/TestSessionUtils.ts
Due: felint, belint

Add correct limit to backend
  backend/services/implementations/testSessionService.ts
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
Due: felint, belint

Sort assessments properly
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
Due: felint

Fix error in test
  backend/testUtils/testSession.ts
Due: belint

fix: bugs surrounding edit-classroom modal (#532)
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/teacher/student-management/classroom-summary/AddOrEditClassroomModal.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomCard.tsx
  frontend/src/utils/GeneralUtils.ts
Due: felint

Sort data before filtering
  backend/services/implementations/testSessionService.ts
Due: belint

Show archive option on class cards
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/teacher/dashboard/ClassroomsSection.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomCard.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
Due: felint

Fix archive modal closing too early
  frontend/src/components/common/modal/Modal.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
  frontend/src/components/teacher/student-management/classroom-summary/DeleteClassroomModal.tsx
Due: felint

Show archived classrooms in a separate tab
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
Due: felint

refactor multi option
  frontend/src/components/admin/preview-assessment/question-elements/MultiOption.tsx
  frontend/src/components/admin/preview-assessment/question-elements/MultiSelect.tsx
  frontend/src/components/admin/preview-assessment/question-elements/MultipleChoice.tsx
  frontend/src/components/admin/question-creation/question-elements/FractionElement.tsx
  frontend/src/components/admin/question-creation/question-elements/MultiOptionElement.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/FractionModal.tsx
  frontend/src/components/common/question-elements/fraction/FractionFieldInput.tsx
  frontend/src/components/common/question-elements/fraction/FractionInput.tsx
  frontend/src/components/common/question-elements/multi-option/MultiSelectInput.tsx
  frontend/src/components/common/question-elements/multi-option/MultipleChoiceInput.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/student/questions/question-elements/Fraction.tsx
  frontend/src/components/student/questions/question-elements/MultiSelect.tsx
  frontend/src/components/student/questions/question-elements/MultipleChoice.tsx
Due: felint

move multi option component into common
  frontend/src/components/admin/question-creation/question-elements/MultiOptionElement.tsx
  frontend/src/components/common/question-elements/multi-option/MultiOptionInput.tsx
Due: felint

remove separate components for preview
  frontend/src/components/admin/preview-assessment/question-elements/MultiSelect.tsx
  frontend/src/components/admin/preview-assessment/question-elements/MultipleChoice.tsx
  frontend/src/components/admin/question-creation/question-elements/MultiOptionElement.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

fix padding
  frontend/src/components/admin/question-creation/question-elements/MultiOptionElement.tsx
  frontend/src/components/common/question-elements/multi-option/MultiSelectInput.tsx
  frontend/src/components/common/question-elements/multi-option/MultipleChoiceInput.tsx
Due: felint

feat: create generic component for multi options (#548)
  frontend/src/components/admin/question-creation/question-elements/FractionElement.tsx
  frontend/src/components/admin/question-creation/question-elements/MultiOptionElement.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/FractionModal.tsx
  frontend/src/components/common/question-elements/fraction/FractionFieldInput.tsx
  frontend/src/components/common/question-elements/fraction/FractionInput.tsx
  frontend/src/components/common/question-elements/multi-option/MultiOptionInput.tsx
  frontend/src/components/common/question-elements/multi-option/MultiSelectInput.tsx
  frontend/src/components/common/question-elements/multi-option/MultipleChoiceInput.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/student/questions/question-elements/Fraction.tsx
  frontend/src/components/student/questions/question-elements/MultiSelect.tsx
  frontend/src/components/student/questions/question-elements/MultipleChoice.tsx
Due: felint

feat: add mixed fractions as question type (#530)
  backend/graphql/types/testType.ts
  backend/middlewares/validators/testValidators.ts
  backend/models/testSession.model.ts
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/statistics.ts
  backend/testUtils/testSession.ts
  backend/testUtils/tests.ts
  backend/types/questionMetadataTypes.ts
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/assets/icons.tsx
  frontend/src/components/admin/question-creation/question-elements/FractionElement.tsx
  frontend/src/components/admin/question-creation/question-elements/ShortAnswerElement.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/AddFractionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/ChooseFractionTypeModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/EditFractionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/FractionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/components/common/modal/Modal.tsx
  frontend/src/components/common/question-elements/fraction/FractionFieldInput.tsx
  frontend/src/components/common/question-elements/fraction/FractionInput.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/student/questions/Question.tsx
  frontend/src/components/student/questions/question-elements/MixedFraction.tsx
  frontend/src/components/student/questions/question-elements/MultiSelect.tsx
  frontend/src/components/student/questions/question-elements/MultipleChoice.tsx
  frontend/src/components/student/questions/question-elements/ShortAnswer.tsx
  frontend/src/components/student/questions/question-elements/useAnswerState.ts
  frontend/src/components/teacher/results/StudentAnswersSection/question-elements/CorrectedFraction.tsx
  frontend/src/components/teacher/student-management/view-students/EditStudentPopover.tsx
  frontend/src/themes/components/radio.ts
  frontend/src/types/AnswerTypes.ts
  frontend/src/types/QuestionMetadataTypes.ts
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/GeneralUtils.ts
  frontend/src/utils/StudentUtils.ts
Due: felint, belint

feat: add frontend call to query
  frontend/src/APIClients/queries/SchoolQueries.ts
  frontend/src/components/auth/Login.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
Due: felint

cleanup: minor fixes
  frontend/src/APIClients/queries/SchoolQueries.ts
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
