Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

Allow selecting the current student
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/sessions/results/StudentList.tsx
Due: felint

Use correct icon name
  frontend/src/assets/icons.tsx
  frontend/src/components/common/table/SortMenu.tsx
Due: felint

Auto-format
  frontend/src/components/common/table/SortMenu.tsx
Due: felint

backend: Compute Test Completion Rate (#327)
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/utilities/generalUtils.ts
Due: belint

Add corrected-answer helper components
  frontend/src/components/sessions/results/CorrectedInputWrapper.tsx
  frontend/src/components/sessions/results/CorrectedTextField.tsx
Due: felint

Add corrected-short-answer component
  frontend/src/components/sessions/results/CorrectedShortAnswer.tsx
Due: felint

Add demo of short-answer component to component library
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

feat: corrected-short-answer component (#347)
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/sessions/results/CorrectedInputWrapper.tsx
  frontend/src/components/sessions/results/CorrectedShortAnswer.tsx
  frontend/src/components/sessions/results/CorrectedTextField.tsx
Due: felint

feat: add student list component (#343)
  frontend/src/assets/icons.tsx
  frontend/src/components/common/table/SearchBar.tsx
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/sessions/results/StudentList.tsx
Due: felint

Add generic multi-option elements component
  frontend/src/components/sessions/results/CorrectedInputWrapper.tsx
  frontend/src/components/sessions/results/CorrectedMultiOptionElements.tsx
Due: felint

Add multiple-choice component
  frontend/src/components/sessions/results/CorrectedMultipleChoice.tsx
Due: felint

Add demo of multi-option components to component library
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

Add multi-select component
  frontend/src/components/sessions/results/CorrectedMultiSelect.tsx
  frontend/src/themes/components/checkbox.ts
Due: felint

Upgrade `multer` to the latest stable version
  backend/package.json
  backend/yarn.lock
Due: none

Remove unused rjsf packages
  frontend/package.json
  frontend/yarn.lock
Due: none

use updated linter
  frontend/src/App.tsx
  frontend/src/assets/images.ts
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/assessments/student-experience/QuestionNumbers.tsx
  frontend/src/components/assessments/student-experience/pre-assessment/AssessmentInfo.tsx
  frontend/src/components/assessments/student-experience/question-elements/useAnswerState.ts
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/question-creation/QuestionEditor.tsx
  frontend/src/components/question-creation/QuestionSidebar.tsx
  frontend/src/components/question-creation/question-elements/ImageElement.tsx
  frontend/src/components/question-creation/question-elements/MultiOptionElement.tsx
  frontend/src/components/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/components/question-creation/question-elements/ShortAnswerElement.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-option/MultiOptionModal.tsx
  frontend/src/types/TestSessionTypes.ts
  frontend/src/utils/LocalStorageUtils.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

linter
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
Due: felint

fix casting issues
  frontend/src/components/assessments/student-experience/question-elements/MultiSelect.tsx
  frontend/src/utils/GeneralUtils.ts
  frontend/src/utils/StudentUtils.ts
Due: felint

fix 0 index problem & add multi-select array sorting
  frontend/src/utils/StudentUtils.ts
Due: felint

add handling on submission
  frontend/src/components/assessments/TestSubmissionMessage.tsx
  frontend/src/components/assessments/student-experience/NavButtons.tsx
  frontend/src/components/common/LoadingState.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
  frontend/src/contexts/StudentContext.ts
Due: felint

cleanup
  frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/utils/GeneralUtils.ts
  frontend/src/utils/StudentUtils.ts
Due: felint

split student context
  frontend/src/components/assessments/student-experience/Instructions.tsx
  frontend/src/components/assessments/student-experience/NavButtons.tsx
  frontend/src/components/assessments/student-experience/QuestionNumbers.tsx
  frontend/src/components/assessments/student-experience/QuestionTitle.tsx
  frontend/src/components/assessments/student-experience/SubmitButton.tsx
  frontend/src/components/assessments/student-experience/question-elements/useAnswerState.ts
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
  frontend/src/contexts/StudentContext.ts
  frontend/src/contexts/WriteAssessmentContext.ts
Due: felint

fix: remove unused dependency `rjsf` (#350)
  frontend/package.json
  frontend/yarn.lock
Due: none

update confirmation modal to reflect unanswered questions count
  frontend/src/components/assessments/student-experience/SubmitButton.tsx
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
  frontend/src/utils/StudentUtils.ts
Due: felint

fix handler function
  frontend/src/components/assessments/student-experience/SubmitButton.tsx
Due: felint

add loader
  frontend/src/components/pages/student/StudentLoginPage.tsx
Due: felint

initial commit
  frontend/src/assets/icons.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/sessions/distribute/FormHeader.tsx
Due: felint

fix: upgrade `multer` to the latest stable version (#349)
  backend/package.json
  backend/yarn.lock
Due: none

Added associated resolver
  backend/graphql/resolvers/classResolvers.ts
  backend/services/interfaces/classService.ts
Due: belint

Added archiveClass to schema
  backend/graphql/types/classType.ts
Due: belint

init
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint

removed unnecessary import
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
Due: felint

Fixed test cases
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/testUtils/testSession.ts
Due: belint

feat: multi-option components (#348)
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/sessions/results/CorrectedInputWrapper.tsx
  frontend/src/components/sessions/results/CorrectedMultiOptionElements.tsx
  frontend/src/components/sessions/results/CorrectedMultiSelect.tsx
  frontend/src/components/sessions/results/CorrectedMultipleChoice.tsx
  frontend/src/themes/components/checkbox.ts
Due: felint

Organize session data-viz package
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/sessions/data-visualization/StatisticCard.tsx
  frontend/src/components/sessions/data-visualization/StudentList/StudentList.tsx
  frontend/src/components/sessions/data-visualization/StudentList/StudentListItem.tsx
  frontend/src/components/sessions/data-visualization/StudentList/index.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedInputWrapper.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedMultiOptionElements.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedMultiSelect.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedMultipleChoice.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedShortAnswer.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedTextField.tsx
Due: felint

fix: organize data-viz package (#354)
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/sessions/data-visualization/StatisticCard.tsx
  frontend/src/components/sessions/data-visualization/StudentList/StudentList.tsx
  frontend/src/components/sessions/data-visualization/StudentList/StudentListItem.tsx
  frontend/src/components/sessions/data-visualization/StudentList/index.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedInputWrapper.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedMultiOptionElements.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedMultiSelect.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedMultipleChoice.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedShortAnswer.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedTextField.tsx
Due: felint

Add common `RouterTabs` component
  frontend/src/components/common/RouterTabs.tsx
Due: felint

Add basic structure for new page
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsByStudentPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsSummaryPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/index.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/constants/Routes.ts
Due: felint

Add basic student page structure
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsByStudentPage.tsx
  frontend/src/components/sessions/data-visualization/StudentList/StudentList.tsx
  frontend/src/components/sessions/data-visualization/StudentList/StudentListItem.tsx
Due: felint

addressing pr comments
  frontend/src/components/assessments/TestSubmissionMessage.tsx
  frontend/src/components/assessments/student-experience/Instructions.tsx
  frontend/src/components/assessments/student-experience/SubmitButton.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/common/ModalText.tsx
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
