Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: felint
        name: Lint frontend files
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh felint
    -   id: belint
        name: Lint backend files
        files: ^backend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh belint

feat: fetch class title and start date
  backend/graphql/types/classType.ts
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
Due: felint, belint

fix: sorting functions should copy their input, not mutate it
  frontend/src/utils/GeneralUtils.ts
Due: felint

feat: use fetched start date and grade for display purposes
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
Due: felint

feat: update classroom mutation
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  frontend/src/APIClients/mutations/ClassMutations.ts
Due: felint, belint

feat: add classroom-editing modal
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/teacher/student-management/classroom-summary/AddClassroomModal.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomCard.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint

chore: rename modal to be more accurate
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/teacher/student-management/classroom-summary/AddOrEditClassroomModal.tsx
Due: felint

Fixed graphql issue
  backend/graphql/index.ts
  backend/graphql/types/classType.ts
Due: belint

update docs and organize tests
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/interfaces/statisticService.ts
Due: belint

Fixed test case
  backend/services/implementations/__tests__/classService.test.ts
Due: belint

init
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  backend/services/interfaces/classService.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/teacher/student-management/classrooms/ClassroomCard.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint, belint

feat: choose assessment page (distribute assessment - page 1) (#375)
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/testService.ts
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/session-creation/AssessmentsTable.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseAssessment.tsx
  frontend/src/themes/components/radio.ts
  frontend/src/themes/components/table.ts
Due: felint, belint

chore: clean up StatisticsService (#429)
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/interfaces/statisticService.ts
Due: belint

first draft
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
Due: belint

update tests
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
Due: belint

update test assertion
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
Due: belint

fix for loop logic
  backend/services/implementations/testSessionService.ts
Due: belint

remove console logs
  backend/services/implementations/testSessionService.ts
Due: belint

run linter
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
Due: belint

reorder code
  backend/services/implementations/testSessionService.ts
Due: belint

update all mutation types
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/APIClients/types/UserClientTypes.ts
  frontend/src/components/admin/assessment-status/EditStatusButtons/ArchiveButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/DeleteButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/PublishButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusModals/DuplicateModal.tsx
  frontend/src/components/admin/assessment-status/EditStatusModals/UnarchiveModal.tsx
  frontend/src/components/admin/user-management/RemoveUserModal.tsx
  frontend/src/components/admin/user-management/admin/AddAdminModal.tsx
  frontend/src/components/auth/AdminSignupConfirmation.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/Logout.tsx
  frontend/src/components/auth/UnverifiedUsers.tsx
  frontend/src/components/auth/email-action/ResetPasswordHandler.tsx
  frontend/src/components/auth/email-action/VerifyEmailHandler.tsx
  frontend/src/components/auth/password/PasswordForm.tsx
  frontend/src/components/auth/reset-password/ForgotPassword.tsx
  frontend/src/components/auth/teacher-signup/index.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/student/SubmitButton.tsx
  frontend/src/components/teacher/student-management/AddStudentModal.tsx
  frontend/src/components/teacher/student-management/classrooms/AddClassroomModal.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint

truncate for histogram effect
  backend/services/implementations/testSessionService.ts
Due: belint

add new function and unit tests
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
Due: belint

feat: get mark distribution for test session (#440)
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
Due: belint

add new folders
  frontend/src/components/data-visualization/question-elements/CorrectedInputWrapper.tsx
  frontend/src/components/data-visualization/question-elements/CorrectedMultiOptionElements.tsx
  frontend/src/components/data-visualization/question-elements/CorrectedMultipleChoice.tsx
Due: felint

feat: get performance by question for test session (#444)
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
Due: belint

add bar graph
  frontend/package.json
  frontend/src/components/data-visualization/BarGraph.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/yarn.lock
Due: felint

refactor props
  frontend/src/components/data-visualization/BarGraph.tsx
  frontend/src/components/data-visualization/Chart.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/themes/components/tabs.ts
Due: felint

adjust padding
  frontend/src/components/data-visualization/Chart.tsx
  frontend/src/themes/components/tabs.ts
Due: felint

rename for consistency
  frontend/src/components/data-visualization/ChartSection.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

feat: graph visualization component (#441)
  frontend/package.json
  frontend/src/components/data-visualization/BarGraph.tsx
  frontend/src/components/data-visualization/ChartSection.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/themes/components/tabs.ts
  frontend/yarn.lock
Due: felint

get top performing students
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
Due: felint, belint

final
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/components/auth/teacher-signup/index.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupFour.tsx
  frontend/src/types/TeacherSignupTypes.tsx
Due: felint

feat: add active assessment field to class card (#442)
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  backend/services/interfaces/classService.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/teacher/student-management/classrooms/ClassroomCard.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint, belint

final edit
  frontend/src/APIClients/AuthAPIClient.ts
Due: felint

final edit
  frontend/src/components/auth/Login.tsx
Due: felint

edit
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
Due: felint

fix: Show correct login error (#369)
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/teacher-signup/index.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupThree.tsx
  frontend/src/types/TeacherSignupTypes.tsx
Due: felint

init
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/components/teacher/student-management/classrooms/ClassroomCard.tsx
  frontend/src/components/teacher/student-management/classrooms/ClassroomPopover.tsx
Due: felint, belint

fix: classroom card spacing
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
Due: felint

fix: header spacing on empty state page
  frontend/src/components/common/info/messages/EmptySessionsMessage.tsx
Due: felint
