Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

update graphql types
  backend/graphql/types/testType.ts
Due: belint

use imported component
  frontend/src/components/pages/admin/UsersPage.tsx
Due: felint

updated css
  frontend/src/components/common/SortTablePopover.tsx
Due: felint

update model to use mixed type
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/middlewares/validators/testValidators.ts
  backend/middlewares/validators/util.ts
  backend/models/test.model.ts
  backend/models/testSession.model.ts
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
  backend/testUtils/tests.ts
Due: belint

add teachers query to backend
  backend/.eslintrc.js
  backend/graphql/resolvers/userResolvers.ts
  backend/graphql/types/userType.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/services/implementations/userService.ts
  backend/services/interfaces/userService.ts
  backend/types.ts
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
Due: felint, belint

created new element and added route
  frontend/src/components/assessment-creation/CreateAssessmentPage.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/constants/Routes.ts
Due: felint

add school field to frontend
  backend/graphql/resolvers/userResolvers.ts
  backend/services/implementations/userService.ts
  backend/types.ts
  frontend/src/APIClients/queries/UserQueries.ts
  frontend/src/components/common/SortTablePopover.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/user-management/AdminTab.tsx
  frontend/src/components/user-management/AdminUserTable.tsx
  frontend/src/components/user-management/TeacherUserTable.tsx
  frontend/src/types/UserTypes.ts
Due: felint, belint

fix undefined bug
  frontend/src/components/pages/admin/UsersPage.tsx
Due: felint

first set of changes
  frontend/src/assets/icons.tsx
  frontend/src/components/assessment-creation/AssessmentTable.tsx
  frontend/src/components/assessment-creation/CreateAssessementModal.tsx
  frontend/src/components/assessment-creation/DisplayAssessmentsPage.tsx
  frontend/src/components/assessment-creation/EditAssessmentPopover.tsx
  frontend/src/components/assessment-creation/FilterTablePopover.tsx
  frontend/src/components/assessment-creation/Table.tsx
  frontend/src/types/AssessmentType.ts
Due: felint

everything except bolded letters
  backend/models/test.model.ts
  frontend/src/assets/icons.tsx
  frontend/src/components/common/QuestionCard.tsx
  frontend/src/components/common/QuestionTag.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/themes/typography.ts
Due: felint, belint

finished question card component
  frontend/src/components/common/QuestionCard.tsx
Due: felint

use hooks for sort table popover
  frontend/src/components/common/SortTablePopover.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
Due: felint

making properties field dynamic
  frontend/src/components/common/SortTablePopover.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
Due: felint

cosmetic
  frontend/src/components/common/SortMenu.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
Due: felint

sorting function
  frontend/src/components/assessment-creation/DisplayAssessmentsPage.tsx
  frontend/src/components/assessment-creation/SortTablePopover.tsx
Due: felint

sort on click
  frontend/src/components/assessment-creation/SortTablePopover.tsx
Due: felint

status tag component and dummy data changes
  frontend/src/components/assessment-creation/DisplayAssessmentsPage.tsx
  frontend/src/components/assessment-creation/StatusTag.tsx
  frontend/src/components/assessment-creation/Table.tsx
Due: felint

funcitioning search bar
  frontend/src/components/assessment-creation/DisplayAssessmentsPage.tsx
Due: felint

make tests cleaner
  backend/services/implementations/__tests__/userService.test.ts
  backend/services/implementations/userService.ts
  backend/services/interfaces/userService.ts
Due: belint

fix array comparison
  backend/services/implementations/testSessionService.ts
Due: belint

reviewed comments from PR review
  backend/models/test.model.ts
  frontend/src/App.tsx
  frontend/src/components/common/QuestionCard.tsx
  frontend/src/components/common/QuestionTag.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/constants/Routes.ts
  frontend/src/themes/typography.ts
  frontend/src/types/QuestionTypes.ts
Due: felint, belint

update statistics services
  backend/middlewares/validators/testValidators.ts
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/statisticService.ts
  backend/testUtils/statistics.ts
  backend/testUtils/testSession.ts
Due: belint

Update frontend/src/App.tsx
  frontend/src/App.tsx
Due: felint

Jenna - Question Card Component Update (#117)
  frontend/src/App.tsx
  frontend/src/assets/icons.tsx
  frontend/src/components/common/QuestionCard.tsx
  frontend/src/components/common/QuestionTag.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/constants/Routes.ts
  frontend/src/types/QuestionTypes.ts
Due: felint

pr comments
  frontend/src/components/common/SortMenu.tsx
Due: felint

pr comments
  frontend/src/components/common/SortMenu.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
Due: felint

feat: table components (#116)
  frontend/src/components/common/SearchBar.tsx
  frontend/src/components/common/SortMenu.tsx
  frontend/src/components/common/SortTablePopover.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
Due: felint

revert eslint changes
  backend/.eslintrc.js
Due: belint

Status tag color updates and Edit Assesment redesign
  frontend/src/components/assessment-creation/DisplayAssessmentsPage.tsx
  frontend/src/components/assessment-creation/EditAssessmentPopover.tsx
  frontend/src/components/assessment-creation/StatusTag.tsx
Due: felint

Imported and put down form elements - no state
  frontend/src/components/assessment-creation/CreateAssessmentPage.tsx
Due: felint

refactoring and removing delete color
  frontend/src/components/assessment-creation/DisplayAssessmentsPage.tsx
  frontend/src/components/assessment-creation/StatusTag.tsx
Due: felint

use new sortmenu and searchbar components
  frontend/src/App.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/user-management/AdminTab.tsx
Due: felint

fix yarn lock
  frontend/yarn.lock
Due: none

fix graphql syntax
  backend/graphql/types/testType.ts
Due: belint

bug fix
  frontend/src/App.tsx
  frontend/src/components/common/SortMenu.tsx
Due: felint

address pr comments
  backend/middlewares/validators/testValidators.ts
  backend/models/testSession.model.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
Due: belint

update docs
  backend/services/interfaces/testSessionService.ts
Due: belint

feat: Update backend to support Question Creation (#110)
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/middlewares/validators/testValidators.ts
  backend/middlewares/validators/util.ts
  backend/models/test.model.ts
  backend/models/testSession.model.ts
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/statisticService.ts
  backend/services/interfaces/testService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/statistics.ts
  backend/testUtils/testSession.ts
  backend/testUtils/tests.ts
Due: belint

route changes
  frontend/src/App.tsx
  frontend/src/components/assessment-creation/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/constants/Routes.ts
Due: felint

refactored table
  frontend/src/components/assessment-creation/AssessmentTable.tsx
  frontend/src/components/assessment-creation/Table.tsx
  frontend/src/components/common/Table.tsx
  frontend/src/components/user-management/AdminUserTable.tsx
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
