Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

Hide remaining non-empty UI controls when inactive
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomCard.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
Due: felint

Update empty table states to better reflect the class state
  frontend/src/checkFeatureFlag.ts
  frontend/src/components/common/info/messages/EmptyClassSessionsMessage.tsx
  frontend/src/components/common/info/messages/EmptyClassStudentsMessage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomStudentsPage.tsx
Due: felint

Expose `updateStudent` mutation on backend
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  frontend/src/APIClients/mutations/ClassMutations.ts
Due: felint, belint

Add student-update modal to edit option
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/teacher/student-management/AddOrEditStudentModal.tsx
  frontend/src/components/teacher/student-management/view-students/StudentListPopover.tsx
Due: felint

Change type of `studentNumber` field to string
  frontend/src/components/teacher/student-management/AddOrEditStudentModal.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint

update dependencies for class
  backend/models/class.model.ts
  backend/models/testSession.model.ts
  backend/models/user.model.ts
  backend/services/implementations/classService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/implementations/userService.ts
Due: belint

oops
  frontend/src/checkFeatureFlag.ts
Due: felint

Hide search bar for empty table
  frontend/src/components/common/table/SearchableTablePage.tsx
Due: felint

Fix form default state
  frontend/src/components/teacher/student-management/view-students/StudentListPopover.tsx
Due: felint

fix: remove the ability to edit archived classrooms (#554)
  backend/services/implementations/classService.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/common/info/messages/EmptyClassSessionsMessage.tsx
  frontend/src/components/common/info/messages/EmptyClassStudentsMessage.tsx
  frontend/src/components/common/table/SearchableTablePage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomStudentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomCard.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
Due: felint, belint

Fix front-end error fetching schools
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/resolvers/schoolResolvers.ts
  backend/services/implementations/schoolService.ts
  backend/services/interfaces/schoolService.ts
  frontend/src/APIClients/queries/SchoolQueries.ts
  frontend/src/APIClients/types/SchoolClientTypes.ts
Due: felint, belint

Fix reset password UI
  frontend/src/components/auth/reset-password/ForgotPassword.tsx
Due: felint

Fix autofill on all password pages
  frontend/src/components/auth/password/PasswordForm.tsx
  frontend/src/components/auth/teacher-signup/NavigationButtons.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupFour.tsx
Due: felint

Fix failing tests
  backend/services/implementations/schoolService.ts
  backend/testUtils/school.ts
Due: belint

feat: edit student (#558)
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/teacher/student-management/AddOrEditStudentModal.tsx
  frontend/src/components/teacher/student-management/view-students/StudentListPopover.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint, belint

Remove extraneous `toString`
  backend/services/implementations/schoolService.ts
Due: belint

[hold] feat: enable archive classroom feature (#557)
  frontend/src/checkFeatureFlag.ts
Due: felint

fix: minor auth fixes (#559)
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/resolvers/schoolResolvers.ts
  backend/services/implementations/schoolService.ts
  backend/services/interfaces/schoolService.ts
  backend/testUtils/school.ts
  frontend/src/APIClients/queries/SchoolQueries.ts
  frontend/src/APIClients/types/SchoolClientTypes.ts
  frontend/src/components/auth/password/PasswordForm.tsx
  frontend/src/components/auth/reset-password/ForgotPassword.tsx
  frontend/src/components/auth/teacher-signup/NavigationButtons.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupFour.tsx
Due: felint, belint

Add contextually-appropriate titles to all pages
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/auth/usePageTitle.ts
  frontend/src/components/pages/Landing.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
Due: felint

refactor: write assessment page to use a common component
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
  frontend/src/components/student/AssessmentExperience.tsx
  frontend/src/components/student/questions/QuestionTitle.tsx
Due: felint

Fix minor issues with the title logic
  frontend/src/App.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/auth/usePageTitle.ts
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
Due: felint

Gate teacher data viz behind feature flag
  frontend/src/checkFeatureFlag.ts
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/index.tsx
Due: felint

Gate admin data viz behind feature flag
  frontend/src/components/admin/view-assessments/AssessmentsTable.tsx
Due: felint

handle dependencies for class and user
  backend/models/class.model.ts
  backend/models/user.model.ts
Due: belint

delete dependencies on object deletion
  backend/models/class.model.ts
  backend/models/testSession.model.ts
  backend/models/user.model.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/__tests__/userService.test.ts
Due: belint

add logic for upcoming and active test sessions
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/classAssertions.ts
Due: belint

refactor: preview modal to use common experience component
  frontend/src/components/admin/assessment-creation/PreviewQuestionModal.tsx
  frontend/src/components/student/AssessmentExperience.tsx
  frontend/src/components/student/NavButtons.tsx
  frontend/src/components/student/StudentDashboardHeader.tsx
Due: felint

feat: add question numbering
  frontend/src/components/admin/assessment-creation/PreviewQuestionModal.tsx
  frontend/src/components/student/QuestionNumber.tsx
Due: felint

feat: add point count
  frontend/src/components/admin/assessment-creation/PreviewQuestionModal.tsx
  frontend/src/components/student/AssessmentExperience.tsx
Due: felint

feat: add generic question component for preview experiences
  frontend/src/components/admin/preview-question/PreviewQuestionModal.tsx
  frontend/src/components/admin/preview-question/QuestionPreview.tsx
  frontend/src/components/admin/question-creation/QuestionEditor.tsx
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
  frontend/src/components/student/AssessmentExperience.tsx
  frontend/src/components/student/QuestionNumber.tsx
  frontend/src/utils/StudentUtils.ts
Due: felint

remove unneeded code
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/models/class.model.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/classService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
  backend/testUtils/classAssertions.ts
Due: belint

fix unit test
  backend/services/implementations/__tests__/classService.test.ts
Due: belint

remove unneeded code
  backend/graphql/resolvers/classResolvers.ts
  backend/models/class.model.ts
  backend/models/user.model.ts
  backend/services/implementations/userService.ts
  backend/types/index.ts
Due: belint

fix imports
  backend/models/class.model.ts
  backend/models/user.model.ts
  backend/services/implementations/__tests__/userService.test.ts
Due: belint

fix: Remove test session field from class (1) (#562)
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/models/class.model.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/classService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
  backend/testUtils/classAssertions.ts
Due: belint

return id
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
Due: felint, belint

fix: remove class field from teacher (2) (#563)
  backend/graphql/resolvers/classResolvers.ts
  backend/models/class.model.ts
  backend/models/user.model.ts
  backend/services/implementations/userService.ts
  backend/types/index.ts
Due: belint

add custom text to archive modal
  frontend/src/components/common/modal/Modal.tsx
  frontend/src/components/common/modal/ModalText.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
Due: felint

fix archive mutation
  frontend/src/APIClients/mutations/ClassMutations.ts
Due: felint

pr comments: use id and remove unneeded line
  backend/models/class.model.ts
  backend/models/user.model.ts
  backend/services/implementations/testService.ts
Due: belint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
