Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

feat: add logout functionality (#154)
  frontend/src/components/auth/Logout.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/common/NavbarItem.tsx
Due: felint

Create mutation to Delete Assessment (#158)
  frontend/src/APIClients/mutations/TestMutations.ts
Due: felint

add new resolver
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  frontend/src/APIClients/mutations/TestMutations.ts
Due: felint, belint

add function to middleware
  backend/graphql/index.ts
Due: belint

pr comments
  frontend/src/components/question-creation/question-elements/QuestionTextElement.tsx
  frontend/src/components/question-creation/question-elements/TextElement.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceOption.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/SelectOptionCount.tsx
  frontend/src/utils/QuestionUtils.ts
Due: felint

feat: add multiple choice element (#153)
  frontend/src/components/common/ErrorToast.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/pages/admin/QuestionPage.tsx
  frontend/src/components/question-creation/QuestionElementItem.tsx
  frontend/src/components/question-creation/QuestionSidebarItem.tsx
  frontend/src/components/question-creation/question-elements/MultipleChoiceElement.tsx
  frontend/src/components/question-creation/question-elements/QuestionTextElement.tsx
  frontend/src/components/question-creation/question-elements/TextElement.tsx
  frontend/src/components/question-creation/question-elements/modals/ResponseTypeModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/AddMultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/EditMultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceOption.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/SelectOptionCount.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/contexts/QuestionEditorContext.ts
  frontend/src/themes/components/checkbox.ts
  frontend/src/themes/components/select.ts
  frontend/src/themes/index.ts
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

folder cleanup
  frontend/src/App.tsx
  frontend/src/components/assessments/AssessmentsTable.tsx
  frontend/src/components/assessments/EditStatusButton.tsx
  frontend/src/components/assessments/EditStatusPopover.tsx
  frontend/src/components/assessments/StatusTag.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessementButton.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/assessments/assessment-creation/QuestionTag.tsx
  frontend/src/components/auth/AdminSignupConfirmation.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/Password/PasswordForm.tsx
  frontend/src/components/auth/email-action/EmailActionError.tsx
  frontend/src/components/auth/email-action/EmailActionHandler.tsx
  frontend/src/components/auth/email-action/ResetPasswordHandler.tsx
  frontend/src/components/auth/email-action/VerifyEmailHandler.tsx
  frontend/src/components/auth/reset-password/ForgotPassword.tsx
  frontend/src/components/auth/reset-password/SetNewPassword.tsx
  frontend/src/components/auth/student-login/StudentNameSelection.tsx
  frontend/src/components/auth/teacher-signup/NavigationButtons.tsx
  frontend/src/components/auth/teacher-signup/SelectFormInput.tsx
  frontend/src/components/auth/teacher-signup/index.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupConfirmation.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupFive.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/table/FilterMenu.tsx
  frontend/src/components/common/table/Pagination.tsx
  frontend/src/components/common/table/SearchBar.tsx
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/user-management/AdminUserTable.tsx
  frontend/src/components/user-management/TeacherUserTable.tsx
  frontend/src/types/AssessmentTypes.ts
Due: felint

more cleanup
  frontend/src/App.tsx
  frontend/src/components/auth/AuthWrapper.tsx
  frontend/src/components/auth/Password/PasswordForm.tsx
  frontend/src/components/auth/student-login/StudentLogin.tsx
  frontend/src/components/common/ErrorState.tsx
  frontend/src/components/common/FormError.tsx
  frontend/src/components/pages/TeacherPage.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/user-management/admin/AddAdminConfirmationMessage.tsx
  frontend/src/components/user-management/admin/AddAdminModal.tsx
  frontend/src/components/user-management/admin/AdminTab.tsx
  frontend/src/components/user-management/admin/AdminUserTable.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/components/user-management/student/SelectFormInputClassroom.tsx
  frontend/src/components/user-management/teacher/TeacherUserTable.tsx
  frontend/src/types/DragTypes.tsx
Due: felint

add pages folders
  frontend/src/App.tsx
  frontend/src/components/pages/StudentPage.tsx
  frontend/src/components/pages/student/StudentAssessment.tsx
  frontend/src/components/pages/teacher/TeacherPage.tsx
Due: felint

debugging case issue
  frontend/src/components/auth/AdminSignupConfirmation.tsx
  frontend/src/components/auth/reset-password/SetNewPassword.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupFour.tsx
Due: felint

debugging
  frontend/src/components/auth/AdminSignupConfirmation.tsx
  frontend/src/components/auth/reset-password/SetNewPassword.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupFour.tsx
Due: felint

capitalization issue
  frontend/src/components/auth/password/PasswordForm.tsx
  frontend/src/components/auth/password/PasswordRequirement.tsx
Due: felint

feat: add resolver + mutation to unarchive test (#159)
  backend/graphql/index.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  frontend/src/APIClients/mutations/TestMutations.ts
Due: felint, belint

pr comments
  frontend/src/components/assessments/AssessmentsTable.tsx
  frontend/src/components/assessments/StatusTag.tsx
  frontend/src/types/AssessmentTypes.ts
  frontend/src/utils/GeneralUtils.ts
Due: felint

general back button component
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/common/BackButton.tsx
Due: felint

refactor question sidebar to use back button
  frontend/src/components/pages/admin/QuestionPage.tsx
  frontend/src/components/question-creation/QuestionSidebar.tsx
Due: felint

making grade string enum
  backend/graphql/types/testType.ts
  backend/models/test.model.ts
  backend/services/interfaces/testService.ts
Due: belint

disable props no spreading rule
  frontend/.eslintrc.js
  frontend/src/assets/icons.tsx
  frontend/src/components/auth/teacher-signup/index.tsx
  frontend/src/components/common/RouterLink.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/pages/teacher/TeacherPage.tsx
Due: felint

fixing merge errors
  frontend/src/App.tsx
  frontend/src/components/assessments/AssessmentsTable.tsx
  frontend/src/components/assessments/StatusTag.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessementButton.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/auth/AdminSignupConfirmation.tsx
  frontend/src/components/auth/AuthWrapper.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/email-action/ResetPasswordHandler.tsx
  frontend/src/components/auth/email-action/VerifyEmailHandler.tsx
  frontend/src/components/auth/password/PasswordForm.tsx
  frontend/src/components/auth/reset-password/ForgotPassword.tsx
  frontend/src/components/auth/student-login/StudentLogin.tsx
  frontend/src/components/auth/student-login/StudentNameSelection.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupFour.tsx
  frontend/src/components/common/BackButton.tsx
  frontend/src/components/common/ErrorState.tsx
  frontend/src/components/common/table/FilterMenu.tsx
  frontend/src/components/common/table/SearchBar.tsx
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/QuestionPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/pages/student/StudentAssessment.tsx
  frontend/src/components/pages/teacher/TeacherPage.tsx
  frontend/src/components/question-creation/QuestionSidebar.tsx
  frontend/src/components/user-management/admin/AddAdminConfirmationMessage.tsx
  frontend/src/components/user-management/admin/AddAdminModal.tsx
  frontend/src/components/user-management/admin/AdminUserTable.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/components/user-management/student/SelectFormInputClassroom.tsx
  frontend/src/components/user-management/teacher/TeacherUserTable.tsx
Due: felint

separate basic information into separate component
  frontend/src/components/assessments/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/assessments/assessment-creation/BasicInformation.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/themes/components/button.ts
Due: felint

add question summary
  frontend/src/components/assessments/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/assessments/assessment-creation/BasicInformation.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/assessments/assessment-creation/QuestionSummary.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
Due: felint

add question frontend
  frontend/src/components/assessments/assessment-creation/AddQuestion.tsx
  frontend/src/components/assessments/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/assessments/assessment-creation/QuestionSummary.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
Due: felint

question card fixes
  frontend/src/components/assessments/assessment-creation/AddQuestion.tsx
  frontend/src/components/assessments/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
Due: felint

custom radio button
  frontend/src/components/assessments/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/assessments/assessment-creation/BasicInformation.tsx
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/assessments/assessment-creation/QuestionSummary.tsx
  frontend/src/components/common/FormRadio.tsx
  frontend/src/themes/components/radio.ts
Due: felint

lint
  frontend/src/components/assessments/assessment-creation/QuestionSummary.tsx
  frontend/src/components/common/FormRadio.tsx
Due: felint

fixing padding
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
Due: felint

Adding Enum to Grade
  backend/graphql/types/testType.ts
  backend/graphql/types/userType.ts
  backend/models/class.model.ts
  backend/models/test.model.ts
  backend/models/user.model.ts
  backend/types.ts
Due: belint

changes to input type
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
Due: belint

fixed NumberOrArrayOrNull scalar type
  backend/graphql/index.ts
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
Due: belint

removed queries file
  frontend/src/APIClients/queries/TestSessionQueries.ts
Due: felint

updated tests
  backend/graphql/types/testType.ts
  backend/graphql/types/userType.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/testUtils/tests.ts
  backend/testUtils/users.ts
  backend/types.ts
Due: belint

adding student field to class schema
  backend/models/class.model.ts
Due: belint

resolved pr comments
  backend/graphql/resolvers/testSessionResolvers.ts
Due: belint

changing frontend grade values
  backend/graphql/types/authType.ts
  backend/graphql/types/testType.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/testUtils/users.ts
  backend/types.ts
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/APIClients/types/UserClientTypes.ts
  frontend/src/components/assessments/AssessmentsTable.tsx
  frontend/src/components/auth/teacher-signup/index.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/TeacherPage.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/constants/CreateAssessmentConstants.ts
  frontend/src/types/AssessmentTypes.ts
  frontend/src/types/ClassroomTypes.tsx
  frontend/src/types/TeacherSignupTypes.tsx
  frontend/src/utils/GeneralUtils.ts
Due: felint, belint

Updated Student Schema
  backend/models/class.model.ts
Due: belint

Update backend/models/class.model.ts
  backend/models/class.model.ts
Due: belint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
