Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

Remove many unused dependencies from backend
  backend/package.json
  backend/yarn.lock
Due: none

Remove/fix dependencies in `frontend/`
  frontend/package.json
  frontend/yarn.lock
Due: none

made changes based on designs
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/teacher/student-management/classrooms/ClassroomCard.tsx
Due: felint

chore: remove unused dependencies (#394)
  backend/package.json
  backend/yarn.lock
  frontend/package.json
  frontend/yarn.lock
Due: none

PR feedback: add ID to comments
  backend/services/interfaces/testSessionService.ts
Due: belint

PR feedback: remove unnecessary comment
  backend/graphql/resolvers/testSessionResolvers.ts
Due: belint

PR feedback: add comment on virtuals
  backend/models/index.ts
Due: belint

fix: optimize test session resolvers (#377)
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/models/index.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/classService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/classService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/class.ts
  backend/testUtils/classAssertions.ts
  backend/testUtils/testDb.ts
  backend/testUtils/testSession.ts
  backend/types/testSessionTypes.ts
  backend/utilities/generalUtils.ts
Due: belint

chore: cache backend linting (#395)
  backend/package.json
Due: none

addressed pr comment
  backend/graphql/resolvers/classResolvers.ts
  frontend/src/types/ClassroomTypes.tsx
Due: felint, belint

Don't log out upon a network error
  frontend/src/index.tsx
  frontend/src/utils/HTTPRequestUtils.ts
Due: felint

Chain refresh -> logout -> clear storage
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/index.tsx
  frontend/src/utils/AuthUtils.ts
  frontend/src/utils/HTTPRequestUtils.ts
Due: felint

Remove header from drilldown page
  frontend/src/components/pages/teacher/TeacherRouting.tsx
Due: felint

Adjust padding on drilldown page to account for changes
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsByStudentPage.tsx
Due: felint

feat: fetch data for classroom page without hardcoded fields (#393)
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  backend/services/interfaces/classService.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/teacher/student-management/classrooms/ClassroomCard.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint, belint

fix spacing for loading and error state
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseAssessment.tsx
Due: felint

remove unneeded height property
  frontend/src/components/pages/teacher/TeacherRouting.tsx
Due: felint

fix: refresh token issues (#396)
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/components/auth/RefreshCredentials.tsx
  frontend/src/index.tsx
  frontend/src/utils/AuthUtils.ts
  frontend/src/utils/HTTPRequestUtils.ts
Due: felint

same day check
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/images.ts
  frontend/src/components/admin/assessment-creation/QuestionCard.tsx
  frontend/src/components/admin/question-creation/QuestionEditor.tsx
  frontend/src/components/admin/question-creation/QuestionSidebar.tsx
  frontend/src/components/admin/question-creation/question-elements/ImageElement.tsx
  frontend/src/components/admin/question-creation/question-elements/MultiOptionElement.tsx
  frontend/src/components/admin/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/components/admin/question-creation/question-elements/ShortAnswerElement.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/multi-option/MultiOptionModal.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/student/AssessmentInfo.tsx
  frontend/src/components/teacher/student-management/classrooms/AddClassroomModal.tsx
  frontend/src/types/TestSessionTypes.ts
  frontend/src/utils/LocalStorageUtils.ts
  frontend/src/utils/QuestionUtils.ts
  frontend/yarn.lock
Due: felint

Display all students on the frontend
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsByStudentPage.tsx
Due: felint, belint

Remove unused type variable
  backend/graphql/resolvers/testSessionResolvers.ts
Due: belint

Load student list & scores from backend
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsByStudentPage.tsx
  frontend/src/components/teacher/results/StudentList/StudentList.tsx
Due: felint

Load test session title from backend
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/index.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
Due: felint

PR feedback: minor syntax?
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsByStudentPage.tsx
Due: felint

PR feedback: `StudentResultEntryDTO` -> `StudentResultResponseDTO`
  backend/graphql/types/testSessionType.ts
Due: belint

commit
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
Due: felint

review changes
  frontend/src/components/common/DatePicker.tsx
  frontend/src/components/teacher/student-management/classrooms/AddClassroomModal.tsx
Due: felint

Upgrade `fast-xml-parser`
  backend/yarn.lock
Due: none

feat: add date picker to class modal (#382)
  backend/graphql/types/classType.ts
  backend/models/class.model.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
  backend/testUtils/classAssertions.ts
  frontend/package.json
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/common/DatePicker.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/teacher/student-management/classrooms/AddClassroomModal.tsx
  frontend/src/types/ClassroomTypes.tsx
  frontend/yarn.lock
Due: felint, belint

Remove unused component
  frontend/src/components/auth/RefreshCredentials.tsx
Due: felint

chore: upgrade `fast-xml-parser` (#411)
  backend/yarn.lock
Due: none

(1) feat: fetch data for visualization (#380)
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsByStudentPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/index.tsx
  frontend/src/components/teacher/results/StudentList/StudentList.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
Due: felint, belint

Compute percentile statistic
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/utilities/generalUtils.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsByStudentPage.tsx
Due: felint, belint

(2) feat: compute percentile statistic (#397)
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/utilities/generalUtils.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsByStudentPage.tsx
Due: felint, belint

Fix potential XSS vulnerability in validator utils
  backend/middlewares/validators/util.ts
Due: belint

Remove unused validators
  backend/middlewares/validators/authValidators.ts
  backend/middlewares/validators/entityValidators.ts
  backend/middlewares/validators/simpleEntityValidators.ts
  backend/middlewares/validators/userValidators.ts
Due: belint

Increase student list item gap to match designs
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
Due: felint

Add new classroom drilldown routes
  frontend/src/components/common/navigation/FormBreadcrumb.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomStudentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/constants/Routes.ts
Due: felint

Add clickable popover on classroom list page
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/teacher/student-management/classrooms/ClassroomCard.tsx
  frontend/src/components/teacher/student-management/classrooms/ClassroomPopover.tsx
Due: felint

Use `Routes` constant for redirect on overview page
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
