Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: felint
        name: Lint frontend files
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh felint
    -   id: belint
        name: Lint backend files
        files: ^backend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh belint

update error message for assessment editor
  frontend/src/components/common/form/ActionButton.tsx
Due: felint

pr comment: fix grammar
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
Due: belint

fix: enable delete for active sessions (#600)
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  frontend/src/components/common/info/messages/EmptyStudentsMessage.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
Due: felint, belint

PR feedback: unused function
  backend/services/implementations/authService.ts
Due: belint

update file size limits
  backend/server.ts
Due: belint

PR feedback: clarify logic
  frontend/src/components/auth/email-action/EmailActionHandler.tsx
Due: felint

fix: admin verification issues (#594)
  backend/graphql/index.ts
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/resolvers/userResolvers.ts
  backend/graphql/types/authType.ts
  backend/graphql/types/userType.ts
  backend/middlewares/auth.ts
  backend/services/implementations/authService.ts
  backend/services/implementations/userService.ts
  backend/services/interfaces/authService.ts
  backend/testUtils/users.ts
  backend/types/index.ts
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/APIClients/queries/AuthQueries.ts
  frontend/src/APIClients/queries/UserQueries.ts
  frontend/src/APIClients/types/UserClientTypes.ts
  frontend/src/components/auth/AdminSignupConfirmation.tsx
  frontend/src/components/auth/email-action/EmailActionHandler.tsx
  frontend/src/components/auth/email-action/ResetPasswordHandler.tsx
  frontend/src/components/auth/email-action/VerifyEmailHandler.tsx
  frontend/src/components/auth/reset-password/ForgotPassword.tsx
Due: felint, belint

fix: remove GraphQL upload limits (#602)
  backend/server.ts
Due: belint

Fix routing for question pages
  frontend/src/components/admin/question-creation/QuestionEditor.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage/AssessmentEditor.tsx
  frontend/src/constants/Routes.ts
Due: felint

PR feedback: refactor as discussed
  frontend/src/components/admin/assessment-creation/AddQuestionButton.tsx
  frontend/src/components/admin/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/admin/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/admin/assessment-creation/QuestionCard.tsx
  frontend/src/components/admin/question-creation/QuestionEditor.tsx
  frontend/src/components/admin/question-creation/QuestionSidebar.tsx
  frontend/src/components/admin/question-creation/question-elements/ImageElement.tsx
  frontend/src/components/common/navigation/useDisableReloadPrompt.ts
  frontend/src/components/common/navigation/useRedirectableNavigatePrompt.ts
  frontend/src/components/pages/admin/AssessmentEditorPage/AssessmentEditor.tsx
  frontend/src/contexts/AssessmentContext.ts
  frontend/src/contexts/QuestionEditorContext.ts
Due: felint

PR feedback: tweak empty state wording
  frontend/src/components/common/info/messages/EmptySessionsTabMessage.tsx
Due: felint

PR feedback: remove unneeded query
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/utilities/testSessionUtils.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
  frontend/src/components/teacher/view-sessions/useAssessmentDataQuery.ts
  frontend/src/utils/TestSessionUtils.ts
Due: felint, belint

Miscellaneous UI fixes
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/components/teacher/session-creation/steps/AddInformation.tsx
Due: felint

PR feedback
  backend/services/implementations/testService.ts
  frontend/src/components/admin/question-creation/QuestionEditor.tsx
  frontend/src/components/admin/question-creation/question-elements/ImageElement.tsx
Due: felint, belint

PR feedback: URL format
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
Due: felint

Fix title bug for specific `RouterTabs` configurations
  frontend/src/components/auth/RedirectTo.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/index.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
Due: felint

PR feedback: naming
  frontend/src/components/common/navigation/useRouteMatchParams.ts
Due: felint

PR feedback: unneeded checks
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
  frontend/src/utils/TestSessionUtils.ts
Due: felint

fix: dashboard empty states and limiting (#597)
  backend/services/interfaces/testSessionService.ts
  frontend/src/components/auth/RedirectTo.tsx
  frontend/src/components/common/info/messages/EmptySessionsMessage.tsx
  frontend/src/components/common/info/messages/EmptySessionsTabMessage.tsx
  frontend/src/components/common/navigation/useRouteMatchParams.ts
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/index.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
  frontend/src/components/teacher/dashboard/ClassroomsSection.tsx
  frontend/src/components/teacher/dashboard/useViewAllLimitedData.ts
  frontend/src/components/teacher/session-creation/steps/AddInformation.tsx
  frontend/src/components/teacher/view-sessions/TestSessionTabContents.tsx
  frontend/src/components/teacher/view-sessions/TestSessionTabs.tsx
  frontend/src/components/teacher/view-sessions/useAssessmentDataQuery.ts
  frontend/src/constants/Routes.ts
  frontend/src/utils/TestSessionUtils.ts
Due: felint, belint

feat: add routes to assessment editor (#599)
  backend/services/implementations/testService.ts
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/admin/assessment-creation/AddQuestionButton.tsx
  frontend/src/components/admin/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/admin/assessment-creation/AssessmentPreview.tsx
  frontend/src/components/admin/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/admin/assessment-creation/CreateAssessmentButton.tsx
  frontend/src/components/admin/assessment-creation/QuestionCard.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/EditButton.tsx
  frontend/src/components/admin/question-creation/QuestionEditor.tsx
  frontend/src/components/admin/question-creation/QuestionPreview.tsx
  frontend/src/components/admin/question-creation/QuestionSidebar.tsx
  frontend/src/components/admin/question-creation/question-elements/ImageElement.tsx
  frontend/src/components/admin/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/components/common/info/messages/EmptyTestsMessage.tsx
  frontend/src/components/common/navigation/useDisableReloadPrompt.ts
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage/AssessmentEditor.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage/index.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/constants/Routes.ts
  frontend/src/contexts/AssessmentContext.ts
  frontend/src/contexts/QuestionEditorContext.ts
Due: felint, belint

Extract common `Select` component
  frontend/src/components/common/form/ControlledSelect.tsx
  frontend/src/components/common/form/Select.tsx
  frontend/src/types/SelectInputTypes.ts
Due: felint

Refactor all components to use common `Select`
  frontend/src/components/admin/assessment-creation/BasicInformation.tsx
  frontend/src/components/auth/teacher-signup/SelectFormInput.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/form/ControlledSelect.tsx
Due: felint

Delete duplicate component `SelectFormInput`
  frontend/src/components/auth/teacher-signup/SelectFormInput.tsx
  frontend/src/components/auth/teacher-signup/index.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/form/ControlledSelect.tsx
Due: felint

Update question editor to use new select
  frontend/src/components/admin/question-creation/question-elements/modals/multi-option/SelectOptionCount.tsx
  frontend/src/components/common/form/Select.tsx
Due: felint

Update student name selection to use common component
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/types/SelectInputTypes.ts
Due: felint

Refactor `FilterRow` to use new component
  frontend/src/components/common/form/Select.tsx
  frontend/src/components/common/table/FilterRow.tsx
Due: felint

feat: initial implementation
  frontend/src/components/admin/assessment-creation/AssessmentPreview.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/PreviewButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusPopover.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage/AssessmentEditor.tsx
  frontend/src/components/pages/admin/AssessmentPreviewPage.tsx
  frontend/src/constants/Routes.ts
Due: felint

refactor: to reduce redundant code
  frontend/src/components/admin/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/admin/assessment-creation/AssessmentPreview.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/PreviewButton.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage/AssessmentEditor.tsx
  frontend/src/components/pages/admin/AssessmentPreviewPage.tsx
  frontend/src/constants/Routes.ts
Due: felint

refactor: combine components
  frontend/src/components/admin/assessment-creation/AssessmentPreview.tsx
  frontend/src/components/pages/admin/AssessmentPreviewPage.tsx
  frontend/src/constants/Routes.ts
Due: felint

cleanup: minor
  frontend/src/components/admin/assessment-creation/AssessmentEditorHeader.tsx
Due: felint

feat: preview implementation for test session list item
  frontend/src/components/pages/admin/AssessmentPreviewPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
  frontend/src/constants/Routes.ts
Due: felint

minor: cleanup
  frontend/src/components/admin/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/PreviewButton.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/admin/AssessmentPreviewPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/constants/Routes.ts
Due: felint

feat: preview assessment from distribute screen
  frontend/src/assets/icons.tsx
  frontend/src/components/teacher/session-creation/AssessmentsTable.tsx
Due: felint

minor: fixes
  frontend/src/components/pages/admin/AssessmentPreviewPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/components/teacher/session-creation/AssessmentsTable.tsx
Due: felint

cleanup: move file into common folder
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/common/AssessmentPreviewPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/components/teacher/session-creation/AssessmentsTable.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
Due: felint

show search filters
  frontend/src/components/common/table/SearchableTablePage.tsx
Due: felint

PR feedback: remove unused props
  frontend/src/components/admin/assessment-creation/BasicInformation.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage/AssessmentEditor.tsx
Due: felint

PR feedback: add more precise error messages
  frontend/src/components/admin/assessment-creation/BasicInformation.tsx
  frontend/src/components/common/form/ControlledSelect.tsx
Due: felint

PR feedback: improved validation
  frontend/src/components/admin/question-creation/question-elements/modals/multi-option/MultiOptionModal.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/multi-option/SelectOptionCount.tsx
Due: felint
