Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

add multiple choice to question experience
  frontend/src/components/assessments/student-experience/Question.tsx
  frontend/src/components/assessments/student-experience/question-components/MultiSelect.tsx
  frontend/src/components/assessments/student-experience/question-components/MultipleChoice.tsx
Due: felint

refactor function
  frontend/src/components/assessments/student-experience/question-components/MultipleChoice.tsx
  frontend/src/components/assessments/student-experience/question-components/ShortAnswer.tsx
  frontend/src/utils/StudentUtils.ts
Due: felint

add support for multi select
  frontend/src/components/assessments/student-experience/Question.tsx
  frontend/src/components/assessments/student-experience/question-components/MultiSelect.tsx
  frontend/src/components/assessments/student-experience/question-components/MultipleChoice.tsx
  frontend/src/components/assessments/student-experience/question-components/ShortAnswer.tsx
  frontend/src/utils/StudentUtils.ts
Due: felint

Remove duplicate CI target
  .github/workflows/deploy-preview.yml
Due: none

Remove duplicate CI target (#298)
  .github/workflows/deploy-preview.yml
Due: none

PR feedback: remove `endDate` field
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/pages/student/StudentLoginPage.tsx
Due: felint

PR feedback: rename test session types
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/contexts/StudentContext.ts
Due: felint

adding empty state
  frontend/src/components/common/MessageContainerClassroom.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
Due: felint

Added backend tests
  backend/graphql/types/classType.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
Due: belint

added conditional paginating
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
Due: felint

bug fixes and cleanup
  frontend/src/components/assessments/student-experience/NavButtons.tsx
  frontend/src/components/assessments/student-experience/Question.tsx
  frontend/src/components/assessments/student-experience/QuestionNumbers.tsx
  frontend/src/components/assessments/student-experience/QuestionTitle.tsx
  frontend/src/components/assessments/student-experience/pre-assessment/AssessmentInfo.tsx
  frontend/src/components/assessments/student-experience/question-components/MultiSelect.tsx
  frontend/src/components/assessments/student-experience/question-components/MultipleChoice.tsx
  frontend/src/components/assessments/student-experience/question-components/ShortAnswer.tsx
  frontend/src/components/pages/student/AssessmentExperiencePage.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/contexts/StudentContext.ts
  frontend/src/utils/StudentUtils.ts
Due: felint

remove unused imports
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

feat: fetch data for test sessions page (#294)
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/models/testSession.model.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/classService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/classService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/class.ts
  backend/testUtils/classAssertions.ts
  backend/testUtils/testSession.ts
  frontend/src/APIClients/mutations/TestSessionMutations.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/common/table/usePaginatedData.ts
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/contexts/StudentContext.ts
  frontend/src/utils/TestSessionUtils.ts
  scripts/lint.sh
Due: felint, belint

fix ui
  frontend/src/components/common/ResendEmail.tsx
Due: felint

add missing code
  frontend/src/components/common/ResendEmail.tsx
Due: felint

feat: Handle Unverified Users Trying to Log In (#274)
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/types/authType.ts
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/UnverifiedUsers.tsx
  frontend/src/components/auth/reset-password/ForgotPassword.tsx
  frontend/src/components/common/ResendEmail.tsx
  frontend/src/types/AuthTypes.ts
Due: felint, belint

Add custom resolver for Date scalar type
  backend/graphql/index.ts
  backend/graphql/resolvers/customTypeResolvers.ts
  backend/graphql/types/customType.ts
Due: belint

wip codegen
  frontend/codegen.ts
  frontend/graphql.schema.json
  frontend/package.json
  frontend/src/APIClients/typegen/fragment-masking.ts
  frontend/src/APIClients/typegen/gql.ts
  frontend/src/APIClients/typegen/graphql.ts
  frontend/src/APIClients/typegen/index.ts
  frontend/yarn.lock
Due: felint

Convert backend-provided string to date
  frontend/src/components/pages/student/StudentLoginPage.tsx
Due: felint

fix: convert string to date on student assessment page (#313)
  frontend/src/components/pages/student/StudentLoginPage.tsx
Due: felint

bug fixes
  frontend/src/components/assessments/student-experience/question-components/MultipleChoice.tsx
  frontend/src/components/assessments/student-experience/question-components/ShortAnswer.tsx
  frontend/src/components/assessments/student-experience/question-components/useAnswerState.ts
Due: felint

refactor to use hook
  frontend/src/components/assessments/student-experience/question-components/MultiSelect.tsx
  frontend/src/components/assessments/student-experience/question-components/MultipleChoice.tsx
  frontend/src/components/assessments/student-experience/question-components/ShortAnswer.tsx
  frontend/src/components/assessments/student-experience/question-components/useAnswerState.ts
  frontend/src/utils/StudentUtils.ts
Due: felint

rename folder and utils
  frontend/src/components/assessments/student-experience/Question.tsx
  frontend/src/components/assessments/student-experience/QuestionTitle.tsx
  frontend/src/components/assessments/student-experience/question-elements/Image.tsx
  frontend/src/components/assessments/student-experience/question-elements/MultiSelect.tsx
  frontend/src/components/assessments/student-experience/question-elements/MultipleChoice.tsx
  frontend/src/components/assessments/student-experience/question-elements/QuestionText.tsx
  frontend/src/components/assessments/student-experience/question-elements/ShortAnswer.tsx
  frontend/src/components/assessments/student-experience/question-elements/Text.tsx
  frontend/src/components/assessments/student-experience/question-elements/useAnswerState.ts
  frontend/src/utils/StudentUtils.ts
Due: felint

oop
  frontend/src/utils/GeneralUtils.ts
Due: felint

update duplicate to add copy suffix
  backend/services/implementations/testService.ts
Due: belint

fix breaking tests
  backend/services/implementations/__tests__/testService.test.ts
  backend/testUtils/tests.ts
Due: belint

fix: add [COPY] suffix to duplicated tests (#314)
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/testService.ts
  backend/testUtils/tests.ts
Due: belint

remove eslint disable
  backend/graphql/resolvers/entityResolvers.ts
  backend/services/implementations/imageUploadService.ts
Due: belint

Update types for new library version
  backend/services/implementations/statisticService.ts
  backend/utilities/pipelineQueryUtils.ts
Due: belint

Fix connection errors/failing tests
  backend/models/index.ts
  backend/models/user.model.ts
  backend/package.json
  backend/testUtils/testDb.ts
  backend/yarn.lock
Due: belint

Add back missing section from package.json
  backend/package.json
Due: none

initial commit
  frontend/src/assets/illustrations/error.svg
  frontend/src/components/common/ErrorState.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
Due: felint

Fix linter error
  backend/services/implementations/statisticService.ts
Due: belint

Bump to apollo-server 4 due to type issues
  backend/graphql/index.ts
  backend/graphql/types/authType.ts
  backend/graphql/types/classType.ts
  backend/graphql/types/commonType.ts
  backend/graphql/types/entityType.ts
  backend/graphql/types/schoolType.ts
  backend/graphql/types/simpleEntityType.ts
  backend/graphql/types/testSessionType.ts
  backend/graphql/types/testType.ts
  backend/graphql/types/userType.ts
  backend/middlewares/auth.ts
  backend/package.json
  backend/server.ts
  backend/yarn.lock
Due: belint

css fixes
  frontend/src/components/common/ErrorState.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
Due: felint

Fix file uploads (new library version and compat required)
  backend/graphql/index.ts
  backend/graphql/resolvers/entityResolvers.ts
  backend/graphql/resolvers/scalarResolvers.ts
  backend/graphql/types/entityType.ts
  backend/graphql/types/scalarType.ts
  backend/lib/graphqlUpload.cjs
  backend/lib/graphqlUpload.d.cts
  backend/nodemon.json
  backend/package.json
  backend/server.ts
  backend/testUtils/imageUpload.ts
  backend/types/questionMetadataTypes.ts
  backend/yarn.lock
  frontend/src/index.tsx
Due: felint, belint

feat: updated error state (#316)
  frontend/src/assets/illustrations/error.svg
  frontend/src/components/common/ErrorState.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
Due: felint

Change classroom-tag width to fit content better
  frontend/src/components/sessions/TestSessionListItem.tsx
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
