Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: felint
        name: Lint frontend files
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh felint
    -   id: belint
        name: Lint backend files
        files: ^backend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh belint

Update Class Model to include Student field (#163)
  backend/models/class.model.ts
Due: belint

fixing filter menu
  frontend/src/components/assessments/AssessmentsTable.tsx
  frontend/src/components/auth/teacher-signup/SelectFormInput.tsx
  frontend/src/components/common/table/FilterMenu.tsx
  frontend/src/components/common/table/FilterRow.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/user-management/student/SelectFormInputClassroom.tsx
  frontend/src/types/AssessmentTypes.ts
  frontend/src/types/SelectInputTypes.ts
Due: felint

running into mongo errors
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
Due: belint

reordered queries in testSessionType.ts
  backend/graphql/types/testSessionType.ts
Due: belint

mutation: publish assessment (#148)
  frontend/src/APIClients/mutations/TestMutations.ts
Due: felint

backend: Student Login Resolvers (#150)
  backend/graphql/index.ts
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
Due: belint

easier to read enum
  backend/graphql/types/testType.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/testUtils/users.ts
  backend/types.ts
  frontend/src/APIClients/types/UserClientTypes.ts
  frontend/src/components/assessments/AssessmentsTable.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
  frontend/src/components/pages/teacher/TeacherPage.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/constants/CreateAssessmentConstants.ts
  frontend/src/utils/GeneralUtils.ts
Due: felint, belint

added to TestMutation
  frontend/src/APIClients/mutations/TestMutations.ts
Due: felint

Used enum for radio button value
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
Due: felint

changing Object.values()
  backend/models/class.model.ts
  backend/models/test.model.ts
  backend/models/user.model.ts
Due: belint

backend: Convert Grade Field to Enum (#162)
  backend/graphql/types/authType.ts
  backend/graphql/types/testType.ts
  backend/graphql/types/userType.ts
  backend/models/class.model.ts
  backend/models/test.model.ts
  backend/models/user.model.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/tests.ts
  backend/testUtils/users.ts
  backend/types.ts
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/APIClients/types/UserClientTypes.ts
  frontend/src/components/assessments/AssessmentsTable.tsx
  frontend/src/components/auth/teacher-signup/index.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/TeacherPage.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/constants/CreateAssessmentConstants.ts
  frontend/src/types/AssessmentTypes.ts
  frontend/src/types/ClassroomTypes.tsx
  frontend/src/types/TeacherSignupTypes.tsx
Due: felint, belint

render question cards based on data
  frontend/src/components/assessments/assessment-creation/AddQuestionCard.tsx
  frontend/src/components/assessments/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/constants/TestConstants.ts
Due: felint

render data count data dynamically
  frontend/src/components/assessments/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/assessments/assessment-creation/QuestionSummary.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/constants/TestConstants.ts
Due: felint

Added useMutation
  backend/graphql/index.ts
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/types/AssessmentTypes.ts
Due: felint, belint

Fixed types in TestRequest and TestResponse
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/constants/CreateAssessmentConstants.ts
  frontend/src/types/AssessmentTypes.ts
Due: felint

changed colours when correct/wrong
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/components/auth/student-login/StudentLogin.tsx
Due: felint

Fetch display data
  backend/models/class.model.ts
  backend/models/test.model.ts
  backend/models/user.model.ts
  backend/types.ts
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/APIClients/types/UserClientTypes.ts
  frontend/src/components/assessments/AssessmentsTable.tsx
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/types/AssessmentTypes.ts
  frontend/src/utils/GeneralUtils.ts
Due: felint, belint

deleting sample data
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
Due: felint

fix navigation problem
  frontend/src/components/assessments/assessment-creation/CreateAssessementButton.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
Due: felint

restructuring create assessmnet hierarchy
  frontend/src/components/assessments/assessment-creation/AddQuestionCard.tsx
  frontend/src/components/assessments/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/pages/admin/QuestionPage.tsx
  frontend/src/components/question-creation/QuestionEditor.tsx
  frontend/src/components/question-creation/QuestionSidebar.tsx
  frontend/src/components/question-creation/QuestionWorkspace.tsx
  frontend/src/constants/Routes.ts
Due: felint

render question editor data dynamically
  frontend/src/components/assessments/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/question-creation/QuestionEditor.tsx
  frontend/src/components/question-creation/QuestionSidebar.tsx
Due: felint

refactoring
  frontend/src/components/assessments/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/assessments/assessment-creation/QuestionSummary.tsx
  frontend/src/components/assessments/assessment-creation/QuestionTag.tsx
  frontend/src/components/common/QuestionTypeImages.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/constants/StudentAssessmentConstants.ts
  frontend/src/constants/TestConstants.ts
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

fix question card formatting
  frontend/src/components/assessments/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/constants/TestConstants.ts
Due: felint

fixing spacing
  frontend/src/components/assessments/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/assessments/assessment-creation/QuestionSummary.tsx
Due: felint

review changes
  backend/graphql/index.ts
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/components/assessments/AssessmentsTable.tsx
  frontend/src/components/assessments/StatusTag.tsx
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/utils/GeneralUtils.ts
Due: felint, belint

review changes
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/APIClients/types/UserClientTypes.ts
  frontend/src/components/auth/teacher-signup/SelectFormInput.tsx
  frontend/src/components/common/table/FilterMenu.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/user-management/student/SelectFormInputClassroom.tsx
  frontend/src/types/SelectInputTypes.ts
Due: felint

adding empty state component
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/assets/icons.tsx
  frontend/src/components/common/EmptyState.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/user-management/admin/AdminTab.tsx
Due: felint

adding student modal
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/components/pages/teacher/TeacherPage.tsx
  frontend/src/components/user-management/student/AddStudentModal.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint

feat: Add Student Modal Component (#170)
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/components/pages/teacher/TeacherPage.tsx
  frontend/src/components/user-management/student/AddStudentModal.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint

uncommenting authorization
  backend/graphql/index.ts
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
Due: felint, belint

backend: Fetch Assessments (#167)
  backend/models/class.model.ts
  backend/models/test.model.ts
  backend/models/user.model.ts
  backend/types.ts
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/APIClients/types/UserClientTypes.ts
  frontend/src/components/assessments/AssessmentsTable.tsx
  frontend/src/components/assessments/StatusTag.tsx
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/types/AssessmentTypes.ts
  frontend/src/utils/GeneralUtils.ts
Due: felint, belint

resolving label fix
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/constants/CreateAssessmentConstants.ts
Due: felint

feat: Filter Menu Component (#164)
  frontend/src/components/assessments/AssessmentsTable.tsx
  frontend/src/components/auth/teacher-signup/SelectFormInput.tsx
  frontend/src/components/common/table/FilterMenu.tsx
  frontend/src/components/common/table/FilterRow.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/user-management/student/SelectFormInputClassroom.tsx
  frontend/src/constants/CreateAssessmentConstants.ts
  frontend/src/types/AssessmentTypes.ts
  frontend/src/types/SelectInputTypes.ts
Due: felint

Fixed errors
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/types/AssessmentTypes.ts
Due: felint

removed commented out parts
  backend/graphql/index.ts
Due: belint

refactoring assessmentstab
  backend/graphql/index.ts
  frontend/src/components/assessments/AssessmentsTab.tsx
  frontend/src/components/common/table/EmptyTableState.tsx
  frontend/src/components/common/table/FilterMenu.tsx
  frontend/src/components/common/table/SearchBar.tsx
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/user-management/admin/AdminTab.tsx
Due: felint, belint

addressed pr comments
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/components/auth/student-login/StudentLogin.tsx
Due: felint

fixed bug
  frontend/src/components/auth/student-login/StudentLogin.tsx
Due: felint

add archive test resolver
  backend/graphql/index.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
Due: belint

resolver
  backend/graphql/resolvers/classResolvers.ts
Due: belint
