Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

fix merge issues
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/interfaces/classService.ts
Due: belint

add query
  frontend/src/APIClients/queries/TestQueries.ts
Due: felint

update context
  frontend/src/components/pages/student/StudentDashboard.tsx
  frontend/src/contexts/StudentContext.ts
Due: felint

refactor
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentDashboard.tsx
  frontend/src/contexts/StudentContext.ts
Due: felint

rename query
  frontend/src/APIClients/queries/UserQueries.ts
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
Due: felint

query update
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/APIClients/queries/UserQueries.ts
  frontend/src/components/user-management/RemoveUserModal.tsx
Due: felint

remove unused import
  frontend/src/utils/QuestionUtils.ts
Due: felint

remove grade level field from test session model
  backend/models/testSession.model.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
Due: belint

add notes field
  backend/models/testSession.model.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
Due: belint

dynamically populate notes section of student login
  backend/graphql/types/testSessionType.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentDashboard.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/contexts/StudentContext.ts
Due: felint, belint

add start and end dates to test sessions
  backend/graphql/types/testSessionType.ts
  backend/models/testSession.model.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
Due: felint, belint

show start date on the frontend
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentDashboard.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/contexts/StudentContext.ts
Due: felint

populate start date dynamically
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/assessments/student-experience/QuestionTypeImages.tsx
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentDashboard.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/constants/StudentAssessmentConstants.ts
  frontend/src/contexts/StudentContext.ts
  frontend/src/utils/GeneralUtils.ts
Due: felint

add student authentication by date
  backend/services/implementations/testSessionService.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/pages/student/StudentDashboard.tsx
  frontend/src/contexts/StudentContext.ts
Due: felint, belint

add frontend authentication unit tests
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/testUtils/testSession.ts
Due: belint

add validation for start and end dates
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/testUtils/testSession.ts
Due: belint

cleanup
  backend/services/implementations/__tests__/testSessionService.test.ts
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
Due: felint, belint

moree test fixes
  backend/graphql/types/testSessionType.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint, belint

create general popover button
  frontend/src/components/assessments/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/assessments/assessment-status/EditStatusPopover.tsx
  frontend/src/components/common/Popover.tsx
Due: felint

refactor delete modal
  frontend/src/components/assessments/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/DeleteButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DeleteModal.tsx
Due: felint

add delete button to header
  frontend/src/components/assessments/assessment-creation/AssessmentEditorHeader.tsx
Due: felint

rename disclosure functions for clarity
  frontend/src/components/assessments/assessment-creation/AssessmentEditorHeader.tsx
Due: felint

create initial component
  frontend/src/components/common/UnsavedChangesModal.tsx
Due: felint

removed estimatedTime and added children
  frontend/src/components/assessments/assessment-creation/StudentDashboardHeader.tsx
  frontend/src/components/common/HeaderWrapper.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

fixed child problem
  frontend/src/components/common/Navbar.tsx
Due: felint

feat: Student Dashboard Header (#232)
  frontend/src/components/assessments/assessment-creation/StudentDashboardHeader.tsx
  frontend/src/components/common/HeaderWrapper.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

add modal
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
Due: felint

move classroom card component out of pages folder
  frontend/src/components/classrooms/ClassroomCard.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

add teacher routing component
  frontend/src/App.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/pages/teacher/TeacherDashboardPage.tsx
  frontend/src/components/pages/teacher/TeacherPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/constants/Routes.ts
Due: felint

use react router prompt and window confirm instead
  frontend/src/components/common/UnsavedChangesModal.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
  frontend/src/components/question-creation/QuestionSidebar.tsx
  frontend/src/constants/GeneralConstants.ts
Due: felint

fix bug
  frontend/src/components/question-creation/QuestionSidebar.tsx
Due: felint

feat: assessment editor delete button (#263)
  frontend/src/components/assessments/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/DeleteButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DeleteModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusPopover.tsx
  frontend/src/components/common/Popover.tsx
Due: felint

backend: delete classes associated with teacher on delete teacher (#223)
  backend/graphql/types/userType.ts
  backend/models/user.model.ts
  backend/services/implementations/__tests__/userService.test.ts
Due: belint

split up question components and added IMAGE, as well as addressed other minor pr comments
  frontend/src/components/assessments/assessment-creation/DisplayQuestion.tsx
  frontend/src/components/assessments/student-experience/Question.tsx
  frontend/src/components/assessments/student-experience/QuestionNumber.tsx
  frontend/src/components/assessments/student-experience/question-components/Image.tsx
  frontend/src/components/assessments/student-experience/question-components/MultiSelect.tsx
  frontend/src/components/assessments/student-experience/question-components/MultipleChoice.tsx
  frontend/src/components/assessments/student-experience/question-components/QuestionText.tsx
  frontend/src/components/assessments/student-experience/question-components/ShortAnswer.tsx
  frontend/src/components/assessments/student-experience/question-components/Text.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

add archive for edit
  frontend/src/components/assessments/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/ArchiveButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/ArchiveModal.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
Due: felint

remove unneeded fields
  .pre-commit-config.yaml
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/models/testSession.model.ts
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
  backend/utilities/pipelineQueryUtils.ts
Due: belint

defined interfaces and return types
  frontend/src/components/assessments/student-experience/question-components/Image.tsx
  frontend/src/components/assessments/student-experience/question-components/MultiSelect.tsx
  frontend/src/components/assessments/student-experience/question-components/MultipleChoice.tsx
  frontend/src/components/assessments/student-experience/question-components/QuestionText.tsx
  frontend/src/components/assessments/student-experience/question-components/ShortAnswer.tsx
  frontend/src/components/assessments/student-experience/question-components/Text.tsx
Due: felint

rollback image upload on creation failure
  .pre-commit-config.yaml
  backend/services/implementations/__tests__/imageUploadService.test.ts
  backend/services/implementations/imageUploadService.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/imageUploadService.ts
Due: belint

feat: render assessment questions (#229)
  frontend/src/components/assessments/student-experience/Question.tsx
  frontend/src/components/assessments/student-experience/QuestionNumber.tsx
  frontend/src/components/assessments/student-experience/question-components/Image.tsx
  frontend/src/components/assessments/student-experience/question-components/MultiSelect.tsx
  frontend/src/components/assessments/student-experience/question-components/MultipleChoice.tsx
  frontend/src/components/assessments/student-experience/question-components/QuestionText.tsx
  frontend/src/components/assessments/student-experience/question-components/ShortAnswer.tsx
  frontend/src/components/assessments/student-experience/question-components/Text.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/themes/components/checkbox.ts
  frontend/src/themes/components/radio.ts
Due: felint

resolving pr comments
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/testUtils/testSession.ts
  frontend/src/components/assessments/student-experience/QuestionTypeImages.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
Due: felint, belint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
