Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: felint
        name: Lint frontend files
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh felint
    -   id: belint
        name: Lint backend files
        files: ^backend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh belint

fix student dashboard
  frontend/src/App.tsx
Due: felint

finish auth context logic
  frontend/src/components/pages/student/NameSelectionPage.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/types/AuthTypes.ts
Due: felint

updated auth typing
  frontend/src/App.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/contexts/AuthContext.ts
  frontend/src/types/AuthTypes.ts
Due: felint

cleanup
  frontend/src/components/auth/PrivateRoute.tsx
Due: felint

fix
  frontend/src/types/AuthTypes.ts
Due: felint

store query data from student login
  backend/services/implementations/testService.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
Due: felint, belint

add function for get class by test session id
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/types/AuthTypes.ts
Due: felint, belint

add frontend query
  backend/graphql/index.ts
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  backend/services/interfaces/classService.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
Due: felint, belint

add student response types
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
Due: felint

documentation & remove unused function
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  backend/models/class.model.ts
Due: belint

add frontend error handling
  frontend/src/components/auth/student-login/NameSelection.tsx
Due: felint

uncomment test cases
  backend/services/implementations/__tests__/classService.test.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
Due: felint, belint

remove commented out lines
  backend/graphql/index.ts
Due: belint

add loader
  frontend/src/components/auth/student-login/NameSelection.tsx
Due: felint

init
  backend/models/user.model.ts
Due: belint

feat: No Assessment Table Component (#201)
  frontend/src/assets/illustrations/display-assessments.svg
  frontend/src/components/assessments/AssessmentsTab.tsx
  frontend/src/components/common/IllustrationWrapper.tsx
  frontend/src/components/common/MessageContainer.tsx
  frontend/src/components/common/table/EmptyTableState.tsx
  frontend/src/components/common/table/NoResultsTableState.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/user-management/admin/AddAdminConfirmationMessage.tsx
  frontend/src/components/user-management/admin/AdminTab.tsx
Due: felint

Addressed PR comments
  backend/graphql/types/testType.ts
  backend/middlewares/validators/testValidators.ts
Due: belint

addressing pr comments
  backend/graphql/types/classType.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/interfaces/classService.ts
  frontend/src/APIClients/queries/ClassQueries.ts
Due: felint, belint

feat: populate name selection page (#214)
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  backend/models/class.model.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/classService.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/types/AuthTypes.ts
Due: felint, belint

init
  backend/graphql/resolvers/classResolvers.ts
  backend/models/class.model.ts
  backend/models/user.model.ts
  backend/services/implementations/userService.ts
  backend/types.ts
Due: belint

removed console logs
  backend/graphql/resolvers/classResolvers.ts
Due: belint

removed an unnnecssary student mapping
  backend/graphql/resolvers/classResolvers.ts
Due: belint

second review changes
  backend/services/implementations/statisticService.ts
  backend/utilities/pipelineQueryUtils.ts
Due: belint

final review changes
  backend/services/implementations/statisticService.ts
  backend/utilities/pipelineQueryUtils.ts
Due: belint

backend: Compute Submission Count (#212)
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/services/interfaces/statisticService.ts
  backend/utilities/pipelineQueryUtils.ts
Due: belint

add student submission
  frontend/src/APIClients/mutations/ClassClientMutations.ts
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/components/user-management/student/AddStudentModal.tsx
Due: felint

created TestSubmissionMessage
  frontend/src/assets/illustrations/test-submission.svg
  frontend/src/components/assessments/assessment-creation/TestSubmissionMessage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

student submission review changes
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/components/user-management/student/AddStudentModal.tsx
Due: felint

getMeanScoreByTest implementation
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/utilities/pipelineQueryUtils.ts
Due: belint

review changes
  backend/graphql/types/classType.ts
Due: belint

final review changes
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/components/user-management/student/AddStudentModal.tsx
Due: felint

feat: Add Student Submission (#217)
  backend/graphql/types/classType.ts
  frontend/src/APIClients/mutations/ClassClientMutations.ts
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/components/user-management/student/AddStudentModal.tsx
Due: felint, belint

Fixed testSessionService to not use fractionMetadata
  backend/models/testSession.model.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
Due: belint

moved file
  frontend/src/components/assessments/TestSubmissionMessage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

feat: Test Submission Message (#218)
  frontend/src/assets/illustrations/test-submission.svg
  frontend/src/components/assessments/TestSubmissionMessage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

added MobileRedirect
  frontend/src/assets/illustrations/mobile-redirect.svg
  frontend/src/components/common/MessageContainer.tsx
  frontend/src/components/common/MobileRedirect.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

changed class field in model to be a id
  backend/graphql/resolvers/classResolvers.ts
  backend/models/user.model.ts
  backend/types.ts
Due: belint

removed an unecessary import
  backend/models/user.model.ts
Due: belint

shows on mobile
  frontend/src/App.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/MobileRedirect.tsx
Due: felint

remove unnecessary import
  backend/graphql/resolvers/classResolvers.ts
Due: belint
