Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: felint
        name: Lint frontend files
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh felint
    -   id: belint
        name: Lint backend files
        files: ^backend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh belint

remove grey
  frontend/src/components/auth/TeacherSignup/SelectFormInput.tsx
Due: felint

fix teacher input type
  frontend/src/components/auth/TeacherSignup/SelectFormInput.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupFour.tsx
Due: felint

pr changes
  frontend/src/components/common/Admin/SortTablePopover.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

added new filled checkmark icon
  frontend/src/components/common/icons.tsx
Due: felint

clean up alert component theming + update affected instances in add admin modal
  frontend/src/components/common/AddAdminModal.tsx
  frontend/src/themes/components/alert.ts
Due: felint

finish implementing password validation logic for teacher signup
  frontend/src/components/auth/TeacherSignup/TeacherSignupFour.tsx
Due: felint

update form label color styling
  frontend/src/components/auth/TeacherSignup/TeacherSignupFour.tsx
  frontend/src/components/common/AddAdminModal.tsx
  frontend/src/themes/components/form.ts
Due: felint

use react-hook-form validation
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/types.tsx
Due: felint

feat: teacher signup page 4 (#90)
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/types.tsx
  frontend/src/components/common/AddAdminModal.tsx
  frontend/src/components/common/icons.tsx
  frontend/src/themes/components/alert.ts
  frontend/src/themes/components/form.ts
Due: felint

add error handling
  frontend/src/components/auth/TeacherSignup/SelectFormInput.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupTwo.tsx
Due: felint

show stored value in input
  frontend/src/components/auth/TeacherSignup/SelectFormInput.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupTwo.tsx
  frontend/src/components/auth/TeacherSignup/types.tsx
Due: felint

nit
  frontend/src/components/auth/TeacherSignup/TeacherSignupTwo.tsx
Due: felint

refactor for consistency
  frontend/src/components/auth/TeacherSignup/ErrorMessage.tsx
  frontend/src/components/auth/TeacherSignup/NavigationButtons.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupTwo.tsx
  frontend/src/components/common/icons.tsx
Due: felint

fix data types
  frontend/src/components/auth/TeacherSignup/SelectFormInput.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupTwo.tsx
  frontend/src/components/auth/TeacherSignup/types.tsx
Due: felint

update user service with new fields
  backend/models/user.model.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/services/implementations/userService.ts
  backend/testUtils/users.ts
  backend/types.ts
Due: belint

update graphql code
  backend/graphql/types/authType.ts
  backend/graphql/types/userType.ts
  backend/models/user.model.ts
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/components/auth/Signup.tsx
Due: felint, belint

update test logic
  backend/services/implementations/__tests__/userService.test.ts
Due: belint

add new fields
  frontend/package.json
  frontend/src/components/auth/TeacherSignup/SelectFormInput.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/types.tsx
  frontend/yarn.lock
Due: felint

feat: teacher signup page two (#88)
  frontend/package.json
  frontend/src/APIClients/EntityAPIClient.ts
  frontend/src/APIClients/queries/SchoolQueries.ts
  frontend/src/components/auth/TeacherSignup/ErrorMessage.tsx
  frontend/src/components/auth/TeacherSignup/NavigationButtons.tsx
  frontend/src/components/auth/TeacherSignup/SelectFormInput.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupTwo.tsx
  frontend/src/components/auth/TeacherSignup/types.tsx
  frontend/src/components/common/AddAdminModal.tsx
  frontend/src/components/common/Admin/AdminConfirmationMessage.tsx
  frontend/src/types/SchoolTypes.ts
  frontend/src/types/UserTypes.ts
  frontend/yarn.lock
Due: felint

add form values to input
  frontend/src/components/auth/TeacherSignup/TeacherSignupThree.tsx
Due: felint

feat: Teacher signup page three (#94)
  frontend/package.json
  frontend/src/components/auth/TeacherSignup/SelectFormInput.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/types.tsx
  frontend/yarn.lock
Due: felint

update email template
  backend/services/implementations/authService.ts
  frontend/src/App.tsx
Due: felint, belint

refactor email
  backend/services/implementations/authService.ts
Due: belint

update error handling
  backend/services/implementations/authService.ts
Due: belint

deleteeee
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/types/authType.ts
  backend/services/implementations/authService.ts
  backend/services/implementations/userService.ts
  backend/services/interfaces/authService.ts
  backend/services/interfaces/userService.ts
  backend/types.ts
  backend/utilities/firebaseRestClient.ts
  frontend/package.json
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/components/auth/Login.tsx
  frontend/yarn.lock
Due: felint, belint

update teacher signup
  backend/graphql/index.ts
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/resolvers/schoolResolvers.ts
  backend/graphql/types/authType.ts
  backend/graphql/types/schoolType.ts
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/APIClients/mutations/SchoolMutations.ts
  frontend/src/APIClients/queries/SchoolQueries.ts
  frontend/src/components/auth/Signup.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/types.tsx
Due: felint, belint

remove hidden field
  frontend/src/components/auth/TeacherSignup/SelectFormInput.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupTwo.tsx
Due: felint

refactoring all mutations and queries to APIClients folder
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/APIClients/mutations/UserMutations.ts
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/Logout.tsx
  frontend/src/components/auth/RefreshCredentials.tsx
  frontend/src/components/auth/ResetPassword.tsx
  frontend/src/components/auth/Signup.tsx
  frontend/src/components/common/AddAdminModal.tsx
  frontend/src/components/common/Admin/RemoveUserModal.tsx
Due: felint

removing unused files
  frontend/src/APIClients/EntityAPIClient.ts
  frontend/src/APIClients/SimpleEntityAPIClient.ts
  frontend/src/components/crud/CreateForm.tsx
  frontend/src/components/crud/DisplayTableContainer.tsx
  frontend/src/components/crud/SimpleEntityCreateForm.tsx
  frontend/src/components/crud/SimpleEntityDisplayTableContainer.tsx
  frontend/src/components/crud/SimpleEntityUpdateForm.tsx
  frontend/src/components/crud/UpdateForm.tsx
  frontend/src/components/pages/HooksDemo/EmojiSection.tsx
  frontend/src/components/pages/HooksDemo/HooksDemo.tsx
  frontend/src/components/pages/HooksDemo/emojis.ts
  frontend/src/components/pages/HooksDemo/index.ts
  frontend/src/components/pages/HooksDemo/styles.css
  frontend/src/constants/Routes.ts
Due: felint

refactor request and response types to apiclients folder
  frontend/src/APIClients/types/SchoolClientTypes.ts
  frontend/src/APIClients/types/UserClientTypes.ts
  frontend/src/components/auth/TeacherSignup/TeacherSignupTwo.tsx
  frontend/src/components/common/AddAdminModal.tsx
  frontend/src/types/UserTypes.ts
Due: felint

chore: deleting unused files (#99)
  frontend/src/APIClients/EntityAPIClient.ts
  frontend/src/APIClients/SimpleEntityAPIClient.ts
  frontend/src/components/crud/CreateForm.tsx
  frontend/src/components/crud/DisplayTableContainer.tsx
  frontend/src/components/crud/SimpleEntityCreateForm.tsx
  frontend/src/components/crud/SimpleEntityDisplayTableContainer.tsx
  frontend/src/components/crud/SimpleEntityUpdateForm.tsx
  frontend/src/components/crud/UpdateForm.tsx
  frontend/src/components/pages/HooksDemo/EmojiSection.tsx
  frontend/src/components/pages/HooksDemo/HooksDemo.tsx
  frontend/src/components/pages/HooksDemo/emojis.ts
  frontend/src/components/pages/HooksDemo/index.ts
  frontend/src/components/pages/HooksDemo/styles.css
  frontend/src/constants/Routes.ts
Due: felint

feat: reset password email (#95)
  backend/services/implementations/authService.ts
  frontend/src/App.tsx
Due: felint, belint

chore: refactoring mutations, queries and types to APIClients folder (#98)
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/APIClients/mutations/UserMutations.ts
  frontend/src/APIClients/types/SchoolClientTypes.ts
  frontend/src/APIClients/types/UserClientTypes.ts
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/Logout.tsx
  frontend/src/components/auth/RefreshCredentials.tsx
  frontend/src/components/auth/ResetPassword.tsx
  frontend/src/components/auth/Signup.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupTwo.tsx
  frontend/src/components/common/AddAdminModal.tsx
  frontend/src/components/common/Admin/RemoveUserModal.tsx
  frontend/src/types/UserTypes.ts
Due: felint

fix: remove hidden field (#97)
  frontend/src/components/auth/TeacherSignup/SelectFormInput.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupTwo.tsx
Due: felint

chore: remove Google OAuth code (#96)
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/types/authType.ts
  backend/services/implementations/authService.ts
  backend/services/implementations/userService.ts
  backend/services/interfaces/authService.ts
  backend/services/interfaces/userService.ts
  backend/types.ts
  backend/utilities/firebaseRestClient.ts
  frontend/package.json
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/components/auth/Login.tsx
  frontend/yarn.lock
Due: felint, belint

adding folders
  frontend/src/App.tsx
  frontend/src/assets/icons.tsx
  frontend/src/components/assessment-creation/CreateQuestionPage.tsx
  frontend/src/components/assessment-creation/CreateQuestionSidebar.tsx
  frontend/src/components/auth/TeacherSignup/NavigationButtons.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/ModalText.tsx
  frontend/src/components/common/SidebarItem.tsx
  frontend/src/components/common/SortTablePopover.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/user-management/AddAdminModal.tsx
  frontend/src/components/user-management/AdminConfirmationMessage.tsx
  frontend/src/components/user-management/AdminUserTable.tsx
  frontend/src/components/user-management/RemoveUserConfirmationModal.tsx
  frontend/src/components/user-management/RemoveUserErrorModal.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
  frontend/src/components/user-management/RemoveUserPopover.tsx
Due: felint

chore: refactoring mutations, queries and types to APIClients folder (#98)
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/APIClients/mutations/UserMutations.ts
  frontend/src/APIClients/types/SchoolClientTypes.ts
  frontend/src/APIClients/types/UserClientTypes.ts
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/Logout.tsx
  frontend/src/components/auth/RefreshCredentials.tsx
  frontend/src/components/auth/ResetPassword.tsx
  frontend/src/components/auth/Signup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
  frontend/src/components/user-management/AddAdminModal.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
  frontend/src/types/UserTypes.ts
Due: felint

pulling
  frontend/src/components/auth/Login.tsx
Due: felint
