Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

adding even and odd submission tests
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/testUtils/testSession.ts
Due: belint

add new function
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/class.ts
Due: belint

initial commit
  frontend/src/components/assessments/assessment-creation/DisplayQuestion.tsx
Due: felint

first draft
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
Due: belint

backend: Compute Test Mean (#219)
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/services/implementations/testSessionService.ts
  backend/utilities/generalUtils.ts
Due: belint

refactoring mocks
  backend/services/implementations/statisticService.ts
  backend/testUtils/testSession.ts
  backend/utilities/generalUtils.ts
  backend/utilities/pipelineQueryUtils.ts
Due: belint

update graphql
  backend/graphql/index.ts
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  frontend/src/APIClients/mutations/TestSessionMutations.ts
Due: felint, belint

initial commit
  frontend/src/App.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/pages/student/NameSelectionPage.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/contexts/AuthContext.ts
  frontend/src/types/AuthTypes.ts
Due: felint

fix
  frontend/src/types/AuthTypes.ts
Due: felint

cleanup
  frontend/src/components/auth/PrivateRoute.tsx
Due: felint

fix merge issues
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/interfaces/classService.ts
Due: belint

remove commented out lines
  backend/graphql/index.ts
Due: belint

add frontend query
  backend/graphql/index.ts
  backend/services/interfaces/classService.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
Due: felint, belint

updated auth typing
  frontend/src/App.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/contexts/AuthContext.ts
  frontend/src/types/AuthTypes.ts
Due: felint

store query data from student login
  frontend/src/components/auth/student-login/NameSelection.tsx
Due: felint

uncomment test cases
  backend/services/implementations/__tests__/classService.test.ts
Due: belint

finish auth context logic
  frontend/src/components/pages/student/NameSelectionPage.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/types/AuthTypes.ts
Due: felint

add query
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/components/assessments/assessment-status/EditStatusButtons/PublishButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/ArchiveModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DeleteModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DuplicateModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/UnarchiveModal.tsx
  frontend/src/components/common/ErrorState.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
Due: felint, belint

fix student dashboard
  frontend/src/App.tsx
Due: felint

create context object
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentDashboard.tsx
  frontend/src/contexts/StudentContext.ts
Due: felint

refactor
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentDashboard.tsx
  frontend/src/contexts/StudentContext.ts
Due: felint

rename query
  frontend/src/APIClients/queries/UserQueries.ts
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
Due: felint

remove unused import
  frontend/src/utils/QuestionUtils.ts
Due: felint

split assessment summary page into smaller components
  frontend/src/components/assessments/student-experience/AssessmentInfo.tsx
  frontend/src/components/assessments/student-experience/AssessmentRules.tsx
  frontend/src/components/assessments/student-experience/QuestionTypeImages.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
Due: felint

dynamically populate values
  frontend/src/components/assessments/student-experience/AssessmentInfo.tsx
  frontend/src/utils/QuestionUtils.ts
Due: felint

update context
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentDashboard.tsx
  frontend/src/contexts/StudentContext.ts
Due: felint

addressing pr comments
  frontend/src/components/assessments/student-experience/AssessmentRules.tsx
  frontend/src/constants/StudentAssessmentConstants.ts
Due: felint

query update
  frontend/src/APIClients/queries/SchoolQueries.ts
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/APIClients/queries/UserQueries.ts
  frontend/src/components/assessments/assessment-status/EditStatusButtons/PublishButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/ArchiveModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DeleteModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DuplicateModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/UnarchiveModal.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupTwo.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
Due: felint

modified Navbar to incorporate Student Dashboard Header
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/types/StudentDashboardInfoTypes.ts
Due: felint

Update backend/services/interfaces/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
Due: belint

feat: Update createTestSession to store reference in related class (#228)
  backend/graphql/index.ts
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/class.ts
  frontend/src/APIClients/mutations/TestSessionMutations.ts
Due: felint, belint

name changes
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
Due: belint

backend: Add Fraction Component (#211)
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/middlewares/validators/testValidators.ts
  backend/models/test.model.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/statistics.ts
  backend/testUtils/testSession.ts
  backend/testUtils/tests.ts
Due: belint

name update
  frontend/src/APIClients/queries/TestSessionQueries.ts
Due: felint

more refactoring and refined pipeline
  backend/services/implementations/statisticService.ts
  backend/testUtils/testSession.ts
Due: belint

changed approach
  frontend/src/components/assessments/assessment-creation/StudentDashboardHeader.tsx
  frontend/src/components/common/HeaderWrapper.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/types/StudentDashboardInfoTypes.ts
Due: felint

test fix
  backend/services/implementations/__tests__/statisticService.test.ts
Due: belint

test fix 2
  backend/services/implementations/__tests__/statisticService.test.ts
Due: belint

first draft
  backend/graphql/resolvers/testResolvers.ts
  backend/middlewares/validators/testValidators.ts
  backend/models/test.model.ts
  backend/services/interfaces/testService.ts
  backend/types/questionMetadataTypes.ts
  backend/types/questionTypes.ts
Due: belint

first draft
  backend/graphql/resolvers/testResolvers.ts
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/testService.ts
Due: belint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
