Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: felint
        name: Lint frontend files
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh felint
    -   id: belint
        name: Lint backend files
        files: ^backend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh belint

more refactoring
  frontend/src/components/auth/FirebaseAction.tsx
  frontend/src/components/auth/ResetPassword/index.tsx
  frontend/src/components/auth/SignupConfirmation/index.tsx
  frontend/src/components/common/LoadingState.tsx
  frontend/src/components/pages/AdminPage.tsx
Due: felint

refactor firebase actions
  frontend/src/components/auth/FirebaseAction.tsx
Due: felint

add await
  frontend/src/components/auth/FirebaseAction.tsx
Due: felint

update flow
  backend/graphql/index.ts
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/types/authType.ts
  frontend/src/APIClients/queries/AuthQueries.ts
  frontend/src/APIClients/queries/UserQueries.ts
  frontend/src/components/auth/FirebaseAction.tsx
  frontend/src/components/auth/SignupConfirmation/TeacherSignupConfirmation.tsx
  frontend/src/components/auth/SignupConfirmation/index.tsx
  frontend/src/components/auth/TeacherSignup/index.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFive.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/TeacherWrapper.tsx
Due: felint, belint

clean up action handler component
  backend/graphql/index.ts
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/types/authType.ts
  frontend/src/APIClients/queries/AuthQueries.ts
  frontend/src/components/auth/FirebaseAction.tsx
Due: felint, belint

update signup confirmation admin
  frontend/src/components/auth/FirebaseAction.tsx
  frontend/src/components/auth/ResetPassword/index.tsx
  frontend/src/components/auth/SignupConfirmation/AdminSignupConfirmation.tsx
  frontend/src/components/auth/SignupConfirmation/TeacherSignupConfirmation.tsx
  frontend/src/components/auth/SignupConfirmation/index.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFive.tsx
Due: felint

add new component
  frontend/src/components/auth/SignupConfirmation/FinalSignupConfirmation.tsx
Due: felint

refactor teacher signup
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/resolvers/schoolResolvers.ts
  backend/graphql/types/authType.ts
  backend/graphql/types/schoolType.ts
  backend/types.ts
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/APIClients/mutations/SchoolMutations.ts
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
Due: felint, belint

update type
  backend/graphql/types/authType.ts
Due: belint

rename for consistency
  backend/graphql/resolvers/schoolResolvers.ts
Due: belint

refactor password form
  frontend/src/components/auth/FirebaseAction.tsx
  frontend/src/components/auth/Password/PasswordForm.tsx
  frontend/src/components/auth/ResetPassword/steps/SetNewPassword.tsx
  frontend/src/components/auth/SignupConfirmation/AdminSignupConfirmation.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
Due: felint

add typing
  frontend/src/components/auth/FirebaseAction.tsx
Due: felint

update eslint comments
  backend/graphql/resolvers/schoolResolvers.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/schoolType.ts
  backend/models/test.model.ts
  backend/services/implementations/schoolService.ts
  backend/services/implementations/testSessionService.ts
  frontend/src/assets/icons.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint, belint

feat: update register for teacher specific logic + handle submission (#100)
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/resolvers/schoolResolvers.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/authType.ts
  backend/graphql/types/schoolType.ts
  backend/models/test.model.ts
  backend/services/implementations/schoolService.ts
  backend/services/implementations/testSessionService.ts
  backend/types.ts
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/APIClients/queries/SchoolQueries.ts
  frontend/src/APIClients/types/SchoolClientTypes.ts
  frontend/src/App.tsx
  frontend/src/assets/icons.tsx
  frontend/src/components/auth/Signup.tsx
  frontend/src/components/auth/TeacherSignup/NavigationButtons.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFive.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
  frontend/src/components/auth/TeacherSignup/types.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/user-management/AddAdminModal.tsx
Due: felint, belint

update type
  backend/graphql/resolvers/authResolvers.ts
  backend/types.ts
Due: belint

update interface
  backend/services/interfaces/authService.ts
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
Due: felint, belint

refactor images to use gcp and add images constant folder
  frontend/src/assets/images.ts
  frontend/src/assets/jump-math-logo.png
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/common/HomeButton.tsx
  frontend/src/components/pages/Landing.tsx
  frontend/src/types/ImageTypes.ts
Due: felint

add general auth template component
  frontend/src/components/auth/AuthTemplate.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
Due: felint

add general login component
  frontend/src/App.tsx
  frontend/src/components/auth/FormError.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
  frontend/src/constants/Routes.ts
Due: felint

login component formatting and case handling
  frontend/src/App.tsx
  frontend/src/assets/images.ts
  frontend/src/components/auth/Login.tsx
  frontend/src/components/pages/Landing.tsx
Due: felint

updated images
  frontend/src/assets/images.ts
  frontend/src/components/auth/AuthTemplate.tsx
Due: felint

more cosmetic work
  frontend/src/components/auth/AuthTemplate.tsx
  frontend/src/components/auth/Login.tsx
Due: felint

cosmetic
  frontend/src/assets/images.ts
  frontend/src/components/auth/AuthTemplate.tsx
  frontend/src/components/auth/Login.tsx
Due: felint

resolving pr comments
  frontend/src/components/auth/AuthWrapper.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
Due: felint

resolving some merge stuff manually
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFive.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
Due: felint

feat: admin & teacher login pages (#108)
  frontend/src/App.tsx
  frontend/src/assets/images.ts
  frontend/src/assets/jump-math-logo.png
  frontend/src/components/auth/AuthWrapper.tsx
  frontend/src/components/auth/FormError.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFive.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/HomeButton.tsx
  frontend/src/components/pages/Landing.tsx
  frontend/src/constants/Routes.ts
  frontend/src/types/ImageTypes.ts
Due: felint

feat: update UserService with new fields (#93)
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/types/userType.ts
  backend/models/user.model.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/services/implementations/userService.ts
  backend/testUtils/users.ts
  backend/types.ts
Due: belint

refactoring individual pages to use AuthWrapper & adding subtitle prop
  frontend/src/components/auth/AuthWrapper.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFive.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
Due: felint

refactoring errors to auth wrapper
  frontend/src/components/auth/AuthWrapper.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
Due: felint

moving teacher signup types to types folder
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/components/auth/TeacherSignup/SelectFormInput.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
  frontend/src/types/TeacherSignupTypes.tsx
Due: felint

standardizing spacing for auth pages
  frontend/src/components/auth/AuthWrapper.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/TeacherSignup/SelectFormInput.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
Due: felint

add dynamic padding
  frontend/src/components/auth/AuthWrapper.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/constants/Routes.ts
Due: felint

page 4 fix
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
Due: felint

update route name
  frontend/src/App.tsx
  frontend/src/constants/Routes.ts
Due: felint

refactor code to use auth wrapper
  frontend/src/components/auth/ResetPassword/index.tsx
  frontend/src/components/auth/SignupConfirmation/AdminSignupConfirmation.tsx
  frontend/src/components/auth/SignupConfirmation/TeacherSignupConfirmation.tsx
  frontend/src/components/common/TeacherWrapper.tsx
Due: felint

clean up files
  frontend/src/components/auth/Password/PasswordForm.tsx
  frontend/src/components/auth/ResetPassword/index.tsx
  frontend/src/components/auth/ResetPassword/steps/PasswordResetSuccess.tsx
  frontend/src/components/auth/ResetPassword/steps/SetNewPassword.tsx
  frontend/src/components/auth/SignupConfirmation/index.tsx
  frontend/src/components/auth/TeacherSignup/index.tsx
Due: felint

chore: standardizing page formats across auth pages (#109)
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/components/auth/AuthWrapper.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/auth/TeacherSignup/SelectFormInput.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFive.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
  frontend/src/constants/Routes.ts
  frontend/src/types/TeacherSignupTypes.tsx
Due: felint

fix bugs
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/components/auth/AuthWrapper.tsx
  frontend/src/components/auth/Password/PasswordForm.tsx
  frontend/src/components/auth/SignupConfirmation/index.tsx
  frontend/src/components/common/MessageContainer.tsx
  frontend/src/components/user-management/AddAdminModal.tsx
Due: felint

update resetpassword page
  backend/graphql/index.ts
  frontend/src/APIClients/types/UserClientTypes.ts
  frontend/src/components/auth/FirebaseAction.tsx
  frontend/src/components/auth/ForgotPassword.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/Password/PasswordForm.tsx
  frontend/src/components/auth/ResetPassword/index.tsx
  frontend/src/components/auth/SignupConfirmation/AdminSignupConfirmation.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/pages/TeacherPage.tsx
Due: felint, belint

refactor error message
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/types/authType.ts
  backend/services/implementations/authService.ts
  backend/services/interfaces/authService.ts
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/App.tsx
  frontend/src/components/auth/FirebaseAction/FirebaseAction.tsx
  frontend/src/components/auth/FirebaseAction/FirebaseActionError.tsx
  frontend/src/components/auth/ResetPassword/index.tsx
  frontend/src/components/auth/SignupConfirmation/AdminSignupConfirmation.tsx
  frontend/src/components/auth/SignupConfirmation/index.tsx
  frontend/src/constants/Routes.ts
Due: felint, belint
