Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

Make past sessions clickable
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/sessions/TestSessionListItem.tsx
Due: felint

PR feedback: page padding
  frontend/src/components/pages/teacher/TeacherRouting.tsx
Due: felint

PR feedback: design-accurate maxWidth
  frontend/src/components/sessions/TestSessionListItem.tsx
Due: felint

fix: test session teacher page style fixes (#320)
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/components/sessions/TestSessionListItem.tsx
Due: felint

Update express to close a security vulnerability in `qs`
  backend/package.json
  backend/yarn.lock
Due: none

fix: Update express to close a security vulnerability in `qs` (#322)
  backend/package.json
  backend/yarn.lock
Due: none

pr comments: round 1
  frontend/src/components/assessments/student-experience/NavButtons.tsx
  frontend/src/components/assessments/student-experience/question-elements/MultipleChoice.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/constants/Routes.ts
Due: felint

pr comments: move question status to student utils
  frontend/src/components/assessments/student-experience/QuestionNumbers.tsx
  frontend/src/types/QuestionNumberTypes.tsx
  frontend/src/utils/StudentUtils.ts
Due: felint

pr comments: store isCompleted in Answers object
  frontend/src/types/AnswerTypes.ts
  frontend/src/utils/StudentUtils.ts
Due: felint

pr comments: remove extraneous index fields
  frontend/src/types/AnswerTypes.ts
  frontend/src/utils/StudentUtils.ts
Due: felint

pr comments: clean up answer element index function
  frontend/src/components/assessments/student-experience/Question.tsx
Due: felint

schoolYear to startDate
  backend/graphql/types/classType.ts
  backend/models/class.model.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
  backend/testUtils/classAssertions.ts
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint, belint

Add success toast
  frontend/src/components/sessions/TestSessionListItemPopover.tsx
Due: felint

Add `deleteTestSession` resolver
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  frontend/src/APIClients/mutations/TestSessionMutations.ts
Due: felint, belint

Update popover to trigger session deletion
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/sessions/TestSessionListItem.tsx
  frontend/src/components/sessions/TestSessionListItemPopover.tsx
Due: felint

PR feedback: don't show the edit button on past items
  frontend/src/components/sessions/TestSessionListItem.tsx
  frontend/src/components/sessions/TestSessionListItemPopover.tsx
Due: felint

Add confirmation modal
  frontend/src/components/sessions/TestSessionListItemPopover.tsx
Due: felint

Use correctly-styled deletion modal
  frontend/src/components/sessions/TestSessionListItemPopover.tsx
Due: felint

feat: delete test sessions (#321)
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  frontend/src/APIClients/mutations/TestSessionMutations.ts
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/sessions/TestSessionListItem.tsx
  frontend/src/components/sessions/TestSessionListItemPopover.tsx
Due: felint, belint

Add card component
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/sessions/overview/EmptySessionsTableState.tsx
  frontend/src/components/sessions/overview/TestSessionListItem.tsx
  frontend/src/components/sessions/overview/TestSessionListItemPopover.tsx
  frontend/src/components/sessions/results/StatisticCard.tsx
Due: felint

add resolver for create test session result
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
Due: belint

pr comments: rename assessment experience component
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
  frontend/src/constants/Routes.ts
Due: felint

a11y fix
  frontend/src/components/sessions/results/StatisticCard.tsx
Due: felint

added usePaginatedData, passed in button component into MessageContainer and HeaderWithButton
  frontend/src/components/common/HeaderWithButton.tsx
  frontend/src/components/common/MessageContainer.tsx
  frontend/src/components/common/MessageContainerClassroom.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/types/AuthTypes.ts
Due: felint

first commit
  backend/graphql/types/testSessionType.ts
  backend/models/index.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testDb.ts
  backend/testUtils/testSession.ts
Due: belint

add gql mutation
  frontend/src/APIClients/mutations/TestSessionMutations.ts
  frontend/src/components/assessments/student-experience/NavButtons.tsx
Due: felint

changed logic a bit to pass in a function to onClikc instead of buttoon component
  frontend/src/components/common/HeaderWithButton.tsx
  frontend/src/components/common/MessageContainer.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
Due: felint

removed some unnecessary imports
  frontend/src/components/user-management/student/AddClassroomModal.tsx
Due: felint

changed order of props in messagecontainer
  frontend/src/components/common/MessageContainer.tsx
Due: felint

moved AddClassroomModal out of ternary operator
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
Due: felint

removed another unnecessary import
  frontend/src/components/user-management/student/AddClassroomModal.tsx
Due: felint

add answer mapping util function
  frontend/src/components/assessments/student-experience/NavButtons.tsx
  frontend/src/utils/StudentUtils.ts
Due: felint

update test session type file
  backend/graphql/types/testSessionType.ts
Due: belint

pr comments: rename updatedAnswer function
  frontend/src/components/assessments/student-experience/question-elements/useAnswerState.ts
  frontend/src/utils/StudentUtils.ts
Due: felint

pr comments: remove unary operator usage
  frontend/src/components/assessments/student-experience/Question.tsx
Due: felint

Add blue variant
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/sessions/results/StatisticCard.tsx
Due: felint

Fix border colour for blue variant
  frontend/src/components/sessions/results/StatisticCard.tsx
Due: felint

date picker, modified tests and working mutation
  backend/graphql/types/classType.ts
  backend/models/class.model.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
  frontend/package.json
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/types/ClassroomTypes.tsx
  frontend/yarn.lock
Due: felint, belint

calender and styles
  frontend/package.json
  frontend/src/components/classrooms/Calendar/components/calendarPanel.tsx
  frontend/src/components/classrooms/Calendar/components/dateNavBtns.tsx
  frontend/src/components/classrooms/Calendar/components/dayOfMonth.tsx
  frontend/src/components/classrooms/Calendar/index.tsx
  frontend/src/components/classrooms/Calendar/range.tsx
  frontend/src/components/classrooms/Calendar/single.tsx
  frontend/src/components/classrooms/Calendar/utils/calenderUtils.ts
  frontend/src/components/classrooms/Calendar/utils/commonTypes.ts
  frontend/src/components/classrooms/Calendar/utils/reactKeysArrow.ts
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/yarn.lock
Due: felint

remove unused code
  frontend/src/components/classrooms/Calendar/components/calendarPanel.tsx
  frontend/src/components/classrooms/Calendar/components/dayOfMonth.tsx
  frontend/src/components/classrooms/Calendar/index.tsx
  frontend/src/components/classrooms/Calendar/range.tsx
  frontend/src/components/classrooms/Calendar/utils/calenderUtils.ts
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
