Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

final design changes
  frontend/src/components/classrooms/Calendar/components/calendarPanel.tsx
  frontend/src/components/classrooms/Calendar/components/dayOfMonth.tsx
Due: felint

compute completion rate
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/utilities/generalUtils.ts
Due: belint

Add fixed node version to fix compilation errors
  backend/package.json
Due: none

feat: card component (#323)
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/sessions/overview/EmptySessionsTableState.tsx
  frontend/src/components/sessions/overview/TestSessionListItem.tsx
  frontend/src/components/sessions/overview/TestSessionListItemPopover.tsx
  frontend/src/components/sessions/results/StatisticCard.tsx
Due: felint

Remove react-table
  frontend/package.json
  frontend/yarn.lock
Due: none

Remove json-schema packages (unused)
  frontend/package.json
  frontend/yarn.lock
Due: none

fix: node version (#338)
  backend/package.json
Due: none

Remove duplicate target from backend ci
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

fix: duplicate backend ci target (#340)
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

some changes to fix empty fields errors
  frontend/src/components/auth/teacher-signup/index.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupThree.tsx
Due: felint

changes
  frontend/src/components/auth/teacher-signup/index.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
Due: felint

final changes
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
Due: felint

FINAL
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
Due: felint

addressed pr comments
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/types/AuthTypes.ts
  frontend/src/types/ClassroomTypes.tsx
Due: felint

feat: Classrooms Page (#275)
  frontend/src/components/common/HeaderWithButton.tsx
  frontend/src/components/common/MessageContainer.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint

maintain map in service
  backend/models/index.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/classService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
  backend/testUtils/testDb.ts
  backend/testUtils/testSession.ts
Due: belint

fix tests
  backend/models/index.ts
  backend/testUtils/class.ts
  backend/testUtils/testDb.ts
  backend/testUtils/testSession.ts
Due: belint

fix: remove swagger UI
  backend/package.json
  backend/yarn.lock
Due: none

fix: remove swagger UI (#342)
  backend/package.json
  backend/yarn.lock
Due: none

fix question numbers
  frontend/src/types/AnswerTypes.ts
  frontend/src/utils/StudentUtils.ts
Due: felint

add comments
  frontend/src/utils/StudentUtils.ts
Due: felint

nit changes
  backend/services/implementations/statisticService.ts
  backend/utilities/generalUtils.ts
Due: belint

overridding css
  frontend/src/components/classrooms/Calendar/components/calendarPanel.tsx
  frontend/src/components/classrooms/Calendar/components/dateNavBtns.tsx
  frontend/src/components/classrooms/Calendar/components/dayOfMonth.tsx
  frontend/src/components/classrooms/Calendar/index.tsx
  frontend/src/components/classrooms/Calendar/single.tsx
  frontend/src/components/classrooms/Calendar/utils/calenderUtils.ts
  frontend/src/components/classrooms/Calendar/utils/commonTypes.ts
  frontend/src/components/classrooms/Calendar/utils/reactKeysArrow.ts
  frontend/src/components/user-management/student/AddClassroomModal.tsx
Due: felint

removing react-focus-lock
  frontend/package.json
  frontend/yarn.lock
Due: none

day start on sunday
  frontend/src/components/user-management/student/AddClassroomModal.tsx
Due: felint

Update prettier
  frontend/package.json
  frontend/yarn.lock
Due: none

Use the new prettier version to auto-format the project files
  frontend/src/App.tsx
  frontend/src/assets/images.ts
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/assessments/student-experience/AssessmentInfo.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/question-creation/QuestionEditor.tsx
  frontend/src/components/question-creation/QuestionSidebar.tsx
  frontend/src/components/question-creation/question-elements/ImageElement.tsx
  frontend/src/components/question-creation/question-elements/MultiOptionElement.tsx
  frontend/src/components/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/components/question-creation/question-elements/ShortAnswerElement.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-option/MultiOptionModal.tsx
  frontend/src/types/TestSessionTypes.ts
  frontend/src/utils/LocalStorageUtils.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

first commit
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/types/testSessionTypes.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
Due: felint, belint

disable input field scrolling
  frontend/src/components/assessments/student-experience/question-elements/ShortAnswer.tsx
Due: felint

feat: student assessment experience (#282)
  frontend/src/components/assessments/student-experience/NavButtons.tsx
  frontend/src/components/assessments/student-experience/Question.tsx
  frontend/src/components/assessments/student-experience/QuestionNumber.tsx
  frontend/src/components/assessments/student-experience/QuestionNumbers.tsx
  frontend/src/components/assessments/student-experience/QuestionTitle.tsx
  frontend/src/components/assessments/student-experience/pre-assessment/AssessmentInfo.tsx
  frontend/src/components/assessments/student-experience/pre-assessment/AssessmentRules.tsx
  frontend/src/components/assessments/student-experience/pre-assessment/QuestionTypeImages.tsx
  frontend/src/components/assessments/student-experience/question-components/MultiSelect.tsx
  frontend/src/components/assessments/student-experience/question-components/ShortAnswer.tsx
  frontend/src/components/assessments/student-experience/question-elements/Image.tsx
  frontend/src/components/assessments/student-experience/question-elements/MultiSelect.tsx
  frontend/src/components/assessments/student-experience/question-elements/MultipleChoice.tsx
  frontend/src/components/assessments/student-experience/question-elements/QuestionText.tsx
  frontend/src/components/assessments/student-experience/question-elements/ShortAnswer.tsx
  frontend/src/components/assessments/student-experience/question-elements/Text.tsx
  frontend/src/components/assessments/student-experience/question-elements/useAnswerState.ts
  frontend/src/components/common/HeaderWrapper.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
  frontend/src/constants/Routes.ts
  frontend/src/contexts/StudentContext.ts
  frontend/src/types/AnswerTypes.ts
  frontend/src/types/QuestionNumberTypes.tsx
  frontend/src/utils/GeneralUtils.ts
  frontend/src/utils/StudentUtils.ts
Due: felint

Auto-format new changes
  frontend/src/components/assessments/student-experience/NavButtons.tsx
  frontend/src/components/assessments/student-experience/QuestionNumbers.tsx
  frontend/src/components/assessments/student-experience/question-elements/useAnswerState.ts
Due: felint

fix: update prettier to latest version (#345)
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/images.ts
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/assessments/student-experience/NavButtons.tsx
  frontend/src/components/assessments/student-experience/QuestionNumbers.tsx
  frontend/src/components/assessments/student-experience/pre-assessment/AssessmentInfo.tsx
  frontend/src/components/assessments/student-experience/question-elements/useAnswerState.ts
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/question-creation/QuestionEditor.tsx
  frontend/src/components/question-creation/QuestionSidebar.tsx
  frontend/src/components/question-creation/question-elements/ImageElement.tsx
  frontend/src/components/question-creation/question-elements/MultiOptionElement.tsx
  frontend/src/components/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/components/question-creation/question-elements/ShortAnswerElement.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-option/MultiOptionModal.tsx
  frontend/src/types/TestSessionTypes.ts
  frontend/src/utils/LocalStorageUtils.ts
  frontend/src/utils/QuestionUtils.ts
  frontend/yarn.lock
Due: felint

Add basic student list component
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/sessions/results/StudentList.tsx
Due: felint

Include `isViewed` attribute in student DTO (exact format tbd?)
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/sessions/results/StudentList.tsx
Due: felint

Make list elements visually clickable
  frontend/src/components/sessions/results/StudentList.tsx
Due: felint

Fix styling issues for overflowing list
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/sessions/results/StudentList.tsx
Due: felint

Make student list searchable and sortable
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/sessions/results/StudentList.tsx
Due: felint

Add more test data
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

Fix background of search bar to not fade out
  frontend/src/components/common/table/SearchBar.tsx
Due: felint

Change sort icon to reflect designs (this is a global change)
  frontend/src/assets/icons.tsx
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
