Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

uncomment line
  backend/graphql/index.ts
Due: belint

feat: Empty State Table Component (#169)
  frontend/src/assets/icons.tsx
  frontend/src/components/assessments/AssessmentsTab.tsx
  frontend/src/components/common/table/EmptyTableState.tsx
  frontend/src/components/common/table/FilterMenu.tsx
  frontend/src/components/common/table/SearchBar.tsx
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/user-management/admin/AdminTab.tsx
Due: felint

query: Student Login Query (#166)
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/components/auth/student-login/StudentLogin.tsx
Due: felint

initial commit
  frontend/src/components/pages/admin/QuestionPage.tsx
  frontend/src/components/question-creation/QuestionSidebarItem.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-select/AddMultiSelectModal.tsx
  frontend/src/contexts/QuestionEditorContext.ts
Due: felint

fixed pr issues
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/types/AssessmentTypes.ts
Due: felint

got tests working!
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/testUtils/class.ts
Due: belint

added preliminary changes to accomodate new student field, but will need more logic after understanding what is needed
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
Due: belint

made changes to test cases to incorporate new students field
  backend/models/class.model.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/testUtils/class.ts
Due: belint

removed console logs
  backend/services/implementations/__tests__/classService.test.ts
Due: belint

removed a change i made to class model accidentally
  backend/models/class.model.ts
Due: belint

wrote some comments
  backend/services/implementations/classService.ts
Due: belint

removed all comments on second thought, since there are already comments in /interfaces
  backend/services/implementations/classService.ts
Due: belint

refactor modal
  frontend/src/components/common/GenericModal.tsx
  frontend/src/components/common/ModalText.tsx
  frontend/src/components/user-management/RemoveUserConfirmationModal.tsx
  frontend/src/components/user-management/RemoveUserErrorModal.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
Due: felint

Update frontend/src/components/assessments/assessment-creation/BasicInformation.tsx
  frontend/src/components/assessments/assessment-creation/BasicInformation.tsx
Due: felint

Update frontend/src/components/common/FormRadio.tsx
  frontend/src/components/common/FormRadio.tsx
Due: felint

refactor student assessment
  frontend/src/components/assessments/assessment-creation/QuestionSummary.tsx
  frontend/src/components/pages/student/StudentAssessment.tsx
Due: felint

resolving pr comments
  frontend/src/components/assessments/assessment-creation/AddQuestionButton.tsx
  frontend/src/components/assessments/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/common/FormRadio.tsx
  frontend/src/themes/components/radio.ts
Due: felint

add archive modal
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/assessments/modals/ArchiveModal.tsx
Due: felint

add archive test resolver (#172)
  backend/graphql/index.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
Due: belint

add archive test mutation
  frontend/src/APIClients/mutations/TestMutations.ts
Due: felint

rename folder
  frontend/src/components/assessments/EditStatusModals/ArchiveModal.tsx
Due: felint

add example
  frontend/src/App.tsx
  frontend/src/components/assessments/EditStatusModals/ArchiveModal.tsx
  frontend/src/components/common/GenericModal.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/question-creation/question-elements/modals/ResponseTypeModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
Due: felint

undo refactor to header
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
Due: felint

pr comments
  frontend/src/components/pages/student/StudentAssessment.tsx
Due: felint

feat: add question section to create assessment form (#157)
  frontend/src/components/assessments/assessment-creation/AddQuestionButton.tsx
  frontend/src/components/assessments/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/assessments/assessment-creation/BasicInformation.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/assessments/assessment-creation/QuestionSummary.tsx
  frontend/src/components/common/FormRadio.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/pages/student/StudentAssessment.tsx
  frontend/src/constants/TestConstants.ts
  frontend/src/themes/components/button.ts
  frontend/src/themes/components/radio.ts
Due: felint

completed all
  frontend/src/components/question-creation/QuestionElementItem.tsx
  frontend/src/components/question-creation/question-elements/MultiSelectElement.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-select/AddMultiSelectModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-select/EditMultiSelectModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-select/MultiSelectModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-select/MultiSelectOption.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-select/SelectOptionCount.tsx
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

made changes to get students working
  backend/models/class.model.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
Due: belint

feat: refactor modals into general component (#175)
  frontend/src/App.tsx
  frontend/src/components/assessments/EditStatusModals/ArchiveModal.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/common/ModalText.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/question-creation/question-elements/modals/ResponseTypeModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multiple-choice/MultipleChoiceModal.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/components/user-management/RemoveUserConfirmationModal.tsx
  frontend/src/components/user-management/RemoveUserErrorModal.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
Due: felint

add tooltip
  frontend/src/components/common/QuestionTypeImages.tsx
  frontend/src/components/pages/student/StudentAssessment.tsx
  frontend/src/constants/StudentAssessmentConstants.ts
  frontend/src/types/QuestionTypes.ts
Due: felint

Update frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
Due: felint

make toast reusable
  frontend/src/components/assessments/EditStatusButtons/DeleteAssessmentButton.tsx
  frontend/src/components/common/Toast.tsx
Due: felint

add delete button
  frontend/src/components/assessments/AssessmentsTable.tsx
  frontend/src/components/assessments/DeleteAssessmentButton.tsx
  frontend/src/components/assessments/EditStatusButton.tsx
  frontend/src/components/assessments/EditStatusPopover.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/types/AssessmentTypes.ts
Due: felint

add toast
  frontend/src/components/assessments/AssessmentsTable.tsx
  frontend/src/components/assessments/DeleteAssessmentButton.tsx
  frontend/src/components/assessments/EditStatusButton.tsx
  frontend/src/components/assessments/EditStatusButtons/DeleteAssessmentButton.tsx
  frontend/src/components/assessments/EditStatusPopover.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/themes/components/alert.ts
Due: felint

add publish assessment to display page
  frontend/src/components/assessments/AssessmentsTable.tsx
  frontend/src/components/assessments/EditStatusButtons/DeleteAssessmentButton.tsx
  frontend/src/components/assessments/EditStatusButtons/PublishAssessmentButton.tsx
  frontend/src/components/assessments/EditStatusModals/DeleteAssessmentModal.tsx
  frontend/src/components/assessments/EditStatusModals/PublishAssessmentModal.tsx
  frontend/src/components/assessments/EditStatusPopover.tsx
Due: felint

add delete assessment modal
  frontend/src/components/assessments/DeleteAssessmentModal.tsx
  frontend/src/components/assessments/EditStatusButtons/DeleteAssessmentButton.tsx
  frontend/src/components/assessments/EditStatusPopover.tsx
Due: felint

minor comsetics
  backend/graphql/resolvers/testResolvers.ts
  frontend/src/components/assessments/EditStatusPopover.tsx
  frontend/src/components/user-management/RemoveUserPopover.tsx
Due: felint, belint

Update frontend/src/components/assessments/EditStatusPopover.tsx
  frontend/src/components/assessments/EditStatusPopover.tsx
Due: felint

changes
  frontend/src/components/common/QuestionTypeImages.tsx
  frontend/src/components/pages/student/StudentAssessment.tsx
  frontend/src/constants/StudentAssessmentConstants.ts
  frontend/src/types/QuestionTypes.ts
Due: felint

changes
  frontend/src/components/common/QuestionTypeImages.tsx
Due: felint

refactor to use general modal
  frontend/src/components/assessments/EditStatusButtons/DeleteButton.tsx
  frontend/src/components/assessments/EditStatusButtons/PublishButton.tsx
  frontend/src/components/assessments/EditStatusModals/DeleteAssessmentModal.tsx
  frontend/src/components/assessments/EditStatusModals/DeleteModal.tsx
  frontend/src/components/assessments/EditStatusModals/PublishAssessmentModal.tsx
  frontend/src/components/assessments/EditStatusModals/PublishModal.tsx
  frontend/src/components/assessments/EditStatusPopover.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/themes/components/button.ts
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
