Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: felint
        name: Lint frontend files
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh felint
    -   id: belint
        name: Lint backend files
        files: ^backend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh belint

add select row functionality
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/session-creation/AssessmentsTable.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseAssessment.tsx
  frontend/src/themes/components/radio.ts
Due: felint

Use resolver-chaining for test session resolution
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/types/testSessionTypes.ts
Due: belint

Use resolver-chaining for class resolution
  backend/graphql/resolvers/classResolvers.ts
  backend/services/implementations/classService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/classService.ts
  backend/services/interfaces/testSessionService.ts
Due: belint

Fix typo in class test
  backend/testUtils/class.ts
Due: belint

Remove unneeded classService from test session service
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
Due: belint

Fix missing/wrong fields being sent to the frontend
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/models/index.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/classService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/classService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testDb.ts
  backend/utilities/generalUtils.ts
Due: belint

Fix tests for class service
  backend/testUtils/classAssertions.ts
Due: belint

Fix tests for test session service
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/testUtils/testSession.ts
Due: belint

Fix data not loading properly
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/contexts/StudentContext.ts
Due: felint

Fix wrong `key` prop
  frontend/src/components/pages/student/StudentLoginPage.tsx
Due: felint

fix: student login bugs (#381)
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/contexts/StudentContext.ts
Due: felint

Addressed PR comments
  backend/models/class.model.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
Due: belint

feat: add loading state to student login (#351)
  frontend/src/components/common/LoadingState.tsx
  frontend/src/components/common/Spinner.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/themes/components/spinner.ts
  frontend/src/themes/index.ts
Due: felint

feat: multi-option components (#348)
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/sessions/results/CorrectedInputWrapper.tsx
  frontend/src/components/sessions/results/CorrectedMultiOptionElements.tsx
  frontend/src/components/sessions/results/CorrectedMultiSelect.tsx
  frontend/src/components/sessions/results/CorrectedMultipleChoice.tsx
  frontend/src/themes/components/checkbox.ts
Due: felint

feat: corrected-short-answer component (#347)
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/sessions/results/CorrectedInputWrapper.tsx
  frontend/src/components/sessions/results/CorrectedShortAnswer.tsx
  frontend/src/components/sessions/results/CorrectedTextField.tsx
Due: felint

fix: reload prompt (#356)
  frontend/src/components/common/useReloadPrompt.ts
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
Due: felint

fix: remove unused dependency `rjsf` (#350)
  frontend/package.json
  frontend/yarn.lock
Due: none

feat: View Student Result page (#355)
  frontend/src/assets/icons.tsx
  frontend/src/components/assessments/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/assessments/assessment-status/EditStatusPopover.tsx
  frontend/src/components/common/BackButton.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/common/RouterTabs.tsx
  frontend/src/components/data-visualization/StatisticCard.tsx
  frontend/src/components/data-visualization/StatisticsSection/index.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsByStudentPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsSummaryPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/index.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/components/sessions/overview/TestSessionListItem.tsx
  frontend/src/components/sessions/overview/TestSessionListItemPopover.tsx
  frontend/src/components/sessions/results/StudentAnswersSection/index.tsx
  frontend/src/components/sessions/results/StudentAnswersSection/question-elements/CorrectedInputWrapper.tsx
  frontend/src/components/sessions/results/StudentAnswersSection/question-elements/CorrectedMultiOptionElements.tsx
  frontend/src/components/sessions/results/StudentAnswersSection/question-elements/CorrectedMultiSelect.tsx
  frontend/src/components/sessions/results/StudentAnswersSection/question-elements/CorrectedMultipleChoice.tsx
  frontend/src/components/sessions/results/StudentAnswersSection/question-elements/CorrectedShortAnswer.tsx
  frontend/src/components/sessions/results/StudentAnswersSection/question-elements/CorrectedTextField.tsx
  frontend/src/components/sessions/results/StudentList/StudentList.tsx
  frontend/src/components/sessions/results/StudentList/StudentListItem.tsx
  frontend/src/components/sessions/results/StudentList/index.tsx
  frontend/src/constants/Routes.ts
  frontend/src/themes/components/divider.ts
  frontend/src/themes/index.ts
  frontend/src/utils/StatisticsUtils.ts
Due: felint

fix: upgrade `multer` to the latest stable version (#349)
  backend/package.json
  backend/yarn.lock
Due: none

feat: distribute assessment flow wrapper (#352)
  frontend/src/assets/icons.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/sessions/distribute/FormBreadcrumb.tsx
  frontend/src/components/sessions/distribute/steps/AddInformation.tsx
  frontend/src/components/sessions/distribute/steps/ChooseAssessment.tsx
  frontend/src/components/sessions/distribute/steps/ChooseClass.tsx
  frontend/src/components/sessions/distribute/steps/Review.tsx
Due: felint

backend: Compute Test Completion Rate (#327)
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/utilities/generalUtils.ts
Due: belint

feat: Return StudentDTOs in testSession Resolver (#346)
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/types/testSessionTypes.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
Due: felint, belint

feat: fetch data for classroom page (#353)
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/components/classrooms/ClassroomErrorStateWithButton.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint

feat: add student list component (#343)
  frontend/src/assets/icons.tsx
  frontend/src/components/common/table/SearchBar.tsx
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/sessions/results/StudentList.tsx
Due: felint

feat: student test submission (#324)
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  frontend/src/APIClients/mutations/TestSessionMutations.ts
  frontend/src/components/assessments/TestSubmissionMessage.tsx
  frontend/src/components/assessments/student-experience/Instructions.tsx
  frontend/src/components/assessments/student-experience/NavButtons.tsx
  frontend/src/components/assessments/student-experience/QuestionNumbers.tsx
  frontend/src/components/assessments/student-experience/QuestionTitle.tsx
  frontend/src/components/assessments/student-experience/SubmitButton.tsx
  frontend/src/components/assessments/student-experience/question-elements/MultiSelect.tsx
  frontend/src/components/assessments/student-experience/question-elements/useAnswerState.ts
  frontend/src/components/common/LoadingState.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/common/ModalText.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
  frontend/src/components/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/contexts/StudentContext.ts
  frontend/src/contexts/WriteAssessmentContext.ts
  frontend/src/utils/GeneralUtils.ts
  frontend/src/utils/StudentUtils.ts
Due: felint, belint

feat: student assessment experience (#282)
  frontend/src/components/assessments/student-experience/NavButtons.tsx
  frontend/src/components/assessments/student-experience/Question.tsx
  frontend/src/components/assessments/student-experience/QuestionNumber.tsx
  frontend/src/components/assessments/student-experience/QuestionNumbers.tsx
  frontend/src/components/assessments/student-experience/QuestionTitle.tsx
  frontend/src/components/assessments/student-experience/pre-assessment/AssessmentInfo.tsx
  frontend/src/components/assessments/student-experience/pre-assessment/AssessmentRules.tsx
  frontend/src/components/assessments/student-experience/pre-assessment/QuestionTypeImages.tsx
  frontend/src/components/assessments/student-experience/question-components/MultiSelect.tsx
  frontend/src/components/assessments/student-experience/question-components/ShortAnswer.tsx
  frontend/src/components/assessments/student-experience/question-elements/Image.tsx
  frontend/src/components/assessments/student-experience/question-elements/MultiSelect.tsx
  frontend/src/components/assessments/student-experience/question-elements/MultipleChoice.tsx
  frontend/src/components/assessments/student-experience/question-elements/QuestionText.tsx
  frontend/src/components/assessments/student-experience/question-elements/ShortAnswer.tsx
  frontend/src/components/assessments/student-experience/question-elements/Text.tsx
  frontend/src/components/assessments/student-experience/question-elements/useAnswerState.ts
  frontend/src/components/common/HeaderWrapper.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentRouting.tsx
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
  frontend/src/constants/Routes.ts
  frontend/src/contexts/StudentContext.ts
  frontend/src/types/AnswerTypes.ts
  frontend/src/types/QuestionNumberTypes.tsx
  frontend/src/utils/GeneralUtils.ts
  frontend/src/utils/StudentUtils.ts
Due: felint

fix: organize data-viz package (#354)
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/sessions/data-visualization/StatisticCard.tsx
  frontend/src/components/sessions/data-visualization/StudentList/StudentList.tsx
  frontend/src/components/sessions/data-visualization/StudentList/StudentListItem.tsx
  frontend/src/components/sessions/data-visualization/StudentList/index.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedInputWrapper.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedMultiOptionElements.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedMultiSelect.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedMultipleChoice.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedShortAnswer.tsx
  frontend/src/components/sessions/data-visualization/corrected-question-elements/CorrectedTextField.tsx
Due: felint

fix: update prettier to latest version (#345)
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/images.ts
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/assessments/student-experience/NavButtons.tsx
  frontend/src/components/assessments/student-experience/QuestionNumbers.tsx
  frontend/src/components/assessments/student-experience/pre-assessment/AssessmentInfo.tsx
  frontend/src/components/assessments/student-experience/question-elements/useAnswerState.ts
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/question-creation/QuestionEditor.tsx
  frontend/src/components/question-creation/QuestionSidebar.tsx
  frontend/src/components/question-creation/question-elements/ImageElement.tsx
  frontend/src/components/question-creation/question-elements/MultiOptionElement.tsx
  frontend/src/components/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/components/question-creation/question-elements/ShortAnswerElement.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-option/MultiOptionModal.tsx
  frontend/src/types/TestSessionTypes.ts
  frontend/src/utils/LocalStorageUtils.ts
  frontend/src/utils/QuestionUtils.ts
  frontend/yarn.lock
Due: felint

fix: remove unused bootstrap dependency (#374)
  frontend/package.json
  frontend/yarn.lock
Due: none

Revert "merge conflicts"
  backend/graphql/types/classType.ts
  backend/models/class.model.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
  backend/testUtils/classAssertions.ts
  frontend/package.json
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/common/DatePicker.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/teacher/student-management/classrooms/AddClassroomModal.tsx
  frontend/src/types/ClassroomTypes.tsx
  frontend/yarn.lock
Due: felint, belint

fix: crashing heroku deployment (#378)
  backend/.eslintrc.js
  backend/graphql/resolvers/entityResolvers.ts
  backend/graphql/resolvers/scalarResolvers.ts
  backend/lib/.eslintrc.js
  backend/lib/graphql-upload/graphqlUpload.cjs
  backend/lib/graphql-upload/graphqlUpload.d.cts
  backend/lib/graphql-upload/index.ts
  backend/nodemon.json
  backend/package.json
  backend/postbuild.mjs
  backend/server.ts
  backend/types/questionMetadataTypes.ts
  backend/yarn.lock
Due: belint

fix: miscellaneous bugfixes (#379)
  frontend/package.json
  frontend/src/components/admin/question-creation/question-elements/modals/multi-option/SelectOptionCount.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/components/common/Copyable.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
  frontend/src/themes/components/tabs.ts
  frontend/src/themes/index.ts
  frontend/yarn.lock
Due: felint

fix: miscellaneous image bugs (#370)
  backend/server.ts
  backend/services/implementations/imageUploadService.ts
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
Due: felint, belint

fix: complete react version upgrade (#376)
  frontend/package.json
  frontend/src/components/common/table/SearchBar.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/question-elements/CorrectedMultiOptionElements.tsx
  frontend/src/index.tsx
  frontend/yarn.lock
Due: felint

updated changes
  frontend/package.json
  frontend/src/components/classrooms/Calendar/components/calendarPanel.tsx
  frontend/src/components/classrooms/Calendar/components/dateNavBtns.tsx
  frontend/src/components/classrooms/Calendar/components/dayOfMonth.tsx
  frontend/src/components/classrooms/Calendar/index.tsx
  frontend/src/components/classrooms/Calendar/single.tsx
  frontend/src/components/classrooms/Calendar/utils/calenderUtils.ts
  frontend/src/components/classrooms/Calendar/utils/commonTypes.ts
  frontend/src/components/classrooms/Calendar/utils/reactKeysArrow.ts
  frontend/src/components/common/DatePicker.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/yarn.lock
Due: felint

date validation
  backend/models/class.model.ts
  frontend/src/components/common/DatePicker.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint, belint

added new resolver logic and a new type to handle classroom cards
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  backend/services/interfaces/classService.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint, belint

Cache backend linting
  backend/package.json
Due: none
