Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

fix: remove hidden field (#97)
  frontend/src/components/auth/TeacherSignup/SelectFormInput.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
Due: felint

chore: remove Google OAuth code (#96)
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/types/authType.ts
  backend/services/implementations/authService.ts
  backend/services/implementations/userService.ts
  backend/services/interfaces/authService.ts
  backend/services/interfaces/userService.ts
  backend/types.ts
  backend/utilities/firebaseRestClient.ts
  frontend/package.json
  frontend/src/APIClients/AuthAPIClient.ts
  frontend/src/components/auth/Login.tsx
  frontend/yarn.lock
Due: felint, belint

resolving yarn issues
  frontend/tsconfig.json
  yarn.lock
Due: none

update imports
  frontend/package.json
  frontend/src/APIClients/queries/SchoolQueries.ts
  frontend/src/components/auth/TeacherSignup/TeacherSignupTwo.tsx
  frontend/yarn.lock
Due: felint

updating yarn.lock and package.json to include needed dependency
  frontend/package.json
  frontend/yarn.lock
Due: none

removing unnecessary yarn.lock changes
  yarn.lock
Due: none

yarn lint
  backend/graphql/index.ts
  frontend/src/APIClients/mutations/SchoolMutations.ts
  frontend/src/APIClients/types/SchoolClientTypes.ts
  frontend/src/components/auth/TeacherSignup/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignupTwo.tsx
  frontend/src/components/auth/TeacherSignup/types.tsx
  frontend/src/components/common/AddAdminModal.tsx
Due: felint, belint

removing noimplicitany:false
  frontend/tsconfig.json
Due: none

reverting unintentional line deletion
  yarn.lock
Due: none

chore: reorganize frontend file structure (#101)
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/icons.tsx
  frontend/src/components/assessment-creation/CreateQuestionPage.tsx
  frontend/src/components/assessment-creation/CreateQuestionSidebar.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/TeacherSignup/NavigationButtons.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/ModalText.tsx
  frontend/src/components/common/SidebarItem.tsx
  frontend/src/components/common/SortTablePopover.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/user-management/AddAdminModal.tsx
  frontend/src/components/user-management/AdminConfirmationMessage.tsx
  frontend/src/components/user-management/AdminUserTable.tsx
  frontend/src/components/user-management/RemoveUserConfirmationModal.tsx
  frontend/src/components/user-management/RemoveUserErrorModal.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
  frontend/src/components/user-management/RemoveUserPopover.tsx
  frontend/yarn.lock
Due: felint

Update README.md
  README.md
Due: none

Update README.md (#102)
  README.md
Due: none

updated button theming w/ design system changes & updated apply button to match design styling
  frontend/src/components/common/SortTablePopover.tsx
  frontend/src/themes/components/button.ts
Due: felint

cosmetic fixes
  frontend/src/components/common/SortTablePopover.tsx
  frontend/src/components/pages/AdminPage.tsx
Due: felint

moving icon to left, as per design
  frontend/src/components/common/SortTablePopover.tsx
Due: felint

changing sidebar from vertical to horizontal
  frontend/src/components/common/HomeButton.tsx
  frontend/src/components/common/Sidebar.tsx
  frontend/src/components/common/SidebarItem.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/types/PageTypes.ts
Due: felint

add mouse event
  frontend/src/components/auth/TeacherSignup/NavigationButtons.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/types.tsx
Due: felint

fix: sort popover (#103)
  frontend/src/components/common/SortTablePopover.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/themes/components/button.ts
Due: felint

add new page
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/types.tsx
Due: felint

fix api calls
  frontend/src/APIClients/mutations/SchoolMutations.ts
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
Due: felint

remove console log
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
Due: felint

hover and active page behaviour
  frontend/src/components/common/SidebarItem.tsx
  frontend/src/components/pages/AdminPage.tsx
Due: felint

add children navigation menu
  frontend/src/components/common/SidebarItem.tsx
Due: felint

cleanup
  frontend/src/components/common/SidebarItem.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/types/PageTypes.ts
Due: felint

renaming sidebar -> navbar
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/common/NavbarItem.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

fixing styling after merge
  frontend/src/components/common/SortTablePopover.tsx
  frontend/src/components/pages/AdminPage.tsx
Due: felint

draft
  frontend/src/App.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/constants/Routes.ts
Due: felint

add new files
  frontend/src/components/auth/Action.tsx
  frontend/src/components/auth/Login/TeacherLogin.tsx
  frontend/src/components/auth/PasswordInputs.tsx
  frontend/src/components/auth/PasswordReset/TeacherNewPassword.tsx
  frontend/src/components/auth/PasswordReset/TeacherResetPassword.tsx
Due: felint

add new firebase api calls
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/types/authType.ts
  backend/services/implementations/authService.ts
  backend/services/interfaces/authService.ts
  backend/utilities/firebaseRestClient.ts
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/App.tsx
  frontend/src/components/auth/FirebaseAction.tsx
  frontend/src/components/auth/ForgotPassword.tsx
  frontend/src/components/auth/ResetPassword.tsx
  frontend/src/components/auth/SignupConfirmation.tsx
  frontend/src/components/pages/TeacherPage.tsx
  frontend/src/constants/Routes.ts
Due: felint, belint

fixing routes
  frontend/src/App.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/user-management/AddAdminModal.tsx
  frontend/src/components/user-management/RemoveUserConfirmationModal.tsx
  frontend/src/components/user-management/RemoveUserErrorModal.tsx
  frontend/src/constants/Routes.ts
Due: felint

feat: new sidebar component (#104)
  frontend/src/App.tsx
  frontend/src/components/common/HomeButton.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/common/NavbarItem.tsx
  frontend/src/components/common/Sidebar.tsx
  frontend/src/components/common/SidebarItem.tsx
  frontend/src/components/common/SortTablePopover.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/user-management/AddAdminModal.tsx
  frontend/src/components/user-management/RemoveUserConfirmationModal.tsx
  frontend/src/components/user-management/RemoveUserErrorModal.tsx
  frontend/src/constants/Routes.ts
  frontend/src/types/PageTypes.ts
Due: felint

feat: create admin login page frontend
  frontend/src/assets/group-kids.png
  frontend/src/assets/icons.tsx
  frontend/src/components/auth/Login.tsx
Due: felint

add FE for set new password
  frontend/src/APIClients/queries/UserQueries.ts
  frontend/src/App.tsx
  frontend/src/components/auth/FirebaseAction.tsx
  frontend/src/components/auth/ForgotPassword.tsx
  frontend/src/components/auth/Password/PasswordRequirement.tsx
  frontend/src/components/auth/ResetPassword.tsx
  frontend/src/components/auth/ResetPassword/ResetPassword.tsx
  frontend/src/components/auth/ResetPassword/steps/PasswordResetSuccess.tsx
  frontend/src/components/auth/ResetPassword/steps/SetNewPassword.tsx
  frontend/src/components/auth/SignupConfirmation.tsx
  frontend/src/components/auth/TeacherSignup/NavigationButtons.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/user-management/AddAdminModal.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
Due: felint

fix padding
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
Due: felint

feat: Teacher Signup Page One (#105)
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
  frontend/src/components/auth/TeacherSignup/types.tsx
Due: felint

add confirmation page
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFive.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
Due: felint

many assorted changes
  frontend/src/App.tsx
  frontend/src/assets/Images.ts
  frontend/src/assets/group-kids.png
  frontend/src/assets/icons.tsx
  frontend/src/assets/jump-math-logo.png
  frontend/src/components/auth/AuthTemplate.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/auth/TeacherSignup/TeacherSignup.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/common/HomeButton.tsx
  frontend/src/components/pages/Landing.tsx
  frontend/src/constants/Routes.ts
  frontend/src/types/ImageTypes.ts
Due: felint

update signup confirmation flow
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/types/authType.ts
  backend/services/implementations/authService.ts
  backend/services/interfaces/authService.ts
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/App.tsx
  frontend/src/components/auth/FirebaseAction.tsx
  frontend/src/components/auth/ResetPassword/index.tsx
  frontend/src/components/auth/SignupConfirmation.tsx
  frontend/src/components/auth/SignupConfirmation/AdminSignupConfirmation.tsx
  frontend/src/components/auth/SignupConfirmation/TeacherSignupConfirmation.tsx
  frontend/src/components/auth/SignupConfirmation/index.tsx
  frontend/src/components/auth/TeacherSignup/index.tsx
Due: felint, belint

refactor pages
  frontend/src/components/auth/ResetPassword/index.tsx
  frontend/src/components/auth/ResetPassword/steps/PasswordResetSuccess.tsx
  frontend/src/components/auth/ResetPassword/steps/SetNewPassword.tsx
  frontend/src/components/auth/SignupConfirmation/TeacherSignupConfirmation.tsx
  frontend/src/components/auth/TeacherSignup/index.tsx
  frontend/src/components/common/TeacherWrapper.tsx
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
