Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: felint
        name: Lint frontend files
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh felint
    -   id: belint
        name: Lint backend files
        files: ^backend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh belint

add loading screen after action
  frontend/src/App.tsx
  frontend/src/assets/images.ts
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/assessments/student-experience/pre-assessment/AssessmentInfo.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/question-creation/QuestionEditor.tsx
  frontend/src/components/question-creation/QuestionSidebar.tsx
  frontend/src/components/question-creation/question-elements/ImageElement.tsx
  frontend/src/components/question-creation/question-elements/MultiOptionElement.tsx
  frontend/src/components/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/components/question-creation/question-elements/ShortAnswerElement.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-option/MultiOptionModal.tsx
  frontend/src/types/TestSessionTypes.ts
  frontend/src/utils/LocalStorageUtils.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

refactor
  frontend/src/App.tsx
  frontend/src/assets/images.ts
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/assessments/student-experience/pre-assessment/AssessmentInfo.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/question-creation/QuestionEditor.tsx
  frontend/src/components/question-creation/QuestionSidebar.tsx
  frontend/src/components/question-creation/question-elements/ImageElement.tsx
  frontend/src/components/question-creation/question-elements/MultiOptionElement.tsx
  frontend/src/components/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/components/question-creation/question-elements/ShortAnswerElement.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-option/MultiOptionModal.tsx
  frontend/src/types/TestSessionTypes.ts
  frontend/src/utils/LocalStorageUtils.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

pr comment - top-level config
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
Due: felint

PR feedback: move statistics utils
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsByStudentPage.tsx
  frontend/src/utils/StatisticsUtils.ts
Due: felint

feat: View Student Result page (#355)
  frontend/src/assets/icons.tsx
  frontend/src/components/assessments/assessment-creation/AssessmentEditorHeader.tsx
  frontend/src/components/assessments/assessment-status/EditStatusPopover.tsx
  frontend/src/components/common/BackButton.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/common/RouterTabs.tsx
  frontend/src/components/data-visualization/StatisticCard.tsx
  frontend/src/components/data-visualization/StatisticsSection/index.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsByStudentPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/DisplayAssessmentResultsSummaryPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentResultsPage/index.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/components/sessions/overview/TestSessionListItem.tsx
  frontend/src/components/sessions/overview/TestSessionListItemPopover.tsx
  frontend/src/components/sessions/results/StudentAnswersSection/index.tsx
  frontend/src/components/sessions/results/StudentAnswersSection/question-elements/CorrectedInputWrapper.tsx
  frontend/src/components/sessions/results/StudentAnswersSection/question-elements/CorrectedMultiOptionElements.tsx
  frontend/src/components/sessions/results/StudentAnswersSection/question-elements/CorrectedMultiSelect.tsx
  frontend/src/components/sessions/results/StudentAnswersSection/question-elements/CorrectedMultipleChoice.tsx
  frontend/src/components/sessions/results/StudentAnswersSection/question-elements/CorrectedShortAnswer.tsx
  frontend/src/components/sessions/results/StudentAnswersSection/question-elements/CorrectedTextField.tsx
  frontend/src/components/sessions/results/StudentList/StudentList.tsx
  frontend/src/components/sessions/results/StudentList/StudentListItem.tsx
  frontend/src/components/sessions/results/StudentList/index.tsx
  frontend/src/constants/Routes.ts
  frontend/src/themes/components/divider.ts
  frontend/src/themes/index.ts
  frontend/src/utils/StatisticsUtils.ts
Due: felint

feat: distribute assessment flow wrapper (#352)
  frontend/src/assets/icons.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/sessions/distribute/FormBreadcrumb.tsx
  frontend/src/components/sessions/distribute/steps/AddInformation.tsx
  frontend/src/components/sessions/distribute/steps/ChooseAssessment.tsx
  frontend/src/components/sessions/distribute/steps/ChooseClass.tsx
  frontend/src/components/sessions/distribute/steps/Review.tsx
Due: felint

fix empty classrooms state
  frontend/src/components/assessments/student-experience/TestSubmissionMessage.tsx
  frontend/src/components/classrooms/ClassroomErrorStateWithButton.tsx
  frontend/src/components/classrooms/EmptyClassroomsState.tsx
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
Due: felint

more folder reorg
  frontend/src/components/common/navigation/FormBreadcrumb.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/sessions/session-creation/steps/AddInformation.tsx
  frontend/src/components/sessions/session-creation/steps/ChooseAssessment.tsx
  frontend/src/components/sessions/session-creation/steps/ChooseClass.tsx
  frontend/src/components/sessions/session-creation/steps/Review.tsx
  frontend/src/components/user-management/student/classrooms/AddClassroomModal.tsx
  frontend/src/components/user-management/student/classrooms/SelectFormInputClassroom.tsx
Due: felint

organize student folder
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/WriteAssessmentPage.tsx
  frontend/src/components/student-experience/Instructions.tsx
  frontend/src/components/student-experience/NavButtons.tsx
  frontend/src/components/student-experience/QuestionNumber.tsx
  frontend/src/components/student-experience/QuestionNumbers.tsx
  frontend/src/components/student-experience/StudentDashboardHeader.tsx
  frontend/src/components/student-experience/SubmitButton.tsx
  frontend/src/components/student-experience/pre-assessment/AssessmentInfo.tsx
  frontend/src/components/student-experience/pre-assessment/AssessmentRules.tsx
  frontend/src/components/student-experience/pre-assessment/QuestionTypeImages.tsx
  frontend/src/components/student-experience/questions/Question.tsx
  frontend/src/components/student-experience/questions/QuestionTitle.tsx
  frontend/src/components/student-experience/questions/question-elements/Image.tsx
  frontend/src/components/student-experience/questions/question-elements/MultiSelect.tsx
  frontend/src/components/student-experience/questions/question-elements/MultipleChoice.tsx
  frontend/src/components/student-experience/questions/question-elements/QuestionText.tsx
  frontend/src/components/student-experience/questions/question-elements/ShortAnswer.tsx
  frontend/src/components/student-experience/questions/question-elements/Text.tsx
  frontend/src/components/student-experience/questions/question-elements/useAnswerState.ts
Due: felint

fix: remove unused bootstrap dependency
  frontend/package.json
  frontend/yarn.lock
Due: none

add endpoint to fetch published tests
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/testService.ts
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/components/teacher/session-creation/steps/ChooseAssessment.tsx
Due: felint, belint

fix: remove unused bootstrap dependency (#374)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update types to the matching version
  frontend/package.json
  frontend/yarn.lock
Due: none

Fix React 17 -> 18 discrepancies in code
  frontend/src/components/common/table/SearchBar.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/question-elements/CorrectedMultiOptionElements.tsx
  frontend/src/index.tsx
Due: felint

Upgrade react-router v5 to a version compatible with React 18
  frontend/package.json
  frontend/yarn.lock
Due: none

fix: complete react version upgrade (#376)
  frontend/package.json
  frontend/src/components/common/table/SearchBar.tsx
  frontend/src/components/teacher/results/StudentAnswersSection/question-elements/CorrectedMultiOptionElements.tsx
  frontend/src/index.tsx
  frontend/yarn.lock
Due: felint

fix: miscellaneous image bugs (#370)
  backend/server.ts
  backend/services/implementations/imageUploadService.ts
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
Due: felint, belint

fix: Copy `.cjs` files to `build/` directory after `yarn build`
  backend/package.json
  backend/postbuild.mjs
  backend/yarn.lock
Due: none

fix: Remove the need for `.cjs` extensions for library files
  backend/graphql/resolvers/entityResolvers.ts
  backend/graphql/resolvers/scalarResolvers.ts
  backend/lib/graphql-upload/graphqlUpload.cjs
  backend/lib/graphql-upload/graphqlUpload.d.cts
  backend/lib/graphql-upload/index.ts
  backend/server.ts
  backend/types/questionMetadataTypes.ts
Due: belint

fix: Add eslint rule to catch manual imports of `.cjs` files
  backend/.eslintrc.js
Due: belint

fix: Ignore build directory when using nodemon
  backend/nodemon.json
Due: none

fix: Lint ALL project files (not just `.ts`/`.js` files)
  backend/lib/.eslintrc.js
  backend/package.json
Due: belint

fix: crashing heroku deployment (#378)
  backend/.eslintrc.js
  backend/graphql/resolvers/entityResolvers.ts
  backend/graphql/resolvers/scalarResolvers.ts
  backend/lib/.eslintrc.js
  backend/lib/graphql-upload/graphqlUpload.cjs
  backend/lib/graphql-upload/graphqlUpload.d.cts
  backend/lib/graphql-upload/index.ts
  backend/nodemon.json
  backend/package.json
  backend/postbuild.mjs
  backend/server.ts
  backend/types/questionMetadataTypes.ts
  backend/yarn.lock
Due: belint

Test session codes should not have a space when copied
  frontend/src/components/common/Copyable.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
Due: felint

`Switch`es should only have routes as children
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
Due: felint

`onCompleted` should use the data it is provided
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
Due: felint

`key` props should be meaningful and unique
  frontend/src/components/admin/question-creation/question-elements/modals/multi-option/SelectOptionCount.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
Due: felint

Tabs should change immediately when clicked, not upon release
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
Due: felint

Fix modals not closing properly
  frontend/package.json
  frontend/yarn.lock
Due: none

Make short-answer input fully controlled
  frontend/src/components/admin/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
Due: felint

Fix invalid DOM-nesting
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
Due: felint

Standardize tab theming
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/themes/components/tabs.ts
  frontend/src/themes/index.ts
Due: felint

add table, search and filter components
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/components/common/navigation/FormBreadcrumb.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/components/teacher/session-creation/AssessmentsTable.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseAssessment.tsx
  frontend/src/themes/components/table.ts
Due: felint

fix: miscellaneous bugfixes (#379)
  frontend/package.json
  frontend/src/components/admin/question-creation/question-elements/modals/multi-option/SelectOptionCount.tsx
  frontend/src/components/admin/question-creation/question-elements/modals/short-answer/ShortAnswerModal.tsx
  frontend/src/components/common/Copyable.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/admin/AdminRouting.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/TeacherRouting.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
  frontend/src/themes/components/tabs.ts
  frontend/src/themes/index.ts
  frontend/yarn.lock
Due: felint
