Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: felint
        name: Lint frontend files
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh felint
    -   id: belint
        name: Lint backend files
        files: ^backend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh belint

final changes
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/common/Table.tsx
  frontend/src/components/user-management/AdminUserTable.tsx
  frontend/src/themes/components/button.ts
Due: felint

update push to staging
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

refactor code
  .github/workflows/heroku-deploy-dev-ts.yml
  .github/workflows/lint.yml
Due: none

fix syntax error
  backend/utilities/logger.ts
Due: belint

fix syntax of git command
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

changes
  frontend/src/components/common/Pagination.tsx
  frontend/src/themes/components/button.ts
Due: felint

fix
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

changes
  frontend/src/components/common/Table.tsx
  frontend/src/themes/components/button.ts
Due: felint

revert to main
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

final changes
  frontend/src/components/common/Pagination.tsx
  frontend/src/themes/components/button.ts
Due: felint

feat: Pagination on UserPage (#120)
  frontend/package.json
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/common/Table.tsx
  frontend/src/themes/components/button.ts
  frontend/yarn.lock
Due: felint

test change
  backend/middlewares/auth.ts
Due: belint

remove branch name
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

update procfile
  backend/Procfile
Due: none

trigger frontend deploy
  frontend/src/components/assessment-creation/AssessmentsTable.tsx
Due: felint

update CORS list
  backend/server.ts
Due: belint

set introspection to true
  backend/server.ts
Due: belint

update cors list
  .github/workflows/heroku-deploy-dev-ts.yml
  backend/server.ts
Due: belint

clean up node env
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  backend/graphql/resolvers/authResolvers.ts
  backend/server.ts
  backend/utilities/logger.ts
Due: belint

remove test changes
  backend/middlewares/auth.ts
  backend/server.ts
  frontend/package.json
  frontend/src/components/assessment-creation/AssessmentsTable.tsx
Due: felint, belint

test change
  frontend/src/components/assessment-creation/AssessmentsTable.tsx
Due: felint

add back flags
  frontend/package.json
  frontend/src/components/assessment-creation/AssessmentsTable.tsx
Due: felint

restore package.json
  frontend/package.json
Due: none

upgrade react-scripts
  frontend/package.json
  frontend/yarn.lock
Due: none

install stream-browserify
  frontend/package.json
  frontend/yarn.lock
Due: none

restore yarn files
  frontend/package.json
  frontend/yarn.lock
Due: none

revert package json
  frontend/package.json
Due: none

add missing lib
  frontend/package.json
Due: none

update node version for frontend container
  frontend/Dockerfile
Due: none

infra: setup staging deploy (#128)
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/heroku-deploy-dev-ts.yml
  .github/workflows/lint.yml
  backend/Procfile
  backend/server.ts
  frontend/.firebaserc
  frontend/.gitignore
  frontend/Dockerfile
  frontend/firebase.json
  frontend/package.json
  frontend/src/components/common/Pagination.tsx
Due: felint, belint

adding student selection
  frontend/src/assets/icons.tsx
  frontend/src/assets/images.ts
  frontend/src/components/auth/StudentLogin/StudentNameSelection.tsx
Due: felint

layout fix
  frontend/src/components/auth/StudentLogin/StudentNameSelection.tsx
Due: felint

add classroom modal
  frontend/src/components/pages/TeacherPage.tsx
  frontend/src/components/user-management/AddClassroomModal.tsx
  frontend/src/components/user-management/SelectFormInputClassroom.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint

added console logging in onSubmit
  frontend/src/components/user-management/AddClassroomModal.tsx
Due: felint

removed subject field in form
  frontend/src/components/pages/TeacherPage.tsx
  frontend/src/components/user-management/AddClassroomModal.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint

new page
  frontend/src/App.tsx
  frontend/src/components/pages/NameSelection.tsx
  frontend/src/constants/Routes.ts
Due: felint

pr review changes
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  frontend/src/components/auth/StudentLogin.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
Due: felint, belint

preliminary text input component w/o styling
  frontend/src/components/assessment-creation/ItemTypes.tsx
  frontend/src/components/assessment-creation/Playground.tsx
  frontend/src/components/assessment-creation/QuestionElement.tsx
  frontend/src/components/assessment-creation/TextInput.tsx
Due: felint

add valid drop area
  frontend/src/components/assessment-creation/CreateQuestionPage.tsx
  frontend/src/components/assessment-creation/Playground.tsx
  frontend/src/components/assessment-creation/QuestionElement.tsx
Due: felint

remove column component
  frontend/src/assets/icons.tsx
  frontend/src/components/assessment-creation/CreateQuestionSidebar.tsx
Due: felint
