Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

minor refactors
  backend/services/interfaces/authService.ts
  frontend/src/components/auth/FirebaseAction/FirebaseAction.tsx
  frontend/src/components/auth/FirebaseAction/FirebaseActionError.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/SignupConfirmation/AdminSignupConfirmation.tsx
Due: felint, belint

small refactors again
  frontend/src/components/auth/FirebaseAction/FirebaseAction.tsx
  frontend/src/components/auth/ResetPassword/index.tsx
  frontend/src/components/auth/SignupConfirmation/AdminSignupConfirmation.tsx
Due: felint

reorganize files
  frontend/src/components/auth/FirebaseAction/FirebaseAction.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/ResetPassword/ForgotPassword.tsx
  frontend/src/components/auth/ResetPassword/SetNewPassword.tsx
Due: felint

update test model
  backend/models/test.model.ts
Due: belint

remove points
  backend/models/test.model.ts
Due: belint

update service and tests
  backend/models/test.model.ts
  backend/models/testSession.model.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/tests.ts
Due: belint

refactor nav button text
  frontend/src/components/auth/Password/PasswordForm.tsx
  frontend/src/components/auth/ResetPassword/SetNewPassword.tsx
  frontend/src/components/auth/SignupConfirmation/AdminSignupConfirmation.tsx
  frontend/src/components/auth/TeacherSignup/NavigationButtons.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupThree.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/LoadingState.tsx
Due: felint

rename email action handler
  frontend/src/App.tsx
  frontend/src/components/auth/EmailAction/EmailActionError.tsx
  frontend/src/components/auth/EmailAction/EmailActionHandler.tsx
  frontend/src/components/auth/SignupConfirmation/AdminSignupConfirmation.tsx
  frontend/src/constants/Routes.ts
Due: felint

refactor forgot password outside login
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/ResetPassword/ForgotPassword.tsx
Due: felint

nit: rename
  frontend/src/components/auth/Login.tsx
Due: felint

remove space
  frontend/src/components/auth/Login.tsx
Due: felint

update empty string check
  frontend/src/components/auth/EmailAction/EmailActionHandler.tsx
  frontend/src/components/auth/SignupConfirmation/AdminSignupConfirmation.tsx
Due: felint

add error handling to services
  backend/graphql/index.ts
  backend/services/implementations/authService.ts
  backend/utilities/firebaseRestClient.ts
  frontend/src/components/auth/EmailAction/EmailActionHandler.tsx
  frontend/src/components/auth/SignupConfirmation/AdminSignupConfirmation.tsx
Due: felint, belint

creating initial table component
  frontend/src/components/common/Table.tsx
  frontend/src/components/user-management/AdminUserTable.tsx
  frontend/src/themes/typography.ts
Due: felint

add theme file
  frontend/src/components/common/Table.tsx
  frontend/src/components/user-management/AdminUserTable.tsx
  frontend/src/themes/components/table.ts
  frontend/src/themes/index.ts
  frontend/src/themes/typography.ts
Due: felint

consuming table data in table props
  frontend/src/components/common/Table.tsx
  frontend/src/components/user-management/AdminUserTable.tsx
Due: felint

complete table implementation
  frontend/src/components/user-management/AdminUserTable.tsx
Due: felint

cleanup
  frontend/src/components/common/Table.tsx
  frontend/src/components/user-management/AdminUserTable.tsx
Due: felint

cleanup
  frontend/src/components/user-management/AdminUserTable.tsx
Due: felint

feat: table component (#111)
  frontend/src/components/common/Table.tsx
  frontend/src/components/user-management/AdminUserTable.tsx
  frontend/src/themes/components/table.ts
  frontend/src/themes/index.ts
Due: felint

update file structure
  backend/services/implementations/authService.ts
  frontend/src/components/auth/AdminSignupConfirmation.tsx
  frontend/src/components/auth/EmailAction/EmailActionHandler.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupConfirmation.tsx
Due: felint, belint

refactor email action handler
  frontend/src/components/auth/EmailAction/EmailActionHandler.tsx
  frontend/src/components/auth/EmailAction/ResetPasswordHandler.tsx
  frontend/src/components/auth/EmailAction/VerifyEmailHandler.tsx
Due: felint

edit error handling
  frontend/src/components/auth/AdminSignupConfirmation.tsx
  frontend/src/components/auth/EmailAction/ResetPasswordHandler.tsx
  frontend/src/components/auth/EmailAction/VerifyEmailHandler.tsx
Due: felint

feat: customize email verification and reset password flows (#107)
  backend/graphql/index.ts
  backend/graphql/resolvers/authResolvers.ts
  backend/graphql/types/authType.ts
  backend/services/implementations/authService.ts
  backend/services/interfaces/authService.ts
  backend/utilities/firebaseRestClient.ts
  frontend/src/APIClients/mutations/AuthMutations.ts
  frontend/src/APIClients/queries/UserQueries.ts
  frontend/src/APIClients/types/UserClientTypes.ts
  frontend/src/App.tsx
  frontend/src/components/auth/AdminSignupConfirmation.tsx
  frontend/src/components/auth/AuthWrapper.tsx
  frontend/src/components/auth/EmailAction/EmailActionError.tsx
  frontend/src/components/auth/EmailAction/EmailActionHandler.tsx
  frontend/src/components/auth/EmailAction/ResetPasswordHandler.tsx
  frontend/src/components/auth/EmailAction/VerifyEmailHandler.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/Password/PasswordForm.tsx
  frontend/src/components/auth/Password/PasswordRequirement.tsx
  frontend/src/components/auth/ResetPassword.tsx
  frontend/src/components/auth/ResetPassword/ForgotPassword.tsx
  frontend/src/components/auth/ResetPassword/SetNewPassword.tsx
  frontend/src/components/auth/TeacherSignup/NavigationButtons.tsx
  frontend/src/components/auth/TeacherSignup/index.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupConfirmation.tsx
  frontend/src/components/auth/TeacherSignup/steps/TeacherSignupFour.tsx
  frontend/src/components/common/LoadingState.tsx
  frontend/src/components/common/MessageContainer.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/pages/TeacherPage.tsx
  frontend/src/components/user-management/AddAdminModal.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
  frontend/src/constants/Routes.ts
Due: felint, belint

abstracting search bar component
  frontend/src/components/common/SearchBar.tsx
  frontend/src/components/pages/AdminPage.tsx
Due: felint

creating wrapper component
  frontend/src/components/common/admin/AdminDashboard.tsx
  frontend/src/components/pages/AdminPage.tsx
Due: felint

create admin users component
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/user-management/AdminUsers.tsx
Due: felint

simplify type
  frontend/src/components/common/SortTablePopover.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/user-management/AdminUserTable.tsx
  frontend/src/components/user-management/AdminUsers.tsx
  frontend/src/types/UserTypes.ts
Due: felint

adding layout component
  frontend/src/App.tsx
  frontend/src/components/common/admin/AdminDashboard.tsx
  frontend/src/components/pages/AdminPage.tsx
Due: felint

remove component library
  frontend/src/App.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/constants/Routes.ts
Due: felint

add teacher table
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/user-management/TeacherUserTable.tsx
  frontend/src/types/UserTypes.ts
  frontend/yarn.lock
Due: felint

fix copy/paste error
  frontend/src/components/pages/AdminPage.tsx
Due: felint

basic admin routing
  frontend/src/App.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/common/admin/AdminDashboard.tsx
  frontend/src/constants/Routes.ts
Due: felint

minor fixes
  frontend/src/App.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
Due: felint

update naming
  backend/models/test.model.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testService.ts
Due: belint

404 page
  frontend/src/App.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/constants/Routes.ts
Due: felint

feat: admin dashboard (#114)
  frontend/src/App.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/pages/AdminPage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/constants/Routes.ts
Due: felint

abstracting search bar component
  frontend/src/components/common/SearchBar.tsx
Due: felint

update resolver for question component
  backend/graphql/resolvers/testResolvers.ts
  backend/models/test.model.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/tests.ts
Due: belint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
