Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

feat: Mobile Redirect Message (#220)
  frontend/src/App.tsx
  frontend/src/assets/illustrations/mobile-redirect.svg
  frontend/src/components/common/MessageContainer.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/MobileRedirect.tsx
Due: felint

backend: Update Teacher Model to Include Class Field (#216)
  backend/graphql/resolvers/classResolvers.ts
  backend/models/class.model.ts
  backend/models/user.model.ts
  backend/services/implementations/userService.ts
  backend/types.ts
Due: belint

refactor again
  backend/graphql/index.ts
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/imageUploadService.ts
  backend/services/implementations/testService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/imageUploadService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/imageStorage.ts
  backend/testUtils/tests.ts
  backend/types/questionMetadataTypes.ts
  backend/types/questionTypes.ts
  frontend/src/APIClients/mutations/TestMutations.ts
Due: felint, belint

clean up
  backend/graphql/resolvers/testResolvers.ts
  backend/middlewares/validators/testValidators.ts
  backend/services/implementations/__tests__/imageStorageService.test.ts
  backend/services/implementations/imageUploadService.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/imageUploadService.ts
  backend/testUtils/imageStorage.ts
  backend/types/questionMetadataTypes.ts
Due: belint

add error handling
  backend/middlewares/validators/testValidators.ts
  backend/models/test.model.ts
  backend/services/implementations/imageUploadService.ts
  backend/services/implementations/testService.ts
  backend/types/questionTypes.ts
Due: belint

first draft
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/types/index.ts
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/assets/icons.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/question-creation/QuestionElementItem.tsx
  frontend/src/components/question-creation/QuestionSidebarItem.tsx
  frontend/src/components/question-creation/question-elements/ImageElement.tsx
  frontend/src/components/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/types/QuestionMetadataTypes.ts
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint, belint

fix merge conflicts
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/types/index.ts
Due: belint

fix backend
  backend/services/implementations/testService.ts
  backend/testUtils/imageStorage.ts
Due: belint

init
  backend/graphql/index.ts
  backend/graphql/resolvers/userResolvers.ts
  backend/graphql/types/userType.ts
Due: belint

init
  backend/types.ts
Due: belint

removed comments
  backend/graphql/index.ts
Due: belint

fix: Remove Unnecessary Class Import (#222)
  backend/types.ts
Due: belint

fix image path
  backend/services/implementations/__tests__/imageUploadService.test.ts
  backend/services/implementations/imageUploadService.ts
  backend/testUtils/imageUpload.ts
  backend/testUtils/tests.ts
Due: belint

fix upload folder
  backend/services/implementations/__tests__/imageUploadService.test.ts
  backend/services/implementations/imageUploadService.ts
  backend/testUtils/imageUpload.ts
Due: belint

rename mock values
  backend/services/implementations/__tests__/testService.test.ts
  backend/testUtils/tests.ts
Due: belint

refactor
  backend/testUtils/imageUpload.ts
Due: belint

refactor type
  frontend/src/types/QuestionMetadataTypes.ts
Due: felint

rename
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/components/question-creation/QuestionElementItem.tsx
  frontend/src/components/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/types/QuestionMetadataTypes.ts
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

fix naming
  frontend/src/components/question-creation/question-elements/ImageElement.tsx
Due: felint

first draft
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/components/assessments/assessment-creation/BasicInformation.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessementButton.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/assessments/assessment-status/EditStatusPopover.tsx
  frontend/src/components/common/table/EmptyTableState.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/constants/Routes.ts
  frontend/src/types/QuestionMetadataTypes.ts
  frontend/src/utils/GeneralUtils.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint, belint

moved deleting sub doc logic to model
  backend/graphql/resolvers/userResolvers.ts
  backend/models/user.model.ts
  backend/services/implementations/__tests__/userService.test.ts
Due: belint

removed unnecessary imports
  backend/graphql/resolvers/userResolvers.ts
Due: belint

using to calculate mean
  backend/services/implementations/statisticService.ts
Due: belint

removing sumTestSubmission
  backend/services/implementations/statisticService.ts
  backend/utilities/pipelineQueryUtils.ts
Due: belint

first draft
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/services/implementations/imageUploadService.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/imageUploadService.ts
  backend/testUtils/imageUpload.ts
  backend/types/questionMetadataTypes.ts
  backend/types/questionTypes.ts
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/components/assessments/assessment-creation/AssessementEditorHeader.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessementButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/EditButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/PublishButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/ArchiveModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DeleteModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DuplicateModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/UnarchiveModal.tsx
  frontend/src/components/common/table/EmptyTableState.tsx
  frontend/src/components/pages/admin/AssessmentEditorPage.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/constants/Routes.ts
  frontend/src/types/QuestionMetadataTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint, belint

adding getMedianScoreBytest
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/utilities/pipelineQueryUtils.ts
Due: belint

simplifying getMeanScoreByTest tests
  backend/services/implementations/__tests__/statisticService.test.ts
Due: belint

fix image upload / retrieval
  backend/graphql/types/testType.ts
  backend/services/implementations/imageUploadService.ts
  backend/testUtils/tests.ts
  frontend/src/components/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/utils/QuestionUtils.ts
Due: felint, belint

add error handling
  frontend/src/components/assessments/assessment-status/EditStatusButtons/EditButton.tsx
Due: felint

getTestSessionByTeacherId resolver and query
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
Due: belint

testSessionByTeacherId query
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/components/pages/student/StudentLoginPage.tsx
Due: felint

rename types
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/services/implementations/imageUploadService.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/imageUploadService.ts
  backend/testUtils/imageUpload.ts
  backend/testUtils/tests.ts
  backend/types/questionMetadataTypes.ts
  backend/types/questionTypes.ts
Due: belint

refactor image test utils
  backend/testUtils/imageUpload.ts
Due: belint

fix metadata types
  backend/types/questionMetadataTypes.ts
Due: belint

fix image test utils again
  backend/testUtils/imageUpload.ts
Due: belint

change error message
  backend/services/implementations/imageUploadService.ts
Due: belint

update image preview metadata
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/components/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/types/QuestionMetadataTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

fix imports
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

get class by teacher
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
Due: felint, belint

roundTwoDecimal helper function
  backend/services/implementations/statisticService.ts
  backend/services/implementations/testSessionService.ts
  backend/utilities/generalUtils.ts
Due: belint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
