Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

fix errors
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/App.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessementButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/PublishButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DeleteModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DuplicateModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/PublishModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/UnarchiveModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusPopover.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/constants/Routes.ts
  frontend/src/types/QuestionMetadataTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint, belint

add new files
  frontend/src/components/assessments/assessment-status/EditStatusButtons/EditButton.tsx
  frontend/src/components/pages/admin/AssessmentPage.tsx
Due: felint

removed warning
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/components/common/WarningToast.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/components/user-management/student/SelectFormInputClassroom.tsx
Due: felint

removed response
  frontend/src/components/user-management/student/AddClassroomModal.tsx
Due: felint

removed one last console log
  frontend/src/components/user-management/student/SelectFormInputClassroom.tsx
Due: felint

removed warning toast file
  frontend/src/components/common/WarningToast.tsx
Due: felint

changed onSubmit
  frontend/src/components/user-management/student/AddClassroomModal.tsx
Due: felint

removed onError
  frontend/src/components/user-management/student/AddClassroomModal.tsx
Due: felint

removed testSessions from tests
  backend/services/implementations/classService.ts
  backend/testUtils/class.ts
Due: belint

made some small adjustments to classService
  backend/services/implementations/classService.ts
Due: belint

handle typename field
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/components/pages/admin/AssessmentPage.tsx
  frontend/src/utils/QuestionUtils.ts
Due: felint

create student mutation
  backend/graphql/resolvers/classResolvers.ts
  frontend/src/APIClients/mutations/ClassClientMutations.ts
Due: felint, belint

Update the model and testService to have FractionMetadata
  backend/models/test.model.ts
  backend/services/interfaces/testService.ts
Due: belint

Update computeTestGrades in testSessionService to mark the student’s fraction answers against the correct answers
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
Due: belint

Updated testsessionmodel
  backend/models/testSession.model.ts
Due: belint

Update questionsValidator to validate fraction type
  backend/middlewares/validators/testValidators.ts
Due: belint

adding getSubmissionCountByTest
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/services/interfaces/statisticService.ts
Due: belint

mutation: Create Student Mutation (#210)
  backend/graphql/resolvers/classResolvers.ts
  frontend/src/APIClients/mutations/ClassClientMutations.ts
Due: felint, belint

test submission count review changes
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/services/interfaces/statisticService.ts
  backend/utilities/pipelineQueryUtils.ts
Due: belint

Update testType
  backend/graphql/types/testType.ts
Due: belint

Update resolvers
  backend/graphql/resolvers/testResolvers.ts
Due: belint

Update switch statement of test resolver
  backend/graphql/resolvers/testResolvers.ts
Due: belint

addressed pr comments
  backend/testUtils/class.ts
  frontend/src/components/user-management/student/AddClassroomModal.tsx
Due: felint, belint

initial commit
  frontend/src/App.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/auth/student-login/StudentLogin.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/NameSelectionPage.tsx
  frontend/src/components/pages/student/StudentDashboard.tsx
  frontend/src/constants/Routes.ts
  frontend/src/contexts/AuthContext.ts
  frontend/src/types/AuthTypes.ts
Due: felint

fix student dashboard
  frontend/src/App.tsx
  frontend/src/components/pages/student/StudentDashboard.tsx
Due: felint

Fixed test service
  backend/services/implementations/testSessionService.ts
Due: belint

Added test cases
  backend/testUtils/statistics.ts
  backend/testUtils/testSession.ts
  backend/testUtils/tests.ts
Due: belint

finish auth context logic
  frontend/src/App.tsx
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/pages/student/StudentDashboard.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/constants/Routes.ts
  frontend/src/types/AuthTypes.ts
Due: felint

updated auth typing
  frontend/src/App.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/contexts/AuthContext.ts
  frontend/src/types/AuthTypes.ts
Due: felint

cleanup
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
Due: felint

add student number field
  frontend/src/types/AuthTypes.ts
Due: felint

fix
  frontend/src/components/user-management/admin/AdminUserTable.tsx
  frontend/src/types/AuthTypes.ts
Due: felint

added additional assertions to getClassById
  backend/services/implementations/__tests__/classService.test.ts
  backend/testUtils/class.ts
Due: belint

added square brackets
  backend/testUtils/class.ts
Due: belint

made changes to assert test session in assertResponseMatchesExpected
  backend/services/implementations/__tests__/classService.test.ts
  backend/testUtils/class.ts
Due: belint

feat: create classroom using mutation from create classroom modal (#196)
  backend/graphql/types/classType.ts
  backend/models/class.model.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/pages/teacher/TeacherPage.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
Due: felint, belint

feat: student dashboard routing (#213)
  frontend/src/App.tsx
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentDashboard.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/components/user-management/admin/AdminUserTable.tsx
  frontend/src/constants/Routes.ts
  frontend/src/types/AuthTypes.ts
Due: felint

replaced with MessageContainer - but with the image problem
  frontend/src/components/common/MessageContainer.tsx
  frontend/src/components/common/table/EmptyTableState.tsx
Due: felint

fixed image problem
  frontend/src/components/common/IllustrationWrapper.tsx
  frontend/src/components/common/MessageContainer.tsx
  frontend/src/components/common/table/EmptyTableState.tsx
  frontend/src/components/user-management/admin/AddAdminConfirmationMessage.tsx
Due: felint

initial commit
  frontend/src/App.tsx
  frontend/src/components/auth/PrivateRoute.tsx
  frontend/src/components/pages/student/NameSelectionPage.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/contexts/AuthContext.ts
  frontend/src/types/AuthTypes.ts
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
