Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: felint
        name: Lint frontend files
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh felint
    -   id: belint
        name: Lint backend files
        files: ^backend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh belint

refactor mock tests
  backend/services/implementations/__tests__/testService.test.ts
  backend/testUtils/tests.ts
Due: belint

refactor names
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/testUtils/testSession.ts
  backend/testUtils/tests.ts
Due: belint

first draft
  backend/models/test.model.ts
  backend/services/implementations/__tests__/imageStorageService.test.ts
  backend/services/implementations/imageUploadService.ts
  backend/services/interfaces/imageUploadService.ts
  backend/testUtils/imageStorage.ts
  backend/testUtils/imageUpload.ts
Due: belint

Revert "refactor mock tests"
  backend/services/implementations/__tests__/testService.test.ts
  backend/testUtils/tests.ts
Due: belint

Revert "Revert "refactor mock tests""
  backend/services/implementations/__tests__/testService.test.ts
  backend/testUtils/tests.ts
Due: belint

add unit test
  backend/services/implementations/__tests__/imageUploadService.test.ts
Due: belint

remove import
  backend/services/implementations/imageUploadService.ts
Due: belint

Update backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/__tests__/testService.test.ts
Due: belint

add unit test
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
Due: belint

add new type
  backend/testUtils/testSession.ts
Due: belint

first commit
  backend/models/testSession.model.ts
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
Due: belint

fix merge conflict
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
Due: belint

backend: Compute Test Median (#225)
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/statisticService.ts
  backend/testUtils/testSession.ts
  backend/utilities/generalUtils.ts
Due: belint

backend: testSessionByTeacherId Resolver and Query (#226)
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/components/pages/student/StudentLoginPage.tsx
Due: felint, belint

add dynamic filter options
  frontend/src/components/assessments/assessment-creation/BasicInformation.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/constants/CreateAssessmentConstants.ts
  frontend/src/utils/GeneralUtils.ts
Due: felint

description updates
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
Due: belint

unit tests
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/testUtils/class.ts
Due: belint

feat: populate assessment summary page (#215)
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  frontend/src/APIClients/queries/SchoolQueries.ts
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/components/assessments/assessment-status/EditStatusButtons/PublishButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/ArchiveModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DeleteModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DuplicateModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/UnarchiveModal.tsx
  frontend/src/components/assessments/student-experience/AssessmentInfo.tsx
  frontend/src/components/assessments/student-experience/AssessmentRules.tsx
  frontend/src/components/assessments/student-experience/QuestionTypeImages.tsx
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupTwo.tsx
  frontend/src/components/common/ErrorState.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/student/AssessmentSummaryPage.tsx
  frontend/src/components/pages/student/StudentDashboard.tsx
  frontend/src/components/pages/student/StudentLoginPage.tsx
  frontend/src/constants/StudentAssessmentConstants.ts
  frontend/src/contexts/StudentContext.ts
Due: felint, belint

remove unused import
  backend/graphql/resolvers/testResolvers.ts
Due: belint

feat: refactor publishTest and archiveTest (#233)
  backend/graphql/resolvers/testResolvers.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/tests.ts
Due: belint

sharing secrets with dependabot
  .github/workflows/deploy-preview.yml
Due: none

remove null
  backend/models/testSession.model.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
Due: belint

refactor code
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/testUtils/testSession.ts
  backend/utilities/generalUtils.ts
Due: belint

rename function
  backend/services/implementations/testSessionService.ts
  backend/utilities/generalUtils.ts
Due: belint

add missing colon
  backend/utilities/generalUtils.ts
Due: belint

fix: refactor getCorrectAnswer (#236)
  backend/models/testSession.model.ts
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
  backend/utilities/generalUtils.ts
Due: belint

share secrets for heroku
  .github/workflows/heroku-deploy-dev-ts.yml
Due: none

added all 5 question component types
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/components/assessments/assessment-creation/DisplayQuestion.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/themes/components/checkbox.ts
  frontend/src/themes/components/radio.ts
Due: felint

refactor admin tables
  frontend/src/components/assessments/assessment-creation/BasicInformation.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/constants/CreateAssessmentConstants.ts
  frontend/src/utils/AssessmentUtils.ts
  frontend/src/utils/GeneralUtils.ts
  frontend/src/utils/UserUtils.ts
Due: felint

better looking test
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
Due: belint

fix imports
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
Due: felint

backend: fetch classes by teacher (#227)
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/components/auth/student-login/NameSelection.tsx
Due: felint, belint

fix select option types
  frontend/src/components/assessments/assessment-creation/BasicInformation.tsx
  frontend/src/components/auth/student-login/NameSelection.tsx
  frontend/src/types/SelectInputTypes.ts
  frontend/src/utils/AssessmentUtils.ts
Due: felint

Create dependabot.yml
  .github/dependabot.yml
Due: none

randomize with new function
  frontend/src/components/user-management/admin/AddAdminModal.tsx
  frontend/src/utils/GeneralUtils.ts
Due: felint

fix length
  frontend/src/components/user-management/admin/AddAdminModal.tsx
Due: felint

test
  .github/workflows/deploy-preview.yml
Due: none

revert change
  .github/workflows/deploy-preview.yml
Due: none

add new component
  frontend/src/assets/icons.tsx
  frontend/src/components/assessments/assessment-creation/AddQuestionButton.tsx
  frontend/src/components/common/FormRadio.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/teacher/classroom/ClassroomCard.tsx
  frontend/src/themes/index.ts
Due: felint
