Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

feat: save question editor data (#173)
  frontend/src/components/assessments/assessment-creation/AddQuestionButton.tsx
  frontend/src/components/assessments/assessment-creation/AssessmentQuestions.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessementButton.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/assessments/assessment-creation/QuestionCard.tsx
  frontend/src/components/assessments/assessment-creation/QuestionSummary.tsx
  frontend/src/components/assessments/assessment-creation/QuestionTag.tsx
  frontend/src/components/common/QuestionTypeImages.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/pages/admin/QuestionPage.tsx
  frontend/src/components/pages/student/StudentAssessment.tsx
  frontend/src/components/question-creation/QuestionEditor.tsx
  frontend/src/components/question-creation/QuestionSidebar.tsx
  frontend/src/components/question-creation/QuestionSidebarItem.tsx
  frontend/src/components/question-creation/QuestionWorkspace.tsx
  frontend/src/components/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/components/question-creation/question-elements/ShortAnswerElement.tsx
  frontend/src/constants/Routes.ts
  frontend/src/constants/StudentAssessmentConstants.ts
  frontend/src/constants/TestConstants.ts
  frontend/src/contexts/QuestionEditorContext.ts
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/GeneralUtils.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint

add missing folder
  frontend/src/components/assessments/AssessmentsTable.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/DeleteButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/DuplicateButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/PublishButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/ArchiveModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DeleteModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DuplicateModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/PublishModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusPopover.tsx
  frontend/src/components/assessments/assessment-status/StatusTag.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
Due: felint

renaming routes
  frontend/src/App.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessementButton.tsx
  frontend/src/components/auth/AdminSignupConfirmation.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/reset-password/SetNewPassword.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupConfirmation.tsx
  frontend/src/components/pages/Landing.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/pages/student/StudentAssessment.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
  frontend/src/constants/Routes.ts
Due: felint

chore: add folder & renaming routes (#183)
  frontend/src/App.tsx
  frontend/src/components/assessments/AssessmentsTable.tsx
  frontend/src/components/assessments/assessment-creation/CreateAssessementButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/DeleteButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/DuplicateButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/PublishButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/ArchiveModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DeleteModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/DuplicateModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/PublishModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusPopover.tsx
  frontend/src/components/assessments/assessment-status/StatusTag.tsx
  frontend/src/components/auth/AdminSignupConfirmation.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/reset-password/SetNewPassword.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignUpOne.tsx
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupConfirmation.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/Landing.tsx
  frontend/src/components/pages/admin/AdminDashboard.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/pages/student/StudentAssessment.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
  frontend/src/constants/Routes.ts
Due: felint

made changes according to pr comments
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
Due: belint

added assertResponseStudentsMatchesExpected
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/testUtils/class.ts
Due: belint

addressed pr comments
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
Due: belint

added an additional comment to delete student interface
  backend/services/interfaces/classService.ts
Due: belint

backend: Class Service (#165)
  backend/models/class.model.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
Due: belint

updated queries to check status
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/services/implementations/testService.ts
  backend/services/interfaces/testService.ts
  frontend/src/APIClients/queries/TestQueries.ts
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
Due: felint, belint

remove deleted tests
  backend/services/implementations/testService.ts
Due: belint

added AssessmentStatus.Deleted
  backend/services/implementations/testService.ts
Due: belint

backend: Remove Deleted Tests (#185)
  backend/services/implementations/testService.ts
Due: belint

create student resolver
  backend/graphql/resolvers/classResolvers.ts
Due: belint

extra typing
  backend/graphql/index.ts
  backend/graphql/types/classType.ts
Due: belint

authorized by teacher and admin
  backend/graphql/index.ts
Due: belint

backend: Create Resolver to Create Student (#186)
  backend/graphql/index.ts
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
Due: belint

mutation: add archive test mutation (#177)
  frontend/src/APIClients/mutations/TestMutations.ts
Due: felint

fix class type
  backend/graphql/index.ts
  backend/graphql/types/classType.ts
Due: belint

fix class type (#188)
  backend/graphql/index.ts
  backend/graphql/types/classType.ts
Due: belint

fixed bug
  frontend/src/components/auth/Login.tsx
  frontend/src/components/common/table/SortMenu.tsx
Due: felint

fixed other files
  frontend/src/components/auth/Login.tsx
Due: felint

changes
  frontend/src/components/common/table/SortMenu.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
Due: felint

fix assessments table sort (#189)
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
Due: felint

added imports
  backend/graphql/resolvers/classResolvers.ts
Due: belint

made some changes
  backend/graphql/types/classType.ts
Due: belint

some bug fixes
  backend/graphql/types/classType.ts
Due: belint

made a change to classService to await return
  backend/graphql/index.ts
  backend/services/implementations/classService.ts
Due: belint

feat: add multi select element (#174)
  frontend/package-lock.json
  frontend/src/components/question-creation/QuestionEditor.tsx
  frontend/src/components/question-creation/QuestionElementItem.tsx
  frontend/src/components/question-creation/QuestionSidebarItem.tsx
  frontend/src/components/question-creation/question-elements/MultiOptionElement.tsx
  frontend/src/components/question-creation/question-elements/MultipleChoiceElement.tsx
  frontend/src/components/question-creation/question-elements/modals/ResponseTypeModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-option/AddMultiOptionModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-option/EditMultiOptionModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-option/MultiOption.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-option/MultiOptionModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-option/SelectOptionCount.tsx
  frontend/src/contexts/QuestionEditorContext.ts
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/QuestionUtils.ts
  frontend/yarn.lock
Due: felint

lint
  frontend/src/components/assessments/assessment-creation/QuestionSummary.tsx
Due: felint

question card fixes
  frontend/src/components/assessments/assessment-creation/AddQuestion.tsx
Due: felint

add question frontend
  frontend/src/components/assessments/assessment-creation/AddQuestion.tsx
Due: felint

addressing pr comments
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/question-creation/QuestionWorkspace.tsx
Due: felint

delete unused file
  frontend/src/components/assessments/assessment-creation/AddQuestionCard.tsx
Due: felint

render question cards based on data
  frontend/src/components/assessments/assessment-creation/AddQuestionCard.tsx
Due: felint

Add response element type as subset of question element type
  frontend/src/components/question-creation/QuestionWorkspace.tsx
Due: felint

some error validation
  frontend/src/components/question-creation/QuestionSidebar.tsx
Due: felint

add button
  frontend/src/components/question-creation/QuestionSidebar.tsx
Due: felint

fixes
  frontend/src/components/assessments/assessment-creation/QuestionSummary.tsx
Due: felint

remove unused imports
  frontend/src/components/question-creation/QuestionEditor.tsx
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
