Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

felint:
  name: Lint frontend files
  language: system
  entry: ./scripts/lint.sh felint

belint:
  name: Lint backend files
  language: system
  entry: ./scripts/lint.sh belint

update radio button widths
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/ChooseFractionTypeModal.tsx
  frontend/src/themes/components/radio.ts
Due: felint

fix: student experience design fixes (#531)
  frontend/src/components/student/NavButtons.tsx
  frontend/src/components/student/QuestionTypeImages.tsx
  frontend/src/components/student/SubmitButton.tsx
  frontend/src/components/student/questions/Question.tsx
  frontend/src/utils/StudentUtils.ts
Due: felint

pr comments: rename toast to hook
  frontend/src/components/admin/assessment-status/EditStatusButtons/ArchiveButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/DeleteButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/EditButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/PublishButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusModals/DuplicateModal.tsx
  frontend/src/components/admin/assessment-status/EditStatusModals/UnarchiveModal.tsx
  frontend/src/components/admin/user-management/RemoveUserModal.tsx
  frontend/src/components/auth/ResendEmail.tsx
  frontend/src/components/common/info/useToast.tsx
  frontend/src/components/student/SubmitButton.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentButton.tsx
  frontend/src/components/teacher/student-management/AddStudentModal.tsx
  frontend/src/components/teacher/student-management/classroom-summary/AddClassroomModal.tsx
  frontend/src/components/teacher/student-management/classroom-summary/AddOrEditClassroomModal.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
Due: felint

pr comments: only generate access code when assessment distribution is confirmed
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentButton.tsx
Due: felint

clean up logic
  frontend/src/components/admin/question-creation/question-elements/modals/fraction/ChooseFractionTypeModal.tsx
Due: felint

feat: add missing modal
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentButton.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentModal.tsx
Due: felint

pr comments: add try catch
  frontend/src/components/teacher/session-creation/DistributeAssessmentButton.tsx
Due: felint

LINTER PLEASE
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
Due: felint

linter plz
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
Due: felint

linter plz
  frontend/src/components/common/info/Toast.tsx
Due: felint

Delete Toast.tsx
  frontend/src/components/common/info/Toast.tsx
Due: felint

fix import
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
Due: felint

fix: move access code generation to server side
  backend/graphql/types/testSessionType.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
  backend/utilities/generalUtils.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/teacher/session-creation/DistributeAssessmentButton.tsx
  frontend/src/utils/TestSessionUtils.ts
Due: felint, belint

feat: distribute assessment submission (#478)
  backend/graphql/types/testSessionType.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
  backend/utilities/generalUtils.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/admin/assessment-status/EditStatusButtons/ArchiveButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/DeleteButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/EditButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusButtons/PublishButton.tsx
  frontend/src/components/admin/assessment-status/EditStatusModals/DuplicateModal.tsx
  frontend/src/components/admin/assessment-status/EditStatusModals/UnarchiveModal.tsx
  frontend/src/components/admin/user-management/RemoveUserModal.tsx
  frontend/src/components/auth/ResendEmail.tsx
  frontend/src/components/common/info/useToast.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/student/SubmitButton.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentButton.tsx
  frontend/src/components/teacher/session-creation/DistributeAssessmentModal.tsx
  frontend/src/components/teacher/student-management/AddStudentModal.tsx
  frontend/src/components/teacher/student-management/classroom-summary/AddClassroomModal.tsx
  frontend/src/components/teacher/student-management/classroom-summary/AddOrEditClassroomModal.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
  frontend/src/utils/TestSessionUtils.ts
Due: felint, belint

Extract hook for class-card data
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/teacher/student-management/classroom-summary/useClassDataQuery.ts
Due: felint

Add `thin` variant to classroom card
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomCard.tsx
Due: felint

Add classroom section for dashboard page
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/teacher/dashboard/ClassroomsSection.tsx
Due: felint

PR feedback: rename thin prop
  frontend/src/components/teacher/dashboard/ClassroomsSection.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomCard.tsx
Due: felint

Support limit option on backend
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  frontend/src/APIClients/queries/ClassQueries.ts
Due: felint, belint

PR feedback: sort by updatedAt
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/resolvers/scalarResolvers.ts
  backend/graphql/types/classType.ts
  backend/graphql/types/scalarType.ts
  backend/models/class.model.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/types/index.ts
  backend/utilities/generalUtils.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/components/teacher/dashboard/ClassroomsSection.tsx
  frontend/src/components/teacher/student-management/classroom-summary/useClassDataQuery.ts
Due: felint, belint

Update backend/utilities/generalUtils.ts
  backend/utilities/generalUtils.ts
Due: belint

Fix failing test
  backend/services/implementations/classService.ts
Due: belint

PR feedback: clean up empty state
  frontend/src/components/common/info/messages/EmptyClassroomsGoToPage.tsx
  frontend/src/components/common/info/messages/EmptyClassroomsMessage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/teacher/dashboard/ClassroomsSection.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
Due: felint

Update backend/services/interfaces/classService.ts
  backend/services/interfaces/classService.ts
Due: belint

PR feedback: filter out archived classes
  backend/graphql/types/classType.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  frontend/src/components/teacher/dashboard/ClassroomsSection.tsx
  frontend/src/components/teacher/student-management/classroom-summary/useClassDataQuery.ts
Due: felint, belint

(1) add classroom section component for teacher dashboard (#491)
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/resolvers/scalarResolvers.ts
  backend/graphql/types/classType.ts
  backend/graphql/types/scalarType.ts
  backend/models/class.model.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/types/index.ts
  backend/utilities/generalUtils.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/components/common/info/messages/EmptyClassroomsGoToPage.tsx
  frontend/src/components/common/info/messages/EmptyClassroomsMessage.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/teacher/dashboard/ClassroomsSection.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomCard.tsx
  frontend/src/components/teacher/student-management/classroom-summary/useClassDataQuery.ts
Due: felint, belint

Extract hook for assessment data
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/teacher/view-sessions/useAssessmentDataQuery.ts
Due: felint

Support limit option on backend
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
Due: felint, belint

Add assessment section for dashboard page
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
Due: felint

(2) add assessment section component for teacher dashboard (#492)
  backend/graphql/resolvers/testSessionResolvers.ts
  backend/graphql/types/testSessionType.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
  frontend/src/components/teacher/view-sessions/useAssessmentDataQuery.ts
Due: felint, belint

Fix popover component to better match designs
  frontend/src/components/common/popover/Popover.tsx
Due: felint

Add generic popover for simple cases
  frontend/src/components/common/popover/SimplePopover.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/teacher/student-management/view-students/AddClassroomOrStudentPopover.tsx
Due: felint

Add teacher dashboard header
  frontend/src/components/pages/teacher/TeacherDashboardPage.tsx
Due: felint

Add dashboard sections to page
  frontend/src/components/pages/teacher/TeacherDashboardPage.tsx
Due: felint

PR feedback: rename `openAddClassroomModal` -> `isAddClassroomModalOpen`
  frontend/src/components/common/info/messages/EmptyClassroomsGoToPage.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/TeacherDashboardPage.tsx
Due: felint

Auto-open add classroom modal
  frontend/src/components/common/info/messages/EmptyClassroomsGoToPage.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/TeacherDashboardPage.tsx
Due: felint

filter out completed students
  backend/services/implementations/classService.ts
Due: belint

PR feedback: map over section config
  frontend/src/components/pages/teacher/TeacherDashboardPage.tsx
Due: felint

Remove unused file
  frontend/src/components/teacher/student-management/classroom-summary/AddClassroomModal.tsx
Due: felint

feat: add teacher dashboard (#493)
  frontend/src/components/common/info/messages/EmptyClassroomsGoToPage.tsx
  frontend/src/components/common/popover/Popover.tsx
  frontend/src/components/common/popover/SimplePopover.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/pages/teacher/TeacherDashboardPage.tsx
  frontend/src/components/teacher/student-management/view-students/AddClassroomOrStudentPopover.tsx
Due: felint

Path conditions:
  felint: any of: ^frontend/.*\.[jt]sx?$
  belint: any of: ^backend/.*\.[jt]sx?$
