Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: felint
        name: Lint frontend files
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh felint
    -   id: belint
        name: Lint backend files
        files: ^backend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh belint

pr comments: add tests & remove dead code
  backend/services/implementations/__tests__/schoolService.test.ts
  frontend/src/components/auth/teacher-signup/index.tsx
Due: felint, belint

feat: query for school by teacher id (#544)
  backend/graphql/resolvers/schoolResolvers.ts
  backend/graphql/types/schoolType.ts
  backend/services/implementations/__tests__/schoolService.test.ts
  backend/services/implementations/schoolService.ts
  backend/services/interfaces/schoolService.ts
  frontend/src/APIClients/queries/SchoolQueries.ts
  frontend/src/components/admin/user-management/admin/AdminUserTable.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/teacher-signup/index.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/types/AuthTypes.ts
Due: felint, belint

PR feedback: add status enum
  backend/testUtils/testSession.ts
  backend/utilities/testSessionUtils.ts
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
  frontend/src/types/TestSessionTypes.ts
Due: felint, belint

feat: add new preview question modal
  frontend/src/assets/icons.tsx
  frontend/src/components/admin/assessment-creation/PreviewQuestionModal.tsx
  frontend/src/components/admin/question-creation/QuestionEditor.tsx
  frontend/src/components/admin/question-creation/QuestionSidebar.tsx
  frontend/src/contexts/QuestionEditorContext.ts
Due: felint

PR feedback: add test
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
Due: belint

PR feedback: use useDisclosure
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
Due: felint

PR feedback: divider, callback, and queryname fixes
  frontend/src/App.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
Due: felint

PR feedback: add feature flag code to disable archiving
  frontend/src/checkFeatureFlag.ts
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint

feat: archiving + archived classrooms (#547)
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/App.tsx
  frontend/src/checkFeatureFlag.ts
  frontend/src/components/common/modal/Modal.tsx
  frontend/src/components/pages/ComponentLibrary.tsx
  frontend/src/components/pages/teacher/ClassroomsPage.tsx
  frontend/src/components/teacher/dashboard/ClassroomsSection.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomCard.tsx
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
  frontend/src/components/teacher/student-management/classroom-summary/DeleteClassroomModal.tsx
  frontend/src/types/ClassroomTypes.tsx
Due: felint

Add mutation for deleting students
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  frontend/src/APIClients/mutations/ClassMutations.ts
Due: felint, belint

Add student deletion action to popover button
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomStudentsPage.tsx
  frontend/src/components/teacher/student-management/view-students/EditStudentPopover.tsx
  frontend/src/components/teacher/student-management/view-students/StudentsTable.tsx
Due: felint

Disable deletion/editing of students from inactive classes
  backend/services/implementations/classService.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomStudentsPage.tsx
  frontend/src/components/teacher/student-management/view-students/StudentsTable.tsx
Due: felint, belint

PR feedback: Remove unnecessary string references
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
  frontend/src/components/teacher/student-management/classroom-summary/useClassDataQuery.ts
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
  frontend/src/types/TestSessionTypes.ts
  frontend/src/utils/TestSessionUtils.ts
Due: felint

fix: test session limiting and sorting on dashboard (#546)
  backend/graphql/types/scalarType.ts
  backend/graphql/types/testSessionType.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  backend/testUtils/testSession.ts
  backend/utilities/testSessionUtils.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/pages/teacher/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/teacher/dashboard/AssessmentsSection.tsx
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
  frontend/src/components/teacher/student-management/classroom-summary/useClassDataQuery.ts
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
  frontend/src/components/teacher/view-sessions/useAssessmentDataQuery.ts
  frontend/src/types/TestSessionTypes.ts
  frontend/src/utils/TestSessionUtils.ts
Due: felint, belint

only delete upcoming test sessions
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
Due: felint, belint

remove popover for past test sessions
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
Due: felint

update interface
  backend/services/interfaces/testSessionService.ts
Due: belint

delete user code
  backend/graphql/index.ts
  backend/graphql/resolvers/userResolvers.ts
  backend/graphql/types/userType.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/services/implementations/userService.ts
  backend/services/interfaces/userService.ts
  e2e-tests/cat.png
  e2e-tests/conftest.py
  e2e-tests/dog.jpg
  e2e-tests/test_auth_gql.py
  e2e-tests/test_entity_gql.py
  e2e-tests/test_simple_entity_gql.py
  e2e-tests/test_user_gql.py
Due: belint

remove starter code and unused functions from test session and auth
  backend/graphql/index.ts
  backend/graphql/resolvers/entityResolvers.ts
  backend/graphql/resolvers/simpleEntityResolvers.ts
  backend/graphql/types/entityType.ts
  backend/graphql/types/simpleEntityType.ts
  backend/models/entity.model.ts
  backend/models/simpleEntity.model.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/entityService.ts
  backend/services/implementations/simpleEntityService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/IEntityService.ts
  backend/services/interfaces/simpleEntityService.ts
  backend/services/interfaces/testSessionService.ts
  frontend/src/APIClients/mutations/AuthMutations.ts
Due: felint, belint

remove unused school code
  backend/graphql/resolvers/schoolResolvers.ts
  backend/graphql/types/schoolType.ts
  backend/services/implementations/__tests__/schoolService.test.ts
  backend/services/implementations/schoolService.ts
  backend/services/interfaces/schoolService.ts
Due: belint

remove unused mock data
  backend/services/implementations/__tests__/schoolService.test.ts
  backend/testUtils/school.ts
Due: belint

handle test session references on class archive
  backend/services/implementations/classService.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
Due: felint, belint

PR feedback: button style
  frontend/src/components/teacher/student-management/classroom-summary/DeleteClassroomModal.tsx
  frontend/src/components/teacher/student-management/view-students/EditStudentPopover.tsx
Due: felint

PR feedback: fix padding for most empty states
  frontend/src/components/common/table/SearchableTablePage.tsx
Due: felint

PR feedback: string with em -> number
  frontend/src/components/teacher/student-management/view-students/EditStudentPopover.tsx
Due: felint

PR feedback: rename `EditStudentPopover` -> `StudentListPopover`
  frontend/src/components/teacher/student-management/view-students/StudentListPopover.tsx
  frontend/src/components/teacher/student-management/view-students/StudentsTable.tsx
Due: felint

populate data for test session editing
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/queries/TestSessionQueries.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/APIClients/types/TestSessionClientTypes.ts
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomAssessmentsPage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/index.tsx
  frontend/src/components/pages/teacher/DistributeAssessmentPage.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
  frontend/src/components/teacher/view-sessions/useAssessmentDataQuery.ts
Due: felint

Remove archived classes from test distribution
  backend/services/implementations/testSessionService.ts
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
Due: felint, belint

fix: only delete upcoming test sessions (#551)
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testSessionService.ts
  frontend/src/components/teacher/view-sessions/TestSessionListItem.tsx
  frontend/src/components/teacher/view-sessions/TestSessionListItemPopover.tsx
Due: felint, belint

update archive copy
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
Due: felint

PR feedback: add test
  backend/services/implementations/__tests__/testSessionService.test.ts
Due: belint

fix: remove archived classes from test distribution (#556)
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testSessionService.ts
  frontend/src/components/teacher/session-creation/steps/ChooseClass.tsx
Due: felint, belint

Enable archive classroom feature
  frontend/src/checkFeatureFlag.ts
Due: felint

fix return object
  backend/models/testSession.model.ts
  backend/models/user.model.ts
  backend/services/implementations/__tests__/classService.test.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/classAssertions.ts
Due: belint

add error handling
  backend/models/testSession.model.ts
  backend/models/user.model.ts
Due: belint

fix: remove unused code (#552)
  backend/graphql/index.ts
  backend/graphql/resolvers/entityResolvers.ts
  backend/graphql/resolvers/schoolResolvers.ts
  backend/graphql/resolvers/simpleEntityResolvers.ts
  backend/graphql/resolvers/userResolvers.ts
  backend/graphql/types/entityType.ts
  backend/graphql/types/schoolType.ts
  backend/graphql/types/simpleEntityType.ts
  backend/graphql/types/userType.ts
  backend/models/entity.model.ts
  backend/models/simpleEntity.model.ts
  backend/services/implementations/__tests__/schoolService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/__tests__/userService.test.ts
  backend/services/implementations/entityService.ts
  backend/services/implementations/schoolService.ts
  backend/services/implementations/simpleEntityService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/implementations/userService.ts
  backend/services/interfaces/IEntityService.ts
  backend/services/interfaces/schoolService.ts
  backend/services/interfaces/simpleEntityService.ts
  backend/services/interfaces/testSessionService.ts
  backend/services/interfaces/userService.ts
  backend/testUtils/school.ts
  e2e-tests/cat.png
  e2e-tests/conftest.py
  e2e-tests/dog.jpg
  e2e-tests/test_auth_gql.py
  e2e-tests/test_entity_gql.py
  e2e-tests/test_simple_entity_gql.py
  e2e-tests/test_user_gql.py
  frontend/src/APIClients/mutations/AuthMutations.ts
Due: felint, belint

bug?
  frontend/src/components/common/modal/Modal.tsx
Due: felint

feat: student deletion (#550)
  backend/graphql/resolvers/classResolvers.ts
  backend/graphql/types/classType.ts
  backend/services/implementations/classService.ts
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/APIClients/queries/ClassQueries.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/common/modal/Modal.tsx
  frontend/src/components/common/table/SearchableTablePage.tsx
  frontend/src/components/pages/teacher/DisplayClassroomPage/DisplayClassroomStudentsPage.tsx
  frontend/src/components/teacher/student-management/classroom-summary/DeleteClassroomModal.tsx
  frontend/src/components/teacher/student-management/view-students/EditStudentPopover.tsx
  frontend/src/components/teacher/student-management/view-students/StudentListPopover.tsx
  frontend/src/components/teacher/student-management/view-students/StudentsTable.tsx
Due: felint, belint

Remove the ability to edit archived classrooms
  backend/services/implementations/classService.ts
  frontend/src/components/teacher/student-management/classroom-summary/ClassroomPopover.tsx
Due: felint, belint

Add missing field to query
  frontend/src/APIClients/queries/ClassQueries.ts
Due: felint
