Repository uwblueprint/jump-math: changes, and which pre-commit hooks are due for each by the changed paths.
All: felint, belint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: felint
        name: Lint frontend files
        files: ^frontend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh felint
    -   id: belint
        name: Lint backend files
        files: ^backend/.*\.[jt]sx?$
        types: [file]
        language: system
        entry: ./scripts/lint.sh belint

refactor
  backend/graphql/resolvers/testResolvers.ts
  backend/middlewares/validators/testValidators.ts
  backend/models/test.model.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/imageUploadService.ts
  backend/services/implementations/testService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/imageUploadService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/imageStorage.ts
  backend/testUtils/tests.ts
Due: belint

clean up unit tests
  backend/graphql/resolvers/testResolvers.ts
  backend/services/implementations/__tests__/statisticService.test.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/statistics.ts
  backend/testUtils/testSession.ts
  backend/testUtils/tests.ts
  backend/types.ts
Due: belint

add new types
  backend/types/index.ts
  backend/types/questionTypes.ts
Due: belint

pr comments
  frontend/src/components/assessments/assessment-status/EditStatusPopover.tsx
Due: felint

fix: teacher signup back button (#198)
  frontend/src/components/auth/teacher-signup/steps/TeacherSignupFour.tsx
Due: felint

fix: Prevent user self-deletion (#205)
  frontend/src/components/user-management/admin/AdminUserTable.tsx
Due: felint

remove unused import
  frontend/src/components/assessments/assessment-status/EditStatusPopover.tsx
Due: felint

margin
  frontend/src/themes/components/alert.ts
Due: felint

feat: add archive option to status menu (#204)
  frontend/src/components/assessments/assessment-status/EditStatusButtons/ArchiveButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/UnarchiveButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/ArchiveModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/UnarchiveModal.tsx
  frontend/src/components/assessments/assessment-status/EditStatusPopover.tsx
Due: felint

fix: disappearing confirmation modal (#203)
  frontend/src/components/user-management/RemoveUserModal.tsx
  frontend/src/themes/components/alert.ts
Due: felint

push fixes
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/password/PasswordForm.tsx
  frontend/src/components/auth/student-login/StudentLogin.tsx
  frontend/src/components/common/BackButton.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/question-creation/QuestionSidebarItem.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
  frontend/src/components/user-management/admin/AddAdminModal.tsx
Due: felint

fix pagination spacing
  frontend/src/components/common/table/Table.tsx
Due: felint

fix sort menu label
  frontend/src/components/pages/admin/UsersPage.tsx
Due: felint

Update frontend/src/components/auth/student-login/StudentLogin.tsx
  frontend/src/components/auth/student-login/StudentLogin.tsx
Due: felint

reduce pagination by 1
  frontend/src/components/common/table/Table.tsx
Due: felint

pr comments
  frontend/src/components/question-creation/question-elements/modals/ResponseTypeModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-option/MultiOptionModal.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/components/user-management/student/AddStudentModal.tsx
Due: felint

Update frontend/src/components/common/BackButton.tsx
  frontend/src/components/common/BackButton.tsx
Due: felint

padding
  frontend/src/components/question-creation/QuestionSidebarItem.tsx
Due: felint

remove unused imports
  frontend/src/components/auth/student-login/StudentLogin.tsx
  frontend/src/components/common/BackButton.tsx
Due: felint

pr comment
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/common/BackButton.tsx
Due: felint

fixes: minor changes requested by design (#202)
  frontend/src/components/auth/Login.tsx
  frontend/src/components/auth/password/PasswordForm.tsx
  frontend/src/components/auth/student-login/StudentLogin.tsx
  frontend/src/components/common/BackButton.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/common/table/Table.tsx
  frontend/src/components/pages/admin/DisplayAssessmentsPage.tsx
  frontend/src/components/pages/admin/UsersPage.tsx
  frontend/src/components/question-creation/QuestionSidebarItem.tsx
  frontend/src/components/question-creation/question-elements/modals/ResponseTypeModal.tsx
  frontend/src/components/question-creation/question-elements/modals/multi-option/MultiOptionModal.tsx
  frontend/src/components/user-management/RemoveUserModal.tsx
  frontend/src/components/user-management/admin/AddAdminModal.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/components/user-management/student/AddStudentModal.tsx
Due: felint

refactor types using generics
  backend/graphql/resolvers/testResolvers.ts
  backend/middlewares/validators/testValidators.ts
  backend/models/test.model.ts
  backend/services/implementations/testService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/tests.ts
  backend/types/questionMetadataTypes.ts
  backend/types/questionTypes.ts
Due: belint

renaming
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
Due: felint

add more docs
  backend/graphql/resolvers/testResolvers.ts
  backend/services/implementations/testService.ts
  backend/services/implementations/testSessionService.ts
  backend/services/interfaces/testService.ts
  backend/testUtils/tests.ts
  backend/types/questionMetadataTypes.ts
  backend/types/questionTypes.ts
Due: belint

feat: publish assessment from create assessment page (#192)
  frontend/src/components/assessments/assessment-creation/CreateAssessmentHeader.tsx
  frontend/src/components/assessments/assessment-status/EditStatusButtons/PublishButton.tsx
  frontend/src/components/assessments/assessment-status/EditStatusModals/PublishModal.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
Due: felint

refactor tests
  backend/services/implementations/__tests__/testService.test.ts
Due: belint

fix tests
  backend/graphql/resolvers/testResolvers.ts
  backend/graphql/types/testType.ts
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/services/implementations/testService.ts
  backend/types/questionMetadataTypes.ts
Due: belint

refactor test utils
  backend/testUtils/statistics.ts
  backend/testUtils/testSession.ts
  backend/testUtils/tests.ts
Due: belint

remove extra mock data
  backend/services/implementations/__tests__/testSessionService.test.ts
  backend/testUtils/tests.ts
Due: belint

refactor assertResponseMatchesExpected
  backend/services/implementations/__tests__/testService.test.ts
  backend/services/implementations/testService.ts
  backend/testUtils/tests.ts
Due: belint

remove console log
  backend/services/implementations/__tests__/testService.test.ts
Due: belint

more refactoring
  backend/services/implementations/testService.ts
Due: belint

added warning
  backend/graphql/types/classType.ts
  backend/models/class.model.ts
  backend/services/implementations/classService.ts
  backend/services/interfaces/classService.ts
  backend/testUtils/class.ts
  frontend/src/APIClients/mutations/ClassMutations.ts
  frontend/src/APIClients/types/ClassClientTypes.ts
  frontend/src/components/common/WarningToast.tsx
  frontend/src/components/pages/teacher/TeacherPage.tsx
  frontend/src/components/user-management/student/AddClassroomConfirmationMessage.tsx
  frontend/src/components/user-management/student/AddClassroomModal.tsx
  frontend/src/components/user-management/student/SelectFormInputClassroom.tsx
Due: felint, belint

changed teacehr in classResponse to UserREsponse
  frontend/src/APIClients/types/ClassClientTypes.ts
Due: felint

made changes to states
  frontend/src/components/user-management/student/AddClassroomModal.tsx
Due: felint

add fe changes
  backend/middlewares/validators/testValidators.ts
  backend/types/questionTypes.ts
  frontend/src/APIClients/mutations/TestMutations.ts
  frontend/src/APIClients/types/TestClientTypes.ts
  frontend/src/assets/icons.tsx
  frontend/src/components/pages/admin/CreateAssessmentPage.tsx
  frontend/src/components/question-creation/QuestionElementItem.tsx
  frontend/src/components/question-creation/QuestionSidebarItem.tsx
  frontend/src/components/question-creation/question-elements/ImageElement.tsx
  frontend/src/components/question-creation/question-elements/SaveQuestionEditorButton.tsx
  frontend/src/types/QuestionMetadataTypes.ts
  frontend/src/types/QuestionTypes.ts
  frontend/src/utils/QuestionUtils.ts
Due: felint, belint

fix import
  backend/models/test.model.ts
Due: belint

improve backend code quality
  backend/services/implementations/imageUploadService.ts
  backend/services/implementations/testService.ts
Due: belint
